In [ ]:
!pip install -U -q PyDrive
!pip install openpyxl
!pip install fuzzywuzzy
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)


from fuzzywuzzy import process, fuzz
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np


#import modules

import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import scipy.special as spsp
import scipy.stats as spst
from statsmodels.base.model import GenericLikelihoodModel
import datetime as dt

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [ ]:
from google.colab import files
uploaded = files.upload()
import io
data1 = io.BytesIO(uploaded['nyusternjson2.csv'])

Saving nyusternjson2.csv to nyusternjson2.csv

In [ ]:
# io.StringIO(uploaded["kellog.json"].decode("utf-8"))
# pd.read_csv(io.StringIO(uploaded["kellog.json"].decode("utf-8")))
df = pd.read_csv(data1)

In [ ]:
df.rename(columns={'general/fullName':'Full name'}, inplace=True)
df.rename(columns={'general/profileUrl':'Profile url'}, inplace=True)


df.rename(columns={'jobs/0/companyName':'Organization 1'}, inplace=True)
df.rename(columns={'jobs/0/companyUrl':'Organization LI URL 1'}, inplace=True)

df.rename(columns={'jobs/1/companyName':'Organization 2'}, inplace=True)
df.rename(columns={'jobs/1/companyUrl':'Organization LI URL 2'}, inplace=True)

df.rename(columns={'jobs/2/companyName':'Organization 3'}, inplace=True)
df.rename(columns={'jobs/2/companyUrl':'Organization LI URL 3'}, inplace=True)

df.rename(columns={'jobs/3/companyName':'Organization 4'}, inplace=True)
df.rename(columns={'jobs/3/companyUrl':'Organization LI URL 4'}, inplace=True)

df.rename(columns={'jobs/4/companyName':'Organization 5'}, inplace=True)
df.rename(columns={'jobs/4/companyUrl':'Organization LI URL 5'}, inplace=True)

df.rename(columns={'jobs/5/companyName':'Organization 6'}, inplace=True)
df.rename(columns={'jobs/5/companyUrl':'Organization LI URL 6'}, inplace=True)

df.rename(columns={'jobs/6/companyName':'Organization 7'}, inplace=True)
df.rename(columns={'jobs/6/companyUrl':'Organization LI URL 7'}, inplace=True)

df.rename(columns={'jobs/8/companyName':'Organization 8'}, inplace=True)
df.rename(columns={'jobs/8/companyUrl':'Organization LI URL 8'}, inplace=True)

df.rename(columns={'jobs/9/companyName':'Organization 9'}, inplace=True)
df.rename(columns={'jobs/9/companyUrl':'Organization LI URL 9'}, inplace=True)

df.rename(columns={'jobs/10/companyName':'Organization 10'}, inplace=True)
df.rename(columns={'jobs/10/companyUrl':'Organization LI URL 10'}, inplace=True)

In [ ]:
df["jobs/2/dateRange"]

0     Jan 2018 – Mar 2019
1     May 2015 – Jul 2016
2      Jan 2013 – Present
3     Jun 2011 – Aug 2011
4     Nov 2015 – Nov 2016
5     Jun 2015 – Sep 2017
6     Jul 2019 – Oct 2019
7     Jun 2019 – Aug 2019
8     May 2016 – Nov 2016
9     Nov 2016 – Feb 2018
10    Aug 2010 – Jul 2013
11    Aug 2012 – Mar 2017
12    Aug 2013 – Jun 2015
13    Jan 2015 – Dec 2016
14    May 2015 – Aug 2015
15    Aug 2016 – Dec 2016
16     Mar 2019 – Present
17    Aug 2009 – Jan 2013
18    Jan 2011 – Dec 2013
19    Aug 2009 – Sep 2010
20    May 2010 – Jun 2011
21                    NaN
22    Jul 2017 – Jun 2019
23    Jun 2010 – Oct 2012
24    Sep 2019 – Jan 2020
25            2015 – 2018
26    Jan 2010 – Sep 2010
27    Jan 2018 – Oct 2019
28    Jan 2014 – May 2015
29            2008 – 2011
30                   2015
31    Jun 2016 – Aug 2016
32    Aug 2013 – Jun 2014
33    Jul 2018 – May 2019
34    Jun 2019 – Aug 2019
35    Jan 2017 – Jul 2018
36    Apr 2015 – Feb 2018
37    Jul 2017 – Jun 2018
38    Jul 2018 – Sep 2018
39    Feb 2015 – Jun 2018
40    Jul 2008 – Oct 2016
41                    NaN
42    Jun 2015 – Jul 2016
43                   2018
44    Jul 2002 – Jun 2011
45    Jun 2017 – Aug 2017
46    Nov 2018 – May 2019
47    May 2005 – Jun 2007
48    Aug 2015 – Jan 2017
49    May 2017 – Aug 2017
50    Jul 2016 – Jul 2017
Name: jobs/2/dateRange, dtype: object

In [ ]:
# df["jobs/0/dateRange"].dtype
df[['Organization Start 1','Organization End 1']] = df["jobs/0/dateRange"].str.split("–",expand = True) 
df[['Organization Start 1','Organization End 1']] 


df[['Organization Start 2','Organization End 2']] = df["jobs/1/dateRange"].str.split("–",expand = True) 
df[['Organization Start 2','Organization End 2']] 

df[['Organization Start 3','Organization End 3']] = df["jobs/2/dateRange"].str.split("–",expand = True) 
df[['Organization Start 4','Organization End 4']] = df["jobs/3/dateRange"].str.split("–",expand = True) 
df[['Organization Start 5','Organization End 5']] = df["jobs/4/dateRange"].str.split("–",expand = True) 
df[['Organization Start 6','Organization End 6']] = df["jobs/5/dateRange"].str.split("–",expand = True) 
df[['Organization Start 7','Organization End 7']] = df["jobs/6/dateRange"].str.split("–",expand = True) 
df[['Organization Start 8','Organization End 8']] = df["jobs/7/dateRange"].str.split("–",expand = True) 
df[['Organization Start 9','Organization End 9']] = df["jobs/8/dateRange"].str.split("–",expand = True) 
df[['Organization Start 10','Organization End 10']] = df["jobs/9/dateRange"].str.split("–",expand = True)

In [ ]:
df.rename(columns={'schools/0/schoolUrl':'SchoolURL1'}, inplace=True)
df.rename(columns={'schools/0/schoolName':'Education 1'}, inplace=True)
df.rename(columns={'schools/0/degree':'Education Degree 1'}, inplace=True)


df.rename(columns={'schools/1/schoolUrl':'SchoolURL2'}, inplace=True)
df.rename(columns={'schools/1/schoolName':'Education 2'}, inplace=True)
df.rename(columns={'schools/1/degree':'Education Degree 2'}, inplace=True)


df.rename(columns={'schools/2/schoolUrl':'SchoolURL3'}, inplace=True)
df.rename(columns={'schools/2/schoolName':'Education 3'}, inplace=True)
df.rename(columns={'schools/2/degree':'Education Degree 3'}, inplace=True)


df.rename(columns={'schools/3/schoolUrl':'SchoolURL4'}, inplace=True)
df.rename(columns={'schools/3/schoolName':'Education 4'}, inplace=True)
df.rename(columns={'schools/3/degree':'Education Degree 4'}, inplace=True)

df.rename(columns={'schools/4/schoolUrl':'SchoolURL5'}, inplace=True)
df.rename(columns={'schools/4/schoolName':'Education 5'}, inplace=True)
df.rename(columns={'schools/4/degree':'Education Degree 5'}, inplace=True)


df.rename(columns={'schools/5/schoolUrl':'SchoolURL6'}, inplace=True)
df.rename(columns={'schools/5/schoolName':'Education 6'}, inplace=True)
df.rename(columns={'schools/5/degree':'Education Degree 6'}, inplace=True)

In [ ]:
df[['Education Start 1','Education End 1']] = df["schools/0/dateRange"].str.split("–",expand = True) 
df[['Education Start 2','Education End 2']] = df["schools/1/dateRange"].str.split("–",expand = True) 
df[['Education Start 3','Education End 3']] = df["schools/2/dateRange"].str.split("–",expand = True) 
df[['Education Start 4','Education End 4']] = df["schools/3/dateRange"].str.split("–",expand = True) 
df[['Education Start 5','Education End 5']] = df["schools/4/dateRange"].str.split("–",expand = True) 
df[['Education Start 6','Education End 6']] = df["schools/5/dateRange"].str.split("–",expand = True)


# New Section

START HERE

In [ ]:
def match_name(name, list_names, min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for name2 in list_names:
        #Finding fuzzy match score
        score = fuzz.QRatio(name, name2)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = name2
            max_score = score
    return (max_name, max_score)

In [ ]:

from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc1 = gspread.authorize(GoogleCredentials.get_application_default())
wb1 = gc1.open_by_url('https://docs.google.com/spreadsheets/d/1Byvu6O4eCliUOfgRevDhM5hzykpFwu3fAgLBTWYv4AE/edit?usp=sharing')
sheet1 = wb1.worksheet('Degrees_Master1')
data1 = sheet1.get_all_values()
it = pd.DataFrame(data1)

it.columns = it.iloc[0]
it = it.iloc[1:]
it

0                                         DegreeMaster         Type  ...  MBA Other
1                                                   BA   University  ...
2                                     Bachelor of Arts   University  ...
3                                       Master of Arts   University  ...
4                                                  MBA   Management  ...  YES
5              Master of Business Administration - MBA   Management  ...  YES
6                                        MBA Candidate   Management  ...  YES
7    Master of Business Administration - MBA Candidate   Management  ...  YES
8              MBA - Master of Business Administration   Management  ...  YES
9              Master of Business Administration (MBA)   Management  ...  YES
10                  Full Time MBA Program, Dean’s List   Management  ...  YES
11   Master of Business Administration - MBA (STEM ...   Management  ...  YES
12                                     Master's degree               ...
13                             Bachelor of Engineering  Engineering  ...
14          Master of Business Administration (M.B.A.)   Management  ...  YES
15                             Bachelor of Arts (B.A.)   University  ...
16                                                M.S.  Engineering  ...
17                                         BSc Honours  Engineering  ...
18                                   Bachelor's degree               ...
19   Master of Business Administration - STEM Desig...   Management  ...  YES
20                          Bachelor of Science (B.S.)  Engineering  ...
21                    Bachelor of Technology (B.Tech.)  Engineering  ...
22                                              B.Tech  Engineering  ...
23                              Bachelor of Technology  Engineering  ...
24                        Bachelor of Engineering - BE  Engineering  ...
25                      Bachelor of Engineering (B.E.)  Engineering  ...
26   B.Tech-M.tech/ Dual Degree, Mechanical Enginee...  Engineering  ...
27                               Accredited Gemologist        Other  ...        YES
28   Master of Technology - MTech (Integrated 5-yea...  Engineering  ...
29                                         B.E. (hons)  Engineering  ...
30                                  Certificate Course        Other  ...        YES
31                                           BA (Hons)   University  ...
32               B.Tech (Hons.) & M.Tech (Dual Degree)  Engineering  ...
33                                 Certificate Program        Other  ...        YES
34                        Bachelor of Commerce (Hons.)     Commerce  ...
35        Young India Fellowship (Acceptance rate <5%)   University  ...
36                              Master of Science (MS)  Engineering  ...
37                                                 BSE  Engineering  ...
38                                Chartered Accountant     Commerce  ...
39                                             M.Tech.  Engineering  ...
40                           Bachelor of Science (BSc)  Engineering  ...
41                                    Associate Member        Other  ...        YES
42                   Summer Semester in Beijing, China        Other  ...        YES
43               Bachelor of Commerce (B.Com.) Honours     Commerce  ...
44                 Full Stack Web Developer Nanodegree        Other  ...        YES
45   Bachelor of Engineering (B.E.), Masters Of Sci...  Engineering  ...
46   Chartered Accountant (Indian equivalent of the...     Commerce  ...
47                                   Bachelor’s Degree               ...
48      All India Secondary School Examination (AISSE)        Other  ...        YES
49                     Bachelor of Engineering (Hons.)  Engineering  ...
50             Bachelor of Computer Engineering (B.E.)  Engineering  ...
51                      Bachelor of Technology (BTech)  Engineering  ...
52   Bachelor and Master of Technology (B.Tech. & M...  Engineering  ...
53                                Graduate Certificate        Other  ...        YES
54                         Bachelor of Commerce - BCom     Commerce  ...
55                                             Diploma        Other  ...        YES
56                     Primary, Middle and High School        Other  ...        YES
57                                             I.C.S.E        Other  ...        YES
58                         Chartered Financial Analyst        Other  ...        YES
59                          Andhra Pradesh State Board        Other  ...        YES
60                                         High School        Other  ...        YES
61                                           Bachelors               ...
62   National Emergency Medical Technician (EMT) Ba...        Other  ...        YES
63                                                ICSE        Other  ...        YES
64                         International Baccalaureate        Other  ...        YES
65           Bachelor of Business Administration (BBA)   Management  ...
66                                       Charterholder        Other  ...        YES
67                                             B. Tech  Engineering  ...
68                                            Bachelor               ...
69                                                 ISC        Other  ...        YES
70                      Bachelor of Technology - BTech  Engineering  ...
71                                                 BBA   University  ...
72                     Master of International Affairs   University  ...
73                   Chartered Financial Analyst (CFA)     Commerce  ...        YES
74                     Credentials of Readiness (CORE)        Other  ...        YES
75                              Master of Science - MS  Engineering  ...
76                                MBA Exchange Program        Other  ...        YES
77                     Bachelor of Business Management   Management  ...
78                        Dual Degree: B-Tech & M-Tech  Engineering  ...
79                                                B.Sc  Engineering  ...
80                                   Bachelor's Degree               ...
81                            Bachelor of Science (BS)  Engineering  ...
82                                   Master of Science  Engineering  ...
83                                                  BS  Engineering  ...
84                                                B.S.  Engineering  ...
85                                             C.B.S.E        Other  ...        YES
86                           Summer Management Program        Other  ...        YES
87                  Higher Secondary Examination(12th)        Other  ...        YES
88                                                BFIA        Other  ...
89                                    Exchange student        Other  ...        YES
90                      Bachelor of Technology- B.Tech  Engineering  ...
91                                                CBSE        Other  ...        YES
92                          Bachelor of Science (BSc.)  Engineering  ...
93                 International Baccalaureate Diploma        Other  ...        YES
94                                             B.Tech.  Engineering  ...
95                                Bachelor of Commerce     Commerce  ...
96                                       Matriculation        Other  ...        YES
97                       Bachelors of Commerce (Hons.)     Commerce  ...
98                                   Summer Internship        Other  ...        YES
99                                         Participant        Other  ...        YES
100                                                 CA     Commerce  ...
101                       Master of Technology - MTech  Engineering  ...
102              Post Graduate Programme in Management   Management  ...  YES
103                                               PGDM   Management  ...  YES
104                                                 MS  Engineering  ...
105          Bachelor of Business Administration - BBA   Management  ...
106                             Bachelor of Laws - LLB          Law  ...
107                                           A-Levels        Other  ...        YES
108                                              Minor        Other  ...        YES
109                    Intro to Programming Nanodegree        Other  ...        YES
110                          Master of Science (Hons.)  Engineering  ...
111                           Master of Science (MSc.)  Engineering  ...
112                         Doctor of Philosophy - PhD   University  ...        YES
113                                  Engineer's Degree  Engineering  ...
114                              Master of Arts (M.A.)   University  ...
115                                 Integrated Masters               ...
116                                      Full Time MBA   Management  ...  YES
117                                    Post Graduation               ...
118                                               B.E.  Engineering  ...
119                                         B.Commerce     Commerce  ...
120                                                PhD   University  ...        YES

[120 rows x 6 columns]

In [ ]:
it["DegreeMaster"].dtype
it['DegreeMaster'] = it['DegreeMaster'].astype(str)
it1 = it
it2 = it
it3 = it
it4 = it
it5 = it
it6 = it

it

0                                         DegreeMaster         Type  ...  MBA Other
1                                                   BA   University  ...
2                                     Bachelor of Arts   University  ...
3                                       Master of Arts   University  ...
4                                                  MBA   Management  ...  YES
5              Master of Business Administration - MBA   Management  ...  YES
6                                        MBA Candidate   Management  ...  YES
7    Master of Business Administration - MBA Candidate   Management  ...  YES
8              MBA - Master of Business Administration   Management  ...  YES
9              Master of Business Administration (MBA)   Management  ...  YES
10                  Full Time MBA Program, Dean’s List   Management  ...  YES
11   Master of Business Administration - MBA (STEM ...   Management  ...  YES
12                                     Master's degree               ...
13                             Bachelor of Engineering  Engineering  ...
14          Master of Business Administration (M.B.A.)   Management  ...  YES
15                             Bachelor of Arts (B.A.)   University  ...
16                                                M.S.  Engineering  ...
17                                         BSc Honours  Engineering  ...
18                                   Bachelor's degree               ...
19   Master of Business Administration - STEM Desig...   Management  ...  YES
20                          Bachelor of Science (B.S.)  Engineering  ...
21                    Bachelor of Technology (B.Tech.)  Engineering  ...
22                                              B.Tech  Engineering  ...
23                              Bachelor of Technology  Engineering  ...
24                        Bachelor of Engineering - BE  Engineering  ...
25                      Bachelor of Engineering (B.E.)  Engineering  ...
26   B.Tech-M.tech/ Dual Degree, Mechanical Enginee...  Engineering  ...
27                               Accredited Gemologist        Other  ...        YES
28   Master of Technology - MTech (Integrated 5-yea...  Engineering  ...
29                                         B.E. (hons)  Engineering  ...
30                                  Certificate Course        Other  ...        YES
31                                           BA (Hons)   University  ...
32               B.Tech (Hons.) & M.Tech (Dual Degree)  Engineering  ...
33                                 Certificate Program        Other  ...        YES
34                        Bachelor of Commerce (Hons.)     Commerce  ...
35        Young India Fellowship (Acceptance rate <5%)   University  ...
36                              Master of Science (MS)  Engineering  ...
37                                                 BSE  Engineering  ...
38                                Chartered Accountant     Commerce  ...
39                                             M.Tech.  Engineering  ...
40                           Bachelor of Science (BSc)  Engineering  ...
41                                    Associate Member        Other  ...        YES
42                   Summer Semester in Beijing, China        Other  ...        YES
43               Bachelor of Commerce (B.Com.) Honours     Commerce  ...
44                 Full Stack Web Developer Nanodegree        Other  ...        YES
45   Bachelor of Engineering (B.E.), Masters Of Sci...  Engineering  ...
46   Chartered Accountant (Indian equivalent of the...     Commerce  ...
47                                   Bachelor’s Degree               ...
48      All India Secondary School Examination (AISSE)        Other  ...        YES
49                     Bachelor of Engineering (Hons.)  Engineering  ...
50             Bachelor of Computer Engineering (B.E.)  Engineering  ...
51                      Bachelor of Technology (BTech)  Engineering  ...
52   Bachelor and Master of Technology (B.Tech. & M...  Engineering  ...
53                                Graduate Certificate        Other  ...        YES
54                         Bachelor of Commerce - BCom     Commerce  ...
55                                             Diploma        Other  ...        YES
56                     Primary, Middle and High School        Other  ...        YES
57                                             I.C.S.E        Other  ...        YES
58                         Chartered Financial Analyst        Other  ...        YES
59                          Andhra Pradesh State Board        Other  ...        YES
60                                         High School        Other  ...        YES
61                                           Bachelors               ...
62   National Emergency Medical Technician (EMT) Ba...        Other  ...        YES
63                                                ICSE        Other  ...        YES
64                         International Baccalaureate        Other  ...        YES
65           Bachelor of Business Administration (BBA)   Management  ...
66                                       Charterholder        Other  ...        YES
67                                             B. Tech  Engineering  ...
68                                            Bachelor               ...
69                                                 ISC        Other  ...        YES
70                      Bachelor of Technology - BTech  Engineering  ...
71                                                 BBA   University  ...
72                     Master of International Affairs   University  ...
73                   Chartered Financial Analyst (CFA)     Commerce  ...        YES
74                     Credentials of Readiness (CORE)        Other  ...        YES
75                              Master of Science - MS  Engineering  ...
76                                MBA Exchange Program        Other  ...        YES
77                     Bachelor of Business Management   Management  ...
78                        Dual Degree: B-Tech & M-Tech  Engineering  ...
79                                                B.Sc  Engineering  ...
80                                   Bachelor's Degree               ...
81                            Bachelor of Science (BS)  Engineering  ...
82                                   Master of Science  Engineering  ...
83                                                  BS  Engineering  ...
84                                                B.S.  Engineering  ...
85                                             C.B.S.E        Other  ...        YES
86                           Summer Management Program        Other  ...        YES
87                  Higher Secondary Examination(12th)        Other  ...        YES
88                                                BFIA        Other  ...
89                                    Exchange student        Other  ...        YES
90                      Bachelor of Technology- B.Tech  Engineering  ...
91                                                CBSE        Other  ...        YES
92                          Bachelor of Science (BSc.)  Engineering  ...
93                 International Baccalaureate Diploma        Other  ...        YES
94                                             B.Tech.  Engineering  ...
95                                Bachelor of Commerce     Commerce  ...
96                                       Matriculation        Other  ...        YES
97                       Bachelors of Commerce (Hons.)     Commerce  ...
98                                   Summer Internship        Other  ...        YES
99                                         Participant        Other  ...        YES
100                                                 CA     Commerce  ...
101                       Master of Technology - MTech  Engineering  ...
102              Post Graduate Programme in Management   Management  ...  YES
103                                               PGDM   Management  ...  YES
104                                                 MS  Engineering  ...
105          Bachelor of Business Administration - BBA   Management  ...
106                             Bachelor of Laws - LLB          Law  ...
107                                           A-Levels        Other  ...        YES
108                                              Minor        Other  ...        YES
109                    Intro to Programming Nanodegree        Other  ...        YES
110                          Master of Science (Hons.)  Engineering  ...
111                           Master of Science (MSc.)  Engineering  ...
112                         Doctor of Philosophy - PhD   University  ...        YES
113                                  Engineer's Degree  Engineering  ...
114                              Master of Arts (M.A.)   University  ...
115                                 Integrated Masters               ...
116                                      Full Time MBA   Management  ...  YES
117                                    Post Graduation               ...
118                                               B.E.  Engineering  ...
119                                         B.Commerce     Commerce  ...
120                                                PhD   University  ...        YES

[120 rows x 6 columns]

In [ ]:

it1 = it1.rename(columns = {'Bachelors':'Bachelors1'}) 
it1 = it1.rename(columns = {'Master':'Master1'}) 
it1 = it1.rename(columns = {'MBA':'MBA1'}) 
it1 = it1.rename(columns = {'DegreeMaster':'DegreeMaster1'})
it1 = it1.rename(columns = {'Type':'Type1'})

it2= it2.rename(columns = {'Bachelors':'Bachelors2'}) 
it2= it2.rename(columns = {'Master':'Master2'}) 
it2= it2.rename(columns = {'MBA':'MBA2'}) 
it2= it2.rename(columns = {'DegreeMaster':'DegreeMaster2'}) 
it2 = it2.rename(columns = {'Type':'Type2'})


it3=it3.rename(columns = {'Bachelors':'Bachelors3'}) 
it3=it3.rename(columns = {'Master':'Master3'}) 
it3=it3.rename(columns = {'MBA':'MBA3'}) 
it3=it3.rename(columns = {'DegreeMaster':'DegreeMaster3'}) 
it3 = it3.rename(columns = {'Type':'Type3'})


it4=it4.rename(columns = {'Bachelors':'Bachelors4'}) 
it4=it4.rename(columns = {'Master':'Master4'}) 
it4=it4.rename(columns = {'MBA':'MBA4'}) 
it4=it4.rename(columns = {'DegreeMaster':'DegreeMaster4'}) 
it4 = it4.rename(columns = {'Type':'Type4'})

it5=it5.rename(columns = {'Bachelors':'Bachelors5'}) 
it5=it5.rename(columns = {'Master':'Master5'}) 
it5=it5.rename(columns = {'MBA':'MBA5'}) 
it5=it5.rename(columns = {'DegreeMaster':'DegreeMaster5'}) 
it5 = it5.rename(columns = {'Type':'Type5'})


it6=it6.rename(columns = {'Bachelors':'Bachelors6'}) 
it6=it6.rename(columns = {'Master':'Master6'}) 
it6=it6.rename(columns = {'MBA':'MBA6'}) 
it6=it6.rename(columns = {'DegreeMaster':'DegreeMaster6'}) 
it6 = it6.rename(columns = {'Type':'Type6'})

In [ ]:
df["EdDegree1"] = df["Education Degree 1"].replace(np.nan, '', regex=True)
# df["EdDegree2"] = df["Education Degree 2"].replace(np.nan, '', regex=True)
# df["EdDegree3"] = df["Education Degree 3"].replace(np.nan, '', regex=True)


dict_list1 = []
# iterating over our players without salaries found above
for name in df["EdDegree1"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, it1.DegreeMaster1, 50)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"EducationDegree1" : name})
    dict_.update({"match_name1" : match[0]})
    dict_.update({"Score1" : match[1]})
    dict_list1.append(dict_)
    
merge_table1 = pd.DataFrame(dict_list1)
# Display results
merge_table1


merge_table1 = merge_table1.replace(r'^\s*$', np.NaN, regex=True)
# #df = df.replace(r'^\s*$', np.NaN, regex=True)
# df1 = pd.merge(it,merge_table, left_on="DegreeMaster", right_on="match_name")

df = pd.concat([merge_table1, df], axis=1)
df = pd.merge(it1, df, left_on="DegreeMaster1", right_on="match_name1",how='right')
df=df.drop(columns=["DegreeMaster1"])
df

         Type1  ...                                        EdDegree1
0   Management  ...                                              MBA
1   Management  ...                                              MBA
2   Management  ...                                              MBA
3   Management  ...                                              MBA
4   Management  ...                                              MBA
5   Management  ...                                              MBA
6   Management  ...                                              MBA
7   Management  ...                                              MBA
8   Management  ...                                              MBA
9   Management  ...                                              MBA
10  Management  ...          Master of Business Administration - MBA
11  Management  ...          Master of Business Administration - MBA
12  Management  ...          Master of Business Administration - MBA
13  Management  ...          Master of Business Administration - MBA
14  Management  ...          Master of Business Administration - MBA
15  Management  ...          Master of Business Administration - MBA
16  Management  ...          Master of Business Administration - MBA
17  Management  ...          Master of Business Administration - MBA
18  Management  ...          Master of Business Administration - MBA
19  Management  ...          Master of Business Administration - MBA
20  Management  ...          Master of Business Administration - MBA
21  Management  ...          Master of Business Administration - MBA
22  Management  ...          Master of Business Administration - MBA
23  Management  ...          Master of Business Administration - MBA
24  Management  ...          Master of Business Administration - MBA
25  Management  ...          Master of Business Administration - MBA
26  Management  ...          Master of Business Administration - MBA
27  Management  ...          Master of Business Administration - MBA
28  Management  ...  Student Master of Business Administration (MBA)
29  Management  ...          Master of Business Administration (MBA)
30  Management  ...          Master of Business Administration (MBA)
31  Management  ...          Master of Business Administration (MBA)
32  Management  ...          Master of Business Administration (MBA)
33  Management  ...          Master of Business Administration (MBA)
34  Management  ...          Master of Business Administration (MBA)
35  Management  ...           Master of Business Adminstration (MBA)
36  Management  ...          Master of Business Administration (MBA)
37  Management  ...          Master of Business Administration (MBA)
38              ...                                  Master’s Degree
39  Management  ...       Master of Business Administration (M.B.A.)
40  Management  ...       Master of Business Administration (M.B.A.)
41  Management  ...       Master of Business Administration (M.B.A.)
42  Management  ...       Master of Business Administration (M.B.A.)
43  Management  ...       Master of Business Administration (M.B.A.)
44  Management  ...       Master of Business Administration (M.B.A.)
45  Management  ...       Master of Business Administration (M.B.A.)
46  Management  ...       Master of Business Administration (M.B.A.)
47  Management  ...       Master of Business Administration (M.B.A.)
48       Other  ...             Certificate in Leadership Excellence
49       Other  ...                                     MBA Exchange
50  University  ...                                              PhD

[51 rows x 386 columns]

In [ ]:
dict_list2 = []
df["EdDegree2"] = df["Education Degree 2"].replace(np.nan, '', regex=True)
# iterating over our players without salaries found above
for name in df["EdDegree2"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, it2.DegreeMaster2, 40)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"EducationDegree2" : name})
    dict_.update({"match_name2" : match[0]})
    dict_.update({"Score2" : match[1]})
    dict_list2.append(dict_)
    
merge_table2 = pd.DataFrame(dict_list2)
# Display results
merge_table2

merge_table2 = merge_table2.replace(r'^\s*$', np.NaN, regex=True)

df = pd.concat([merge_table2, df], axis=1)
df = pd.merge(it2, df, left_on="DegreeMaster2", right_on="match_name2",how='right')
df=df.drop(columns=["DegreeMaster2"])

In [ ]:
dict_list3 = []
df["EdDegree3"] = df["Education Degree 3"].replace(np.nan, '', regex=True)
# iterating over our players without salaries found above
for name in df["EdDegree3"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, it3.DegreeMaster3, 40)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"EducationDegree3" : name})
    dict_.update({"match_name3" : match[0]})
    dict_.update({"Score3" : match[1]})
    dict_list3.append(dict_)
    
merge_table3 = pd.DataFrame(dict_list3)
# Display results
merge_table3

merge_table3 = merge_table3.replace(r'^\s*$', np.NaN, regex=True)

df = pd.concat([merge_table3, df], axis=1)
df = pd.merge(it3, df, left_on="DegreeMaster3", right_on="match_name3",how='right')
df=df.drop(columns=["DegreeMaster3"])

In [ ]:
dict_list4 = []
df["EdDegree4"] = df["Education Degree 4"].replace(np.nan, '', regex=True)
# iterating over our players without salaries found above
for name in df["EdDegree4"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, it4.DegreeMaster4, 40)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"EducationDegree4" : name})
    dict_.update({"match_name4" : match[0]})
    dict_.update({"Score4" : match[1]})
    dict_list4.append(dict_)
    
merge_table4 = pd.DataFrame(dict_list4)
# Display results
merge_table4

merge_table4 = merge_table4.replace(r'^\s*$', np.NaN, regex=True)

df = pd.concat([merge_table4, df], axis=1)
df = pd.merge(it4, df, left_on="DegreeMaster4", right_on="match_name4",how='right')
df=df.drop(columns=["DegreeMaster4"])

In [ ]:
dict_list5 = []

df["EdDegree5"] = df["Education Degree 5"].replace(np.nan, '', regex=True)

# iterating over our players without salaries found above
for name in df["EdDegree5"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, it5.DegreeMaster5, 40)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"EducationDegree5" : name})
    dict_.update({"match_name5" : match[0]})
    dict_.update({"Score5" : match[1]})
    dict_list5.append(dict_)
    
merge_table5 = pd.DataFrame(dict_list5)
# Display results
merge_table5

merge_table5 = merge_table5.replace(r'^\s*$', np.NaN, regex=True)

df = pd.concat([merge_table5, df], axis=1)
df = pd.merge(it5, df, left_on="DegreeMaster5", right_on="match_name5",how='right')
df=df.drop(columns=["DegreeMaster5"])

In [ ]:
dict_list6 = []
df["EdDegree6"] = df["Education Degree 6"].replace(np.nan, '', regex=True)
# iterating over our players without salaries found above
for name in df["EdDegree6"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, it6.DegreeMaster6, 40)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"EducationDegree6" : name})
    dict_.update({"match_name6" : match[0]})
    dict_.update({"Score6" : match[1]})
    dict_list6.append(dict_)
    
merge_table6 = pd.DataFrame(dict_list6)
# Display results
merge_table6

merge_table6 = merge_table6.replace(r'^\s*$', np.NaN, regex=True)

df = pd.concat([merge_table6, df], axis=1)
df = pd.merge(it6, df, left_on="DegreeMaster6", right_on="match_name6",how='right')
df=df.drop(columns=["DegreeMaster6"])

In [ ]:
# from google.colab import files
# uploaded = files.upload()
# import io
# data2 = io.BytesIO(uploaded['Edu_Master.csv']) 

from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc1 = gspread.authorize(GoogleCredentials.get_application_default())
wb1 = gc1.open_by_url('https://docs.google.com/spreadsheets/d/1UZIsD8EeyfR4hSg01zndTd8h14be6nvdHJT-xd-inFA/edit?usp=sharing')
sheet1 = wb1.worksheet('Sheet1')
data1 = sheet1.get_all_values()
insti_master  = pd.DataFrame(data1)

insti_master.columns = insti_master.iloc[0]
insti_master = insti_master.iloc[1:]
insti_master
insti_master = insti_master.drop(columns=["City","State","Ranking",])

insti_master1 = insti_master
insti_master2 = insti_master
insti_master3 = insti_master
insti_master4 = insti_master
insti_master5 = insti_master
insti_master6 = insti_master1

insti_master1 = insti_master1.rename(columns = {'Type':'Type_insti1'})
insti_master1 = insti_master1.rename(columns = {'InstituteMaster':'InstituteMaster1'}) 
insti_master1 = insti_master1.rename(columns = {'Tier':'EdTier1'}) 


insti_master2 = insti_master2.rename(columns = {'Type':'Type_insti2'})
insti_master2 = insti_master2.rename(columns = {'InstituteMaster':'InstituteMaster2'}) 
insti_master2 = insti_master2.rename(columns = {'Tier':'EdTier2'}) 


insti_master3 = insti_master3.rename(columns = {'Type':'Type_insti3'})
insti_master3 = insti_master3.rename(columns = {'InstituteMaster':'InstituteMaster3'}) 
insti_master3 = insti_master3.rename(columns = {'Tier':'EdTier3'}) 


insti_master4 = insti_master4.rename(columns = {'Type':'Type_insti4'})
insti_master4 = insti_master4.rename(columns = {'InstituteMaster':'InstituteMaster4'}) 
insti_master4 = insti_master4.rename(columns = {'Tier':'EdTier4'}) 


insti_master5 = insti_master5.rename(columns = {'Type':'Type_insti5'})
insti_master5 = insti_master5.rename(columns = {'InstituteMaster':'InstituteMaster5'}) 
insti_master5 = insti_master5.rename(columns = {'Tier':'EdTier5'}) 


insti_master6 = insti_master6.rename(columns = {'Type':'Type_insti6'})
insti_master6 = insti_master6.rename(columns = {'InstituteMaster':'InstituteMaster6'}) 
insti_master6 = insti_master6.rename(columns = {'Tier':'EdTier6'}) 
df["Ed1"] = df["Education 1"].replace(np.nan, '', regex=True)
df["Ed2"] = df["Education 2"].replace(np.nan, '', regex=True)
df["Ed3"] = df["Education 3"].replace(np.nan, '', regex=True)
df["Ed4"] = df["Education 4"].replace(np.nan, '', regex=True)
df["Ed5"] = df["Education 5"].replace(np.nan, '', regex=True)
df["Ed6"] = df["Education 6"].replace(np.nan, '', regex=True)

insti_master1

0      Type_insti1                                   InstituteMaster1 EdTier1
1       Management        Ivey Business School at Western University        1
2       University                        Indian Institute of Science       1
3       University                        Jawaharlal Nehru University       1
4       University                          Aligarh Muslim University       2
5       University                            University of Hyderabad       1
6       University                                Calcutta University       1
7      Engineering                          Aligarh Muslim University       3
8       Management                          Aligarh Muslim University       4
9       University                         Amrita Vishwa Vidyapeetham       1
10      University                Manipal Academy of Higher Education       1
11      University                   Savitribai Phule Pune University       2
12    Architecture                          Aligarh Muslim University       2
13         Medical                          Aligarh Muslim University       2
14      University                                University of Delhi       2
15      University                              Bharathiar University       2
16     Engineering                                Alliance University       5
17      University                                  Andhra University       2
18      University                     Homi Bhabha National Institute       2
19      Management                                Alliance University       3
20      University                                   Amity University       4
21      University                               University of Madras       2
22     Engineering                                   Amity University       3
23      University                                  Kerala University       2
24      Management                                   Amity University       3
25          Pharma                                   Amity University       2
26      University                                    Anna University       1
27      University                                 Osmania University       2
28     Engineering                                    Anna University       1
29      University                                Alagappa University       2
30      University                                  Tezpur University       2
31      University                          Mahatma Gandhi University       3
32      Management                                    Anna University       3
33    Architecture                                    Anna University       2
34          Pharma                               Annamalai University       2
35      University       JSS Academy of Higher Education and Research       3
36      University                  Tata Institute of Social Sciences       3
37      University   Bharath Institute of Higher Education & Research       3
38      University                                      Visva Bharati       3
39         Medical                               Annamalai University       2
40      University                      North Eastern Hill University       3
41      University                           Banaras Hindu University       1
42      Management                           Banaras Hindu University       3
43      University                                 Gauhati University       3
44         Medical                           Banaras Hindu University       1
45      University                 Tamil Nadu Agricultural University       3
46      University                          Madurai Kamraj University       3
47      University                               Banasthali Vidyapith       4
48          Pharma                               Banasthali Vidyapith       2
49      University                             Pondicherry University       3
50         Foreign                                  Bethel University       1
51         Foreign                                  Bethel University       1
52      University                     Punjab Agricultural University       4
53      University                              Shiv Nadar University       4
54      University                              University of Kashmir       4
55      University                                  Mysore University       4
56      University                          Guru Nanak Dev University       4
57      University                            Symbiosis International       4
58          Pharma           Bharati Vidyapeeth`s College of Pharmacy       3
59          Pharma           Bharati Vidyapeeth`s College of Pharmacy       4
60      University                           Bharathidasan University       4
61     Engineering                      Birla Institute of Technology       1
62      University                                 Bharati Vidyapeeth       4
63      University  Chaudhary Charan Singh Haryana Agricultural Un...       4
64      University                                 Calicut University       4
65      University        Cochin University of Science and Technology       4
66      University                      Anand Agricultural University       4
67      University                                 Periyar University       4
68      University       KLE Academy of Higher Education and Research       4
69      University                                              NITTE       4
70      University  Sri Balaji Vidyapeeth Mahatma Gandhi Medical C...       4
71      University                                 Kuvempu University       4
72      University                                University of Jammu       4
73      University                     The Gandhigram Rural Institute       4
74      University                                 Mizoram University       4
75      University  Professor Jayashankar Telangana State Agricult...       4
76      University  Dr. Y. S. Parmar University of Horticulture an...       4
77      University                                  Mumbai University       4
78     Engineering            Birla Institute of Technology & Science       1
79      University                University of Agricultural Sciences       4
80      University      Gandhi Institute of Technology and Management       4
81      University       Dr. Babasaheb Ambedkar Marathwada University       4
82          Pharma            Birla Institute of Technology & Science       1
83      University                               Mangalore University       4
84      University              Padmashree Dr. D. Y. Patil Vidyapeeth       4
85      University                          The University of Burdwan       4
86     Engineering                              Chandigarh University       5
87      University                                 Kalyani University       4
88      Management                              Chandigarh University       4
89      University                  Manonmaniam Sundaranar University       4
90      University                                     Goa University       4
91      University                                           Yenepoya       4
92      University                       Central University of Punjab       4
93      University                                   Assam University       4
94      University                                   Kurukshetra Univ       4
95      University                            Rajiv Gandhi University       4
96      University  Meenakshi Academy of Higher Education and Rese...       5
97      Management                                Chitkara University       4
98          Pharma                                Chitkara University       3
99         Medical                          Christian Medical College       1
100        Medical                          Christian Medical College       2
101    Engineering                             College of Engineering       4
102    Engineering            Indian Institute of Technology Guwahati       1
103    Engineering           Indian Institute of Technology Hyderabad       1
104   Architecture                             College of Engineering       1
105    Engineering               College of Engineering Visakhapatnam       4
106    Engineering  Indian Institute of Technology (Banaras Hindu ...       2
107    Engineering              Indian Institute of Technology Indore       2
108     University                    Dayalbagh Educational Institute       4
109    Engineering                    Dayalbagh Educational Institute       4
110    Engineering          National Institute of Technology Rourkela       2
111    Engineering         Indian Institute of Technology Bhubaneswar       2
112     University                     Delhi Technological University       3
113    Engineering  Indian Institute of Engineering Science and Te...       2
114    Engineering               Indian Institute of Technology Mandi       2
115    Engineering         National Institute of Technology Karnataka       2
116    Engineering               Indian Institute of Technology Patna       2
117    Engineering                     Delhi Technological University       3
118    Engineering         Indian Institute of Technology Gandhinagar       2
119     University                               Dibrugarh University       4
120    Engineering          National Institute of Technology Warangal       2
121         Pharma                               Dibrugarh University       2
122     University                         Dr. D. Y. Patil Vidyapeeth       3
123    Engineering               Indian Institute of Technology Ropar       2
124    Engineering   Indian Institute of Space Science and Technology       3
125    Engineering      Visvesvaraya National Institute of Technology       3
126        Medical                         Dr. D. Y. Patil Vidyapeeth       2
127     University  G. B. Pant Universtiy of Agriculture and Techn...       3
128    Engineering  G. B. Pant Universtiy of Agriculture and Techn...       5
129     University          Guru Gobind Singh Indraprastha University       4
130    Engineering          Guru Gobind Singh Indraprastha University       4
131    Engineering   Sri Sivasubramaniya Nadar College of Engineering       3
132     Management          Guru Gobind Singh Indraprastha University       4
133       Commerce                                 Holy Cross College       4
134        Foreign                                 Holy Cross College       1
135    Engineering       National Institute of Technology Kurukshetra       3
136    Engineering     Motilal Nehru National Institute of Technology       3
137    Engineering                    Manipal Institute of Technology       3
138    Engineering  Indian Institute of Technology (Indian School ...       2
139    Engineering          Jawaharlal Nehru Technological University       3
140    Engineering          National Institute of Technology Durgapur       3
141    Engineering              Indian Institute of Technology Bombay       1
142    Engineering             Indian Institute of Technology Jodhpur       4
143    Engineering           National Institute of Technology Silchar       4
144    Engineering               Indian Institute of Technology Delhi       1
145    Engineering           Malviya National Institute of Technology       4
146    Engineering   Indraprastha Institute of Information Technology       4
147    Engineering                 Thiagarajar College of Engineering       4
148    Engineering           Defence Institute of Advanced Technology       4
149    Engineering  Sardar Vallabhbhai National Institute of Techn...       4
150    Engineering              Indian Institute of Technology Kanpur       1
151    Engineering          National Institute of Technology Hamirpur       4
152    Engineering  Kalasalingam Academy of Research and Higher Ed...       4
153    Engineering                       R. V. College of Engineering       4
154    Engineering              M. S. Ramaiah Institute of Technology       4
155    Engineering  International Institute of Information Technol...       4
156    Engineering           Indian Institute of Technology Kharagpur       1
157    Engineering         National Institute of Technology Meghalaya       4
158    Engineering                 Coimbatore Institute of Technology       4
159    Engineering                    B. M. S. College of Engineering       4
160    Engineering          National Institute of Technology Agartala       4
161    Engineering            National Institute of Technology Raipur       4
162    Engineering  Pandit Dwarka Prasad Mishra Indian Institute o...       4
163    Engineering                    Pondicherry Engineering College       4
164    Engineering                   Kumaraguru College of Technology       4
165    Engineering                       PEC University of Technology       4
166    Engineering                 Siddaganga Institute of Technology       4
167    Engineering         Jaypee Institute of Information Technology       4
168    Engineering  Atal Bihari Vajpayee Indian Institute of Infor...       4
169    Engineering  Indian Institute of Information Technology All...       4
170    Engineering              Indian Institute of Technology Madras       1
171    Engineering                  Shri Mata Vaishno Devi University       4
172    Engineering  Vel Tech Rangarajan Dr. Sagunthala R & D Insti...       4
173    Engineering               National Institute of Technology Goa       4
174    Engineering                  Mepco Schlenk Engineering College       4
175    Engineering             Indian Institute of Technology Roorkee       1
176    Engineering                   Government College of Technology       4
177    Engineering                       Army Institute of Technology       4
178    Engineering  Dhirubhai Ambani Institute of Information and ...       4
179    Engineering  Bharati Vidyapeeth Deemed University College o...       4
180    Engineering                 C. V. Raman College of Engineering       4
181    Engineering      Hindustan Institute of Technology and Science       4
182    Engineering                        Punjab Technical University       4
183    Engineering  Sri Krishna College of Engineering and Technology       4
184    Engineering              Bannari Amman Institute of Technology       4
185    Engineering                          Kongu Engineering College       4
186    Engineering         Chaitanya Bharathi Institute of Technology       5
187    Engineering                         Sona College of Technology       5
188    Engineering              Institute of Engineering & Management       5
189    Engineering                             Graphic Era University       5
190    Engineering           Veermata Jijabai Technological Institute       5
191    Engineering                 New Horizon College of Engineering       5
192    Engineering  Vignan`s Foundation for Science, Technology an...       5
193    Engineering  Vallurupalli Nageswara Rao Vignana Jyothi Inst...       5
194    Engineering               G. H. Raisoni College of Engineering       5
195    Engineering  Shri Ramdeobaba College of Engineering and Man...       5
196    Engineering  Dr. B. R. Ambedkar National Institute of Techn...       5
197    Engineering  Bharatiya Vidya Bhavan`s Sardar Patel Institut...       5
198    Engineering                                    Jain university       5
199    Engineering  School of Engineering, Cochin University of Sc...       5
200    Engineering                   Institute of Chemical Technology       2
201    Engineering  National Institute of Food Technology, Enterpr...       5
202    Engineering                            The Northcap University       5
203    Engineering       Sri Jayachamarajendra College of Engineering       5
204    Engineering        Jaypee University of Information Technology       5
205    Engineering                     Sri Sairam Engineering College       5
206    Engineering                       Saveetha Engineering College       5
207     Management                 Institute of Management Technology       3
208    Engineering         Veer Surendra Sai University of Technology       5
209    Engineering             Dayananda Sagar College of Engineering       5
210    Engineering                N. M. A. M. Institute of Technology       5
211    Engineering                 St. Josephs College of Engineering       5
212    Engineering        National Institute of Technology Jamshedpur       5
213    Engineering  B. S. Abdur Rahman Crescent Institute of Scien...       5
214    Engineering                         CVR College of Engineering       5
215    Engineering  Sant Longowal Institute of Engineering & Techn...       5
216    Engineering             National Institute of Technology Patna       5
217    Engineering          Yeshwantrao Chavan College of Engineering       5
218    Engineering                Sri Ramakrishna Engineering College       5
219    Engineering              Institute of Aeronautical Engineering       5
220    Engineering                    Rajalakshmi Engineering College       5
221    Engineering            NITTE Meenakshi Institute of Technology       5
222    Engineering            Sri Venkateswara College of Engineering       5
223    Engineering                  YMCA University of Science & Tech       5
224    Engineering  International Institute of Information Technol...       3
225    Engineering                  Sri Krishna College of Technology       5
226    Engineering                                    BVRIT Hyderabad       5
227    Engineering           National Institute of Technology Manipur       5
228    Engineering                                     PES University       5
229    Engineering                   Heritage Institute of Technology       5
230    Engineering         PSNA College of Engineering and Technology       5
231    Engineering                   Vardhaman College of Engineering       5
232    Engineering                    Walchand College of Engineering       5
233    Engineering    Dr. Vishwanath Karad MIT World Peace University       5
234    Engineering  Bansilal Ramnath Agarwal Charitable Trust`s Vi...       5
235    Engineering                        BNM Institute of Technology       5
236    Engineering                       R. M. K. Engineering College       5
237    Engineering           BMS Institute of Technology & Management       5
238    Engineering                       KLE Technological University       5
239    Engineering                     Narula Institute of Technology       5
240    Engineering                       P E S College of Engineering       5
241    Engineering  Indira Gandhi Delhi Technical University for W...       5
242    Engineering               Dr. Ambedkar Institute of Technology       5
243    Engineering  Manav Rachna International Institute of Resear...       5
244    Engineering   Maulana Abul Kalam Azad University of Technology       5
245    Engineering                       National Engineering College       5
246    Engineering             Sree Vidyanikethan Engineering College       5
247    Engineering     Padmasri Dr. B.V. Raju Institute of Technology       5
248    Engineering                       Anurag Group of Institutions       5
249    Engineering                      Vasavi College of Engineering       5
250    Engineering  Velagapudi Ramakrishna Siddhartha Engineering ...       5
251    Engineering                Ramrao Adik Institute of Technology       5
252    Engineering  North Eastern Regional Institute of Science & ...       5
253    Engineering                      C M R Institute of Technology       5
254    Engineering                     Haldia Institute of Technology       5
255    Engineering  Sri Venkateswara College of Engineering and Te...       5

In [ ]:

df["Ed1"] = df["Ed1"].replace(np.nan, '', regex=True)

dict1 = []
# iterating over our players without salaries found above
for name in df["Ed1"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, insti_master1.InstituteMaster1, 70)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"Education1" : name})
    dict_.update({"match_education1" : match[0]})
    dict_.update({"SEd1" : match[1]})
    dict1.append(dict_)
    
merge_1 = pd.DataFrame(dict1)
# Display results
merge_1

merge_1 = merge_1.replace(r'^\s*$', np.NaN, regex=True)
merge_1["match_education1"].astype(str)
merge_1["match_education1"].dtype

df = pd.concat([merge_1, df], axis=1)
df = pd.merge(insti_master1, df, left_on="InstituteMaster1", right_on="match_education1",how='right')

In [ ]:
df["Ed2"] = df["Ed2"].replace(np.nan, '', regex=True)


dict2 = []
# iterating over our players without salaries found above
for name in df["Ed2"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, insti_master2.InstituteMaster2, 70)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"Education2" : name})
    dict_.update({"match_education2" : match[0]})
    dict_.update({"SEd2" : match[1]})
    dict2.append(dict_)
    
merge_2 = pd.DataFrame(dict2)
# Display results
merge_2 = merge_2.replace(r'^\s*$', np.NaN, regex=True)
merge_2["match_education2"].astype(str)
merge_2["match_education2"].dtype
df = pd.concat([merge_2, df], axis=1)
# df = pd.merge(insti_master2, df, left_on="InstituteMaster2", right_on="match_education2",how='right')
# df
df =  pd.merge(insti_master2, df, left_on="InstituteMaster2", right_on="match_education2",how='right')
# df = df.sort_values('EdTier2', ascending=True)
# df = df.drop_duplicates(subset='Full name', keep='first')

# df1[df1["Full name"]=="Umang Goel"]
# df[["InstituteMaster2","EdTier2","Education2","match_education2","SEd2","Type2","Bachelors2","Type_insti2","Full name"]]

df["Full name"].nunique()

51

In [ ]:
df["Ed3"] = df["Ed3"].replace(np.nan, '', regex=True)


dict3 = []
# iterating over our players without salaries found above
for name in df["Ed3"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, insti_master3.InstituteMaster3, 70)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"Education3" : name})
    dict_.update({"match_education3" : match[0]})
    dict_.update({"SEd3" : match[1]})
    dict3.append(dict_)
    
merge_3 = pd.DataFrame(dict3)
# Display results
merge_3
merge_3["match_education3"].astype(str)
merge_3["match_education3"].dtype
# merge_3 = merge_3.replace(r'^\s*$', np.NaN, regex=True)

df = pd.concat([merge_3, df], axis=1)
df = pd.merge(insti_master3, df, left_on="InstituteMaster3", right_on="match_education3",how='right')
# df1 =df.drop(columns=["DegreeMaster2"])
# df[(~df.duplicated(subset="Full name")) | (~df['EdTier3'].notnull())]
df

    Type_insti3  ...                                   Ed6
0    University  ...
1   Engineering  ...
2   Engineering  ...
3   Engineering  ...
4      Commerce  ...
5      Commerce  ...
6    University  ...
7   Engineering  ...
8    Management  ...
9        Pharma  ...
10     Commerce  ...
11     Commerce  ...
12     Commerce  ...
13     Commerce  ...
14     Commerce  ...
15      Foreign  ...
16      Foreign  ...
17      Foreign  ...
18      Foreign  ...
19      Foreign  ...
20      Foreign  ...
21      Foreign  ...
22      Foreign  ...
23      Foreign  ...
24      Foreign  ...
25      Foreign  ...
26      Foreign  ...  London Business School, U. of London
27   Management  ...
28   Management  ...
29   Management  ...
30   Management  ...
31          NaN  ...
32          NaN  ...
33          NaN  ...
34          NaN  ...
35          NaN  ...
36          NaN  ...
37          NaN  ...
38          NaN  ...
39          NaN  ...
40          NaN  ...
41          NaN  ...
42          NaN  ...
43          NaN  ...
44          NaN  ...
45          NaN  ...
46          NaN  ...
47          NaN  ...
48          NaN  ...
49          NaN  ...
50          NaN  ...
51          NaN  ...
52          NaN  ...
53          NaN  ...
54          NaN  ...
55          NaN  ...
56          NaN  ...
57          NaN  ...
58          NaN  ...
59          NaN  ...

[60 rows x 455 columns]

In [ ]:

df["Ed4"] = df["Ed4"].replace(np.nan, '', regex=True)

dict4 = []
# iterating over our players without salaries found above
for name in df["Ed4"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, insti_master4.InstituteMaster4, 70)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"Education4" : name})
    dict_.update({"match_education4" : match[0]})
    dict_.update({"SEd4" : match[1]})
    dict4.append(dict_)
    
merge_4 = pd.DataFrame(dict4)
# Display results
merge_4

# merge_4 = merge_4.replace(r'^\s*$', np.NaN, regex=True)
merge_4["match_education4"].astype(str)
merge_4["match_education4"].dtype
df = pd.concat([merge_4, df], axis=1)
df = pd.merge(insti_master4, df, left_on="InstituteMaster4", right_on="match_education4",how='right')
# df1 =df.drop(columns=["DegreeMaster2"])
# df = df.sort_values('EdTier4', ascending=True)
# df = df.drop_duplicates(subset='Full name', keep='first')
# df = df[(~df.duplicated(subset="Full name")) | (~df['EdTier4'].notnull())]
# df =df.drop_duplicates(subset="Profile url",keep="first")

df[["Ed4","Education4","Education 4","match_education4","SEd4","Full name"]]

                                                  Ed4  ...                Full name
0                    Savitribai Phule Pune University  ...         Aditya Khurjekar
1                                  Osmania University  ...       Akshay Kumar Anugu
2                        Delhi College of Engineering  ...             Ammar Jilani
3                        Delhi College of Engineering  ...             Ammar Jilani
4                                       Jamia Hamdard  ...            Priyanko Basu
5                                       Jamia Hamdard  ...            Priyanko Basu
6                                       Jamia Hamdard  ...            Priyanko Basu
7                                       Jamia Hamdard  ...            Priyanko Basu
8                                      New Era School  ...            Vikas H. Shah
9                             University of Rajasthan  ...              Shruti Jain
10                            University of Rajasthan  ...              Shruti Jain
11                               University of Mumbai  ...      Aparajit Bhandarkar
12                               University of Mumbai  ...      Aparajit Bhandarkar
13  Northwestern University - Kellogg School of Ma...  ...           Val Misra, MBA
14                                                     ...             Krunal Desai
15               DAV Higher Secondary School, Chennai  ...        Suresh Ramanathan
16                                 Max Planck Society  ...      Pushpender Chhillar
17                                        ESCP Europe  ...             Rohan Grover
18                  Delhi Public School - R. K. Puram  ...           Surbhee Grover
19                                 Loyola High School  ...           Vikram Chachra
20                                                     ...        Shivansh Aggarwal
21                                                     ...       Vikrant Bhaskarwar
22                                                     ...       Vikrant Bhaskarwar
23                                                     ...               Saqub Awan
24                                                     ...              Kavya Jacob
25                                                     ...      Manraj Parmar, M.D.
26                                                     ...       Aditya Subramaniam
27                                                BSS  ...  Siddharth Dandekar, CFA
28                                                     ...              Pratik Bose
29                             Universidad de Cordoba  ...            Zahra Asharia
30                                                     ...            Aastha Maniar
31                                                     ...            Aastha Maniar
32                                                     ...            Aastha Maniar
33                               Herricks High School  ...             Akshay Nigam
34                                                     ...      Sriharsha Palugulla
35                                                     ...      Sriharsha Palugulla
36                                                     ...            Randeep Singh
37                                                     ...                Arun Jain
38                                                     ...           John Gonsalves
39                                                     ...           Saransh Bansal
40                            st. xavier's, ahmedabad  ...              Shiv Parikh
41                           Noble & Greenough School  ...            Ashwin Advani
42                                                     ...             Hursh Vasant
43                                                     ...            Shamit Munjal
44                                                     ...          Krishna Daswani
45                                                     ...          Faiyaz Ferdousi
46                                                     ...               Dipan Naik
47                                                     ...             Debraj Ghosh
48                                                     ...                 Raja Ram
49                                                     ...            Fareen Pasaya
50                                                     ...            Tavishi Vohra
51                                                     ...              Pooja Kakar
52                                                     ...        Shariq Mirza, CFA
53                                                     ...            Niyanta Mogre
54                                                     ...             Rutika Dhuru
55                                                     ...           Nandita Pandit
56                                                     ...           Mounica Majeti
57                                                     ...             Roohi Advani
58                                Raffles Institution  ...              Dhruv Goyal
59                                                     ...              Omair Ahmed
60                                                     ...             Prachi Patke

[61 rows x 6 columns]

In [ ]:

df["Ed5"] = df["Ed5"].replace(np.nan, '', regex=True)

dict5 = []
# iterating over our players without salaries found above
for name in df["Ed5"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, insti_master5.InstituteMaster5, 70)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"Education5" : name})
    dict_.update({"match_education5" : match[0]})
    dict_.update({"SEd5" : match[1]})
    dict5.append(dict_)
    
merge_5 = pd.DataFrame(dict5)
# Display results
merge_5
# merge_5 = merge_5.replace(r'^\s*$', np.NaN, regex=True)
# merge_5["match_education5"] = merge_5["match_education5"].replace(np.nan, '', regex=True)
merge_5["match_education5"].astype(str)
merge_5["match_education5"].dtype
df = pd.concat([merge_5, df], axis=1)
df = pd.merge(insti_master5, df, left_on="InstituteMaster5", right_on="match_education5",how='right')
# df1 =df.drop(columns=["DegreeMaster2"])
# df = df.sort_values('EdTier5', ascending=True)
# df = df.drop_duplicates(subset='Full name', keep='first')
df["Full name"]
# df = df[(~df.duplicated(subset="Full name")) | (~df['EdTier5'].notnull())]
# df.drop_duplicates(subset="Profile url",keep="first")

df[["Ed5","Education5","Education 5","match_education5","SEd5","Full name","Type5","Type_insti5"]][:50]

                                                  Ed5  ... Type_insti5
0                                   Mumbai University  ...  University
1          St. Vincent's High School & Junior College  ...         NaN
2                                                      ...         NaN
3                   Delhi Public School, Mathura Road  ...         NaN
4                   Delhi Public School, Mathura Road  ...         NaN
5                   Delhi Public School - R. K. Puram  ...         NaN
6                   Delhi Public School - R. K. Puram  ...         NaN
7                   Delhi Public School - R. K. Puram  ...         NaN
8                   Delhi Public School - R. K. Puram  ...         NaN
9                                                      ...         NaN
10                                         SPS Jaipur  ...         NaN
11                                         SPS Jaipur  ...         NaN
12                               Victoria High School  ...         NaN
13                               Victoria High School  ...         NaN
14                                                     ...         NaN
15                                                     ...         NaN
16                    Air Force Central School, Delhi  ...         NaN
17                                                     ...         NaN
18                                                     ...         NaN
19                                                     ...         NaN
20                                                     ...         NaN
21                                                     ...         NaN
22                                                     ...         NaN
23                                                     ...         NaN
24                                                     ...         NaN
25                                                     ...         NaN
26                                                     ...         NaN
27                                                     ...         NaN
28                                                     ...         NaN
29                                                     ...         NaN
30  Middlebury College of the Middle East, Alexand...  ...         NaN
31                                                     ...         NaN
32                                                     ...         NaN
33                                                     ...         NaN
34                                                     ...         NaN
35                                                     ...         NaN
36                                                     ...         NaN
37                                                     ...         NaN
38                                                     ...         NaN
39                                                     ...         NaN
40                                                     ...         NaN
41                                                     ...         NaN
42                                                     ...         NaN
43                                                     ...         NaN
44                                                     ...         NaN
45                                                     ...         NaN
46                                                     ...         NaN
47                                                     ...         NaN
48                                                     ...         NaN
49                                                     ...         NaN

[50 rows x 8 columns]

In [ ]:
df["Ed6"] = df["Ed6"].replace(np.nan, '', regex=True)
insti_master6["InstituteMaster6"] = insti_master6["InstituteMaster6"].replace(np.nan,'', regex=True)

dict6 = []
# iterating over our players without salaries found above
for name in df["Ed6"]:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, insti_master6.InstituteMaster6, 70)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"Education6" : name})
    dict_.update({"match_education6" : match[0]})
    dict_.update({"SEd6" : match[1]})
    dict6.append(dict_)
    
merge_6 = pd.DataFrame(dict6)
# Display results
merge_6

# merge_6 = merge_6.replace(r'^\s*$', np.NaN, regex=True)
# merge_5["match_education5"] = merge_5["match_education5"].replace(np.nan, '', regex=True)
merge_6["match_education6"].astype(str)
merge_6["match_education6"].dtype

df = pd.concat([merge_6, df], axis=1)
df = pd.merge(insti_master6, df, left_on="InstituteMaster6", right_on="match_education6",how='right')
# df1 =df.drop(columns=["DegreeMaster2"])
# df = df.sort_values('EdTier6', ascending=True)
# df = df.drop_duplicates(subset='Full name', keep='first')
# df = df[(~df.duplicated(subset="Full name")) | (~df['EdTier6'].notnull())]

df[["Ed6","Education6","Education 6","match_education6","SEd6","Full name"]]
df = df.drop_duplicates(subset="Profile url",keep="first")

In [ ]:
df['Organization Start 7']
# df.dropna/

0     May 2003
1           NaN
2           NaN
3           NaN
4     Jun 2011
6     May 2006
10          NaN
11          NaN
13        2004
15    Mar 2009
16        1990
17          NaN
18          NaN
19        1998
20    Oct 2003
21    Apr 2011
22          NaN
24          NaN
25          NaN
26    Sep 2009
27    Jan 2011
28          NaN
29    Mar 2014
30          NaN
31          NaN
34          NaN
35    Jul 2013
37        2005
38    Oct 2009
39    Jan 2013
40          NaN
41          NaN
42         2013
43    Jan 2005
44          NaN
45        2008
46          NaN
47          NaN
48          NaN
49    Jun 2014
50    Aug 2010
51    Aug 2015
52          NaN
53    May 2009
54    Jun 2011
55    Jul 2011
56    Jun 2017
57    Jun 2005
58    Feb 2012
59          NaN
60          NaN
Name: Organization Start 7, dtype: object

In [ ]:
df['Organization Start 1'] = pd.to_datetime(df['Organization Start 1'],errors = 'coerce')
df['Organization Start 2'] = pd.to_datetime(df['Organization Start 2'],errors = 'coerce')
df['Organization Start 3'] = pd.to_datetime(df['Organization Start 3'],errors = 'coerce')
df['Organization Start 4'] = pd.to_datetime(df['Organization Start 4'],errors = 'coerce')
df['Organization Start 5'] = pd.to_datetime(df['Organization Start 5'],errors = 'coerce')
df['Organization Start 6'] = pd.to_datetime(df['Organization Start 6'],errors = 'coerce')
df['Organization Start 7'] = pd.to_datetime(df['Organization Start 7'],errors = 'coerce')
df['Organization Start 8'] = pd.to_datetime(df['Organization Start 8'],errors = 'coerce')
df['Organization Start 9'] = pd.to_datetime(df['Organization Start 9'],errors = 'coerce')
df['Organization Start 10'] = pd.to_datetime(df['Organization Start 10'],errors = 'coerce')

In [ ]:
df['Organization Start 7']

0    2003-05-01
1           NaT
2           NaT
3           NaT
4    2011-06-01
6    2006-05-01
10          NaT
11          NaT
13   2004-01-01
15   2009-03-01
16   1990-01-01
17          NaT
18          NaT
19   1998-01-01
20   2003-10-01
21   2011-04-01
22          NaT
24          NaT
25          NaT
26   2009-09-01
27   2011-01-01
28          NaT
29   2014-03-01
30          NaT
31          NaT
34          NaT
35   2013-07-01
37   2005-01-01
38   2009-10-01
39   2013-01-01
40          NaT
41          NaT
42   2013-01-01
43   2005-01-01
44          NaT
45   2008-01-01
46          NaT
47          NaT
48          NaT
49   2014-06-01
50   2010-08-01
51   2015-08-01
52          NaT
53   2009-05-01
54   2011-06-01
55   2011-07-01
56   2017-06-01
57   2005-06-01
58   2012-02-01
59          NaT
60          NaT
Name: Organization Start 7, dtype: datetime64[ns]

In [ ]:
df["Organization End 1"]

0       Present
1      May 2020
2       Present
3       Present
4       Present
6       Present
10      Present
11      Present
13      Present
15      Present
16      Present
17      Present
18      Present
19      Present
20      Present
21      Present
22      Present
24      Present
25     Jul 2020
26      Present
27      Present
28      Present
29      Present
30      Present
31      Present
34      Present
35      Present
37      Present
38      Present
39      Present
40      Present
41      Present
42      Present
43      Present
44      Present
45      Present
46      Present
47      Present
48      Present
49      Present
50      Present
51     Jun 2020
52     May 2018
53      Present
54      Present
55      Present
56      Present
57      Present
58     Feb 2020
59      Present
60      Present
Name: Organization End 1, dtype: object

In [ ]:
df["today"] = dt.date.today()
# df["Organization End 1"].to_datetime()
#data["Age"].replace(25.0, "Twenty five") 
df["Organization End 1"] = df["Organization End 1"].str.replace("Present","August 2020")

In [ ]:
# df["Organization End 1"]=df["Organization End 1"].replace({"today":dt.date.today()})

In [ ]:
df["Organization End 1"]

0      August 2020
1         May 2020
2      August 2020
3      August 2020
4      August 2020
6      August 2020
10     August 2020
11     August 2020
13     August 2020
15     August 2020
16     August 2020
17     August 2020
18     August 2020
19     August 2020
20     August 2020
21     August 2020
22     August 2020
24     August 2020
25        Jul 2020
26     August 2020
27     August 2020
28     August 2020
29     August 2020
30     August 2020
31     August 2020
34     August 2020
35     August 2020
37     August 2020
38     August 2020
39     August 2020
40     August 2020
41     August 2020
42     August 2020
43     August 2020
44     August 2020
45     August 2020
46     August 2020
47     August 2020
48     August 2020
49     August 2020
50     August 2020
51        Jun 2020
52        May 2018
53     August 2020
54     August 2020
55     August 2020
56     August 2020
57     August 2020
58        Feb 2020
59     August 2020
60     August 2020
Name: Organization End 1, dtype: object

In [ ]:
df['Organization End 1'] = pd.to_datetime(df['Organization End 1'], errors='coerce')  #df['close_date'] = pd.to_datetime(df['close_date'], errors='coerce')
df['Organization End 2'] = pd.to_datetime(df['Organization End 2'], errors='coerce')
df['Organization End 3'] = pd.to_datetime(df['Organization End 3'], errors='coerce')
df['Organization End 4'] = pd.to_datetime(df['Organization End 4'], errors='coerce')
df['Organization End 5'] = pd.to_datetime(df['Organization End 5'], errors='coerce')
df['Organization End 6'] = pd.to_datetime(df['Organization End 6'], errors='coerce')
df['Organization End 7'] = pd.to_datetime(df['Organization End 7'], errors='coerce')
df['Organization End 8'] = pd.to_datetime(df['Organization End 8'], errors='coerce')
df['Organization End 9'] = pd.to_datetime(df['Organization End 9'], errors='coerce')
df['Organization End 10'] = pd.to_datetime(df['Organization End 10'], errors='coerce')


df["orgstart1"] = df['Organization Start 1']
df["orgstart2"] = df['Organization Start 2']
df["orgstart3"] = df['Organization Start 3']
df["orgstart4"] = df['Organization Start 4']
df["orgstart5"] = df['Organization Start 5']
df["orgstart6"] = df['Organization Start 6']
df["orgstart7"] = df['Organization Start 7']
df["orgstart8"] = df['Organization Start 8']
df["orgstart9"] = df['Organization Start 9']
df["orgstart10"] = df['Organization Start 10']

df["orgend1"] = df['Organization End 1']
df["orgend2"] = df['Organization End 2']
df["orgend3"] = df['Organization End 3']
df["orgend4"] = df['Organization End 4']
df["orgend5"] = df['Organization End 5']
df["orgend6"] = df['Organization End 6']
df["orgend7"] = df['Organization End 7']
df["orgend8"] = df['Organization End 8']
df["orgend9"] = df['Organization End 9']
df["orgend10"] = df['Organization End 10']

In [ ]:
# df.sort_values(["Organization Start 1", "Organization Start 2"], axis=1, ascending=True, inplace=True)
df1 = df[["Organization Start 1","Organization End 1","Organization Start 2","Organization End 2"]].T

In [ ]:
dfSE = df[["Organization Start 1","Organization End 1" , "Organization Start 2", "Organization End 2", 
          "Organization Start 3","Organization End 3" , "Organization Start 4", "Organization End 4",
          "Organization Start 5","Organization End 5" , "Organization Start 6", "Organization End 6",
          "Organization Start 7","Organization End 7" , "Organization Start 8", "Organization End 8",
          "Organization Start 9","Organization End 9" , "Organization Start 10", "Organization End 10"]]
# dfSE["Overlap1"] = np.where((df["Organization Start 1"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 1"]),"overal",0)

df["Overlap1-2"]=np.nan
df["Overlap1-3"]=np.nan
df["Overlap1-4"]=np.nan
df["Overlap1-5"]=np.nan
df["Overlap1-6"]=np.nan
df["Overlap1-7"]=np.nan
df["Overlap1-8"]=np.nan
df["Overlap1-9"]=np.nan
df["Overlap1-10"]=np.nan
df.loc[(df["Organization Start 1"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 1"]),"Overlap1-2"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 1"]),"Overlap1-3"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 1"]),"Overlap1-4"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 1"]),"Overlap1-5"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 1"]),"Overlap1-6"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 1"]),"Overlap1-7"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 1"]),"Overlap1-8"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 1"]),"Overlap1-9"] = 1
df.loc[(df["Organization Start 1"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 1"]),"Overlap1-10"] = 1

df[["Overlap1-2","Overlap1-3","Overlap1-4","Overlap1-5","Overlap1-6","Overlap1-7","Overlap1-8","Overlap1-9","Overlap1-10"]].head(30)

    Overlap1-2  Overlap1-3  Overlap1-4  ...  Overlap1-8  Overlap1-9  Overlap1-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         NaN  ...         NaN         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         1.0         NaN         NaN  ...         NaN         NaN          NaN
26         1.0         1.0         1.0  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         NaN         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         NaN         NaN          NaN
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         1.0         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap2-1"]=np.nan
df["Overlap2-3"]=np.nan
df["Overlap2-4"]=np.nan
df["Overlap2-5"]=np.nan
df["Overlap2-6"]=np.nan
df["Overlap2-7"]=np.nan
df["Overlap2-8"]=np.nan
df["Overlap2-9"]=np.nan
df["Overlap2-10"]=np.nan
df.loc[(df["Organization Start 2"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 2"]),"Overlap2-1"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 2"]),"Overlap2-3"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 2"]),"Overlap2-4"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 2"]),"Overlap2-5"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 2"]),"Overlap2-6"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 2"]),"Overlap2-7"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 2"]),"Overlap2-8"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 2"]),"Overlap2-9"] = 1
df.loc[(df["Organization Start 2"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 2"]),"Overlap2-10"] = 1

df[["Overlap2-1","Overlap2-3","Overlap2-4","Overlap2-5","Overlap2-6","Overlap2-7","Overlap2-8","Overlap2-9","Overlap2-10"]].head(30)

    Overlap2-1  Overlap2-3  Overlap2-4  ...  Overlap2-8  Overlap2-9  Overlap2-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         1.0         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         1.0         NaN  ...         NaN         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         1.0         NaN         NaN  ...         NaN         NaN          NaN
26         1.0         1.0         1.0  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         NaN         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         1.0         NaN  ...         NaN         NaN          NaN
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         1.0         1.0         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap3-1"]=np.nan
df["Overlap3-2"]=np.nan
df["Overlap3-4"]=np.nan
df["Overlap3-5"]=np.nan
df["Overlap3-6"]=np.nan
df["Overlap3-7"]=np.nan
df["Overlap3-8"]=np.nan
df["Overlap3-9"]=np.nan
df["Overlap3-10"]=np.nan
df.loc[(df["Organization Start 3"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 3"]),"Overlap3-1"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 3"]),"Overlap3-2"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 3"]),"Overlap3-4"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 3"]),"Overlap3-5"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 3"]),"Overlap3-6"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 3"]),"Overlap3-7"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 3"]),"Overlap3-8"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 3"]),"Overlap3-9"] = 1
df.loc[(df["Organization Start 3"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 3"]),"Overlap3-10"] = 1

df[["Overlap3-1","Overlap3-2","Overlap3-4","Overlap3-5","Overlap3-6","Overlap3-7","Overlap3-8","Overlap3-9","Overlap3-10"]].head(30)

    Overlap3-1  Overlap3-2  Overlap3-4  ...  Overlap3-8  Overlap3-9  Overlap3-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         1.0  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         1.0         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         1.0         1.0  ...         NaN         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         1.0         1.0         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         NaN         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         1.0         NaN  ...         NaN         NaN          NaN
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         1.0  ...         NaN         NaN          NaN
35         NaN         1.0         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         1.0  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap4-1"]=np.nan
df["Overlap4-2"]=np.nan
df["Overlap4-3"]=np.nan
df["Overlap4-5"]=np.nan
df["Overlap4-6"]=np.nan
df["Overlap4-7"]=np.nan
df["Overlap4-8"]=np.nan
df["Overlap4-9"]=np.nan
df["Overlap4-10"]=np.nan
df.loc[(df["Organization Start 4"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 4"]),"Overlap4-1"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 4"]),"Overlap4-2"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 4"]),"Overlap4-3"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 4"]),"Overlap4-5"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 4"]),"Overlap4-6"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 4"]),"Overlap4-7"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 4"]),"Overlap4-8"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 4"]),"Overlap4-9"] = 1
df.loc[(df["Organization Start 4"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 4"]),"Overlap4-10"] = 1

df[["Overlap4-1","Overlap4-2","Overlap4-3","Overlap4-5","Overlap4-6","Overlap4-7","Overlap4-8","Overlap4-9","Overlap4-10"]].head(30)

    Overlap4-1  Overlap4-2  Overlap4-3  ...  Overlap4-8  Overlap4-9  Overlap4-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         1.0  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         1.0  ...         1.0         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         1.0         1.0         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         NaN         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         1.0         1.0          1.0
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         1.0  ...         NaN         NaN          NaN
35         NaN         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         1.0  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap5-1"]=np.nan
df["Overlap5-2"]=np.nan
df["Overlap5-3"]=np.nan
df["Overlap5-4"]=np.nan
df["Overlap5-6"]=np.nan
df["Overlap5-7"]=np.nan
df["Overlap5-8"]=np.nan
df["Overlap5-9"]=np.nan
df["Overlap5-10"]=np.nan
df.loc[(df["Organization Start 5"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 5"]),"Overlap5-1"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 5"]),"Overlap5-2"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 5"]),"Overlap5-3"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 5"]),"Overlap5-4"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 5"]),"Overlap5-6"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 5"]),"Overlap5-7"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 5"]),"Overlap5-8"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 5"]),"Overlap5-9"] = 1
df.loc[(df["Organization Start 5"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 5"]),"Overlap5-10"] = 1

df[["Overlap5-1","Overlap5-2","Overlap5-3","Overlap5-4","Overlap5-6","Overlap5-7","Overlap5-8","Overlap5-9","Overlap5-10"]].head(30)

    Overlap5-1  Overlap5-2  Overlap5-3  ...  Overlap5-8  Overlap5-9  Overlap5-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         NaN  ...         1.0         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         NaN         NaN         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         NaN         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         1.0         1.0          1.0
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         NaN         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:

df["Overlap6-1"]=np.nan
df["Overlap6-2"]=np.nan
df["Overlap6-3"]=np.nan
df["Overlap6-4"]=np.nan
df["Overlap6-5"]=np.nan
df["Overlap6-7"]=np.nan
df["Overlap6-8"]=np.nan
df["Overlap6-9"]=np.nan
df["Overlap6-10"]=np.nan
df.loc[(df["Organization Start 6"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 6"]),"Overlap6-1"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 6"]),"Overlap6-2"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 6"]),"Overlap6-3"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 6"]),"Overlap6-4"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 6"]),"Overlap6-5"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 6"]),"Overlap6-7"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 6"]),"Overlap6-8"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 6"]),"Overlap6-9"] = 1
df.loc[(df["Organization Start 6"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 6"]),"Overlap6-10"] = 1

df[["Overlap6-1","Overlap6-2","Overlap6-3","Overlap6-4","Overlap6-5","Overlap6-7","Overlap6-8","Overlap6-9","Overlap6-10"]].head(30)

    Overlap6-1  Overlap6-2  Overlap6-3  ...  Overlap6-8  Overlap6-9  Overlap6-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         NaN  ...         NaN         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         NaN         NaN         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         1.0         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         1.0         1.0          1.0
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         NaN         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap7-1"]=np.nan
df["Overlap7-2"]=np.nan
df["Overlap7-3"]=np.nan
df["Overlap7-4"]=np.nan
df["Overlap7-5"]=np.nan
df["Overlap7-6"]=np.nan
df["Overlap7-8"]=np.nan
df["Overlap7-9"]=np.nan
df["Overlap7-10"]=np.nan
df.loc[(df["Organization Start 7"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 7"]),"Overlap7-1"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 7"]),"Overlap7-2"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 7"]),"Overlap7-3"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 7"]),"Overlap7-4"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 7"]),"Overlap7-5"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 7"]),"Overlap7-6"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 7"]),"Overlap7-8"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 7"]),"Overlap7-9"] = 1
df.loc[(df["Organization Start 7"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 7"]),"Overlap7-10"] = 1

df[["Overlap7-1","Overlap7-2","Overlap7-3","Overlap7-4","Overlap7-5","Overlap7-6","Overlap7-8","Overlap7-9","Overlap7-10"]].head(30)

    Overlap7-1  Overlap7-2  Overlap7-3  ...  Overlap7-8  Overlap7-9  Overlap7-10
0          NaN         NaN         NaN  ...         1.0         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         NaN  ...         1.0         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         1.0         NaN          NaN
21         NaN         NaN         NaN  ...         NaN         1.0          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         NaN         NaN         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         1.0         NaN          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         1.0         1.0          1.0
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         NaN         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap8-1"]=np.nan
df["Overlap8-2"]=np.nan
df["Overlap8-3"]=np.nan
df["Overlap8-4"]=np.nan
df["Overlap8-5"]=np.nan
df["Overlap8-6"]=np.nan
df["Overlap8-7"]=np.nan
df["Overlap8-9"]=np.nan
df["Overlap8-10"]=np.nan
df.loc[(df["Organization Start 8"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 8"]),"Overlap8-1"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 8"]),"Overlap8-2"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 8"]),"Overlap8-3"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 8"]),"Overlap8-4"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 8"]),"Overlap8-5"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 8"]),"Overlap8-6"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 8"]),"Overlap8-7"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 9"]) & (df["Organization Start 9"]<df["Organization End 8"]),"Overlap8-9"] = 1
df.loc[(df["Organization Start 8"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 8"]),"Overlap8-10"] = 1

df[["Overlap8-1","Overlap8-2","Overlap8-3","Overlap8-4","Overlap8-5","Overlap8-6","Overlap8-7","Overlap8-9","Overlap8-10"]].head(30)

    Overlap8-1  Overlap8-2  Overlap8-3  ...  Overlap8-7  Overlap8-9  Overlap8-10
0          NaN         NaN         NaN  ...         1.0         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          NaN
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         NaN  ...         1.0         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         1.0         1.0          NaN
21         NaN         NaN         NaN  ...         NaN         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         NaN         NaN         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         1.0         1.0          NaN
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         1.0         1.0          1.0
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         NaN         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
df["Overlap9-1"]=np.nan
df["Overlap9-2"]=np.nan
df["Overlap9-3"]=np.nan
df["Overlap9-4"]=np.nan
df["Overlap9-5"]=np.nan
df["Overlap9-6"]=np.nan
df["Overlap9-7"]=np.nan
df["Overlap9-8"]=np.nan
df["Overlap9-10"]=np.nan
df.loc[(df["Organization Start 9"]<df["Organization End 1"]) & (df["Organization Start 1"]<df["Organization End 9"]),"Overlap9-1"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 2"]) & (df["Organization Start 2"]<df["Organization End 9"]),"Overlap9-2"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 3"]) & (df["Organization Start 3"]<df["Organization End 9"]),"Overlap9-3"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 4"]) & (df["Organization Start 4"]<df["Organization End 9"]),"Overlap9-4"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 5"]) & (df["Organization Start 5"]<df["Organization End 9"]),"Overlap9-5"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 6"]) & (df["Organization Start 6"]<df["Organization End 9"]),"Overlap9-6"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 7"]) & (df["Organization Start 7"]<df["Organization End 9"]),"Overlap9-7"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 8"]) & (df["Organization Start 8"]<df["Organization End 9"]),"Overlap9-8"] = 1
df.loc[(df["Organization Start 9"]<df["Organization End 10"]) & (df["Organization Start 10"]<df["Organization End 9"]),"Overlap9-10"] = 1

df[["Overlap9-1","Overlap9-2","Overlap9-3","Overlap9-4","Overlap9-5","Overlap9-6","Overlap9-7","Overlap9-8","Overlap9-10"]].head(30)

    Overlap9-1  Overlap9-2  Overlap9-3  ...  Overlap9-7  Overlap9-8  Overlap9-10
0          NaN         NaN         NaN  ...         NaN         NaN          NaN
1          NaN         NaN         NaN  ...         NaN         NaN          NaN
2          NaN         NaN         NaN  ...         NaN         NaN          NaN
3          NaN         NaN         NaN  ...         NaN         NaN          NaN
4          NaN         NaN         NaN  ...         NaN         NaN          1.0
6          NaN         NaN         NaN  ...         NaN         NaN          NaN
10         NaN         NaN         NaN  ...         NaN         NaN          NaN
11         NaN         NaN         NaN  ...         NaN         NaN          NaN
13         NaN         NaN         NaN  ...         NaN         NaN          NaN
15         NaN         NaN         NaN  ...         NaN         NaN          NaN
16         NaN         NaN         NaN  ...         NaN         NaN          NaN
17         NaN         NaN         NaN  ...         NaN         NaN          NaN
18         NaN         NaN         NaN  ...         NaN         NaN          NaN
19         NaN         NaN         NaN  ...         NaN         NaN          NaN
20         NaN         NaN         NaN  ...         NaN         1.0          NaN
21         NaN         NaN         NaN  ...         1.0         NaN          NaN
22         NaN         NaN         NaN  ...         NaN         NaN          NaN
24         NaN         NaN         NaN  ...         NaN         NaN          NaN
25         NaN         NaN         NaN  ...         NaN         NaN          NaN
26         NaN         NaN         NaN  ...         NaN         NaN          NaN
27         NaN         NaN         NaN  ...         NaN         1.0          1.0
28         NaN         NaN         NaN  ...         NaN         NaN          NaN
29         NaN         NaN         NaN  ...         1.0         1.0          1.0
30         NaN         NaN         NaN  ...         NaN         NaN          NaN
31         NaN         NaN         NaN  ...         NaN         NaN          NaN
34         NaN         NaN         NaN  ...         NaN         NaN          NaN
35         NaN         NaN         NaN  ...         NaN         NaN          NaN
37         NaN         NaN         NaN  ...         NaN         NaN          NaN
38         NaN         NaN         NaN  ...         NaN         NaN          NaN
39         NaN         NaN         NaN  ...         NaN         NaN          NaN

[30 rows x 9 columns]

In [ ]:
# df["Organization 2"] == df["Organization 3"]
# df["SameOrg"] = np.nan
# df.loc[(df["Organization 3"] == df["Organization 4"]),"SamOrg"] = 1
# df["SameOrg"][:30]
# df[["Organization 1","Organization 2"]]
df["Organization Start 1"]

0    2018-12-01
1    2020-01-01
2    2013-08-01
3    2014-10-01
4    2017-08-01
6    2018-10-01
10   2009-01-01
11   2020-01-01
13   2019-04-01
15   2012-01-01
16   2019-07-01
17   2018-11-01
18   2020-01-01
19   2016-01-01
20   2020-01-01
21   2019-09-01
22   2019-08-01
24   2014-09-01
25   2018-08-01
26   2018-01-01
27   2020-05-01
28   2018-01-01
29   2020-06-01
30   2019-11-01
31   2020-02-01
34   2017-07-01
35   2020-02-01
37   2019-12-01
38   2019-08-01
39   2020-01-01
40   2020-01-01
41   2018-07-01
42   2018-08-01
43   2019-04-01
44   2019-07-01
45   2020-02-01
46   2013-09-01
47   2011-07-01
48   2020-01-01
49   2020-02-01
50   2018-12-01
51   2019-04-01
52   2017-01-01
53   2018-07-01
54   2018-01-01
55   2020-06-01
56   2020-06-01
57   2014-07-01
58   2020-01-01
59   2019-01-01
60   2020-06-01
Name: Organization Start 1, dtype: datetime64[ns]

In [ ]:
df["RevExp1"] = df["Organization End 1"] - df['Organization Start 1']
df["RevExp2"] = df["Organization End 2"] - df['Organization Start 2']
df["RevExp3"] = df["Organization End 3"] - df['Organization Start 3']
df["RevExp4"] = df["Organization End 4"] - df['Organization Start 4']
df["RevExp5"] = df["Organization End 5"] - df['Organization Start 5']
df["RevExp6"] = df["Organization End 6"] - df['Organization Start 6']
df["RevExp7"] = df["Organization End 7"] - df['Organization Start 7']
df["RevExp8"] = df["Organization End 8"] - df['Organization Start 8']
df["RevExp9"] = df["Organization End 9"] - df['Organization Start 9']
df["RevExp10"] = df["Organization End 10"] - df['Organization Start 10']





df[["RevExp1", "RevExp2", "RevExp3","RevExp4", "RevExp5", "RevExp6", "RevExp7", "RevExp8", "RevExp9", "RevExp10"]].head(30)

     RevExp1   RevExp2   RevExp3  ...   RevExp8   RevExp9  RevExp10
0   609 days  699 days  184 days  ...  914 days  245 days  245 days
1   121 days 1340 days       NaT  ...       NaT       NaT       NaT
2  2557 days  275 days 1096 days  ...       NaT       NaT       NaT
3  2131 days  607 days 1249 days  ...       NaT       NaT       NaT
4  1096 days       NaT   61 days  ...   62 days   61 days  334 days
6   670 days  335 days  823 days  ...       NaT       NaT       NaT
10 4230 days  397 days  761 days  ...       NaT       NaT       NaT
11  213 days  487 days   92 days  ...       NaT       NaT       NaT
13  488 days  850 days  366 days  ...  730 days       NaT       NaT
15 3135 days  487 days  243 days  ...  120 days  182 days       NaT
16  397 days 2892 days 3257 days  ...       NaT       NaT       NaT
17  639 days 1765 days 1065 days  ...       NaT       NaT       NaT
18  213 days 1279 days  304 days  ...       NaT       NaT       NaT
19 1674 days 1887 days  396 days  ...       NaT       NaT       NaT
20  213 days       NaT       NaT  ...  731 days  457 days 1006 days
21  335 days  761 days  365 days  ... 1004 days  759 days       NaT
22  366 days  730 days  519 days  ...       NaT       NaT       NaT
24 2161 days 2283 days       NaT  ...       NaT       NaT       NaT
25  700 days   61 days 1216 days  ...       NaT       NaT       NaT
26  943 days  455 days  122 days  ...  365 days       NaT       NaT
27   92 days  427 days  424 days  ...  243 days  334 days   61 days
28  943 days  731 days       NaT  ...       NaT       NaT       NaT
29   61 days  914 days  638 days  ... 2008 days 3561 days 3561 days
30  274 days  426 days   61 days  ...       NaT       NaT       NaT
31  182 days  945 days  427 days  ...       NaT       NaT       NaT
34 1127 days   92 days   92 days  ...       NaT       NaT       NaT
35  182 days  639 days   61 days  ...   61 days       NaT       NaT
37  244 days 1675 days  485 days  ...  731 days 1096 days       NaT
38  366 days       NaT       NaT  ...       NaT       NaT       NaT
39  213 days       NaT  700 days  ...  549 days 1096 days 1095 days

[30 rows x 10 columns]

In [ ]:
# if df[df["Exp1"] == False]:
#   df["RevExp1"] =
# print(df[["Exp1", "RevExp1"]].nunique())

# for expereince in the same year of admission like jan 2020 to june 2020 and enrolling in Aug 2020 : this exp will anyways not be present at the time of applying

In [ ]:
df[["Education Start 1","Organization 1", "Organization 2", "Organization 3", "Organization 4", "Organization 5", "Organization 6", "Organization 7","Organization 8", "Organization 9","Organization 10"]]

   Education Start 1  ...                   Organization 10
0              2017   ...                              KPMG
1              2018   ...                               NaN
2              1999   ...                               NaN
3              2018   ...                               NaN
4              2016   ...                               NaN
6              2010   ...                               NaN
10             1997   ...                               NaN
11             2016   ...                               NaN
13             2007   ...                               NaN
15             2016   ...                               NaN
16             1997   ...                               NaN
17               NaN  ...                               NaN
18             2014   ...                               NaN
19               NaN  ...                               NaN
20             1996   ...                   Banco Santander
21             2014   ...                               NaN
22               NaN  ...                               NaN
24               NaN  ...                               NaN
25             2020   ...                               NaN
26             2018   ...                               NaN
27             2015   ...                               NaN
28               NaN  ...                               NaN
29             2005   ...     Nimbus Communications Limited
30             2016   ...                               NaN
31             2016   ...                               NaN
34             2015   ...                               NaN
35             2018   ...                               NaN
37             2010   ...                               NaN
38             2012   ...                               NaN
39               NaN  ...  Gupton Marrs International, Inc.
40             2018   ...                               NaN
41             2015   ...                               NaN
42             2018   ...              Congressman Delahunt
43             2020   ...                               NaN
44             2017   ...                               NaN
45             2013   ...                               NaN
46             2004   ...                               NaN
47             2016   ...                               NaN
48             2006   ...                               NaN
49             2019   ...                               NaN
50             2012   ...                               NaN
51             2020   ...                               NaN
52             2013   ...                               NaN
53             2016   ...                               NaN
54             2019   ...                               NaN
55             2019   ...                               NaN
56             2019   ...                               NaN
57             2014   ...                               NaN
58             2018   ...                               NaN
59               NaN  ...                               NaN
60             2020   ...                               NaN

[51 rows x 11 columns]

In [ ]:

# from google.colab import files
# uploaded = files.upload()
# import io
# data = io.BytesIO(uploaded['CBS_CleanedData.xlsx']) 
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/17vsHj6ybieZqp5uGdj_8ft64q5BO6JFQTGL7-VaP0Gc/edit?usp=sharing')
sheet = wb.worksheet('Companies')
data = sheet.get_all_values()
Tiers = pd.DataFrame(data)
Tiers.columns = Tiers.iloc[0]
Tiers = Tiers.iloc[1:]
Tiers=Tiers.drop(["name"],axis=1)

Tiers1 = Tiers
Tiers1=Tiers1.rename(columns={'Linkedin URL':'Organization LI URL 1', 'Final':'orgtier1','Industry':'Industry1'})

Tiers2 = Tiers
Tiers2=Tiers2.rename(columns={'Linkedin URL':'Organization LI URL 2', 'Final':'orgtier2','Industry':'Industry2'})

Tiers3 = Tiers
Tiers3=Tiers3.rename(columns={'Linkedin URL':'Organization LI URL 3', 'Final':'orgtier3','Industry':'Industry3'})

Tiers4 = Tiers
Tiers4=Tiers4.rename(columns={'Linkedin URL':'Organization LI URL 4', 'Final':'orgtier4','Industry':'Industry4'})

Tiers5 = Tiers
Tiers5=Tiers5.rename(columns={'Linkedin URL':'Organization LI URL 5', 'Final':'orgtier5','Industry':'Industry5'})

Tiers6 = Tiers
Tiers6=Tiers6.rename(columns={'Linkedin URL':'Organization LI URL 6', 'Final':'orgtier6','Industry':'Industry6'})

Tiers7 = Tiers
Tiers7=Tiers7.rename(columns={'Linkedin URL':'Organization LI URL 7', 'Final':'orgtier7','Industry':'Industry7'})

Tiers8 = Tiers
Tiers8=Tiers8.rename(columns={'Linkedin URL':'Organization LI URL 8', 'Final':'orgtier8','Industry':'Industry8'})

Tiers9 = Tiers
Tiers9=Tiers9.rename(columns={'Linkedin URL':'Organization LI URL 9', 'Final':'orgtier9','Industry':'Industry9'})

Tiers10 = Tiers
Tiers10=Tiers10.rename(columns={'Linkedin URL':'Organization LI URL 10', 'Final':'orgtier10','Industry':'Industry10'})

In [ ]:
Tiers1[Tiers1["Organization LI URL 1"]=="https://www.linkedin.com/company/accenture"]

0                        Organization LI URL 1  ... orgtier1
17  https://www.linkedin.com/company/accenture  ...        3

[1 rows x 3 columns]

In [ ]:
# df=pd.merge(df,Tiers1,on='Organization LI URL 1',how='left')
# df=pd.merge(df,Tiers5,on='Organization LI URL 5',how='left')
# df=pd.merge(df,Tiers6,on='Organization LI URL 6',how='left')
# df=pd.merge(df,Tiers7,on='Organization LI URL 7',how='left')
# df=pd.merge(df,Tiers8,on='Organization LI URL 8',how='left')
# df=pd.merge(df,Tiers9,on='Organization LI URL 9',how='left')
# df=pd.merge(df,Tiers10,on='Organization LI URL 10',how='left')


# df=df.drop_duplicates()

# df["Full name"].value_counts()
# df
df

   Type_insti6        InstituteMaster6 EdTier6  ...   RevExp8   RevExp9  RevExp10
0      Foreign  London Business School       1  ...  914 days  245 days  245 days
1          NaN                     NaN     NaN  ...       NaT       NaT       NaT
2          NaN                     NaN     NaN  ...       NaT       NaT       NaT
3          NaN                     NaN     NaN  ...       NaT       NaT       NaT
4          NaN                     NaN     NaN  ...   62 days   61 days  334 days
6          NaN                     NaN     NaN  ...       NaT       NaT       NaT
10         NaN                     NaN     NaN  ...       NaT       NaT       NaT
11         NaN                     NaN     NaN  ...       NaT       NaT       NaT
13         NaN                     NaN     NaN  ...  730 days       NaT       NaT
15         NaN                     NaN     NaN  ...  120 days  182 days       NaT
16         NaN                     NaN     NaN  ...       NaT       NaT       NaT
17         NaN                     NaN     NaN  ...       NaT       NaT       NaT
18         NaN                     NaN     NaN  ...       NaT       NaT       NaT
19         NaN                     NaN     NaN  ...       NaT       NaT       NaT
20         NaN                     NaN     NaN  ...  731 days  457 days 1006 days
21         NaN                     NaN     NaN  ... 1004 days  759 days       NaT
22         NaN                     NaN     NaN  ...       NaT       NaT       NaT
24         NaN                     NaN     NaN  ...       NaT       NaT       NaT
25         NaN                     NaN     NaN  ...       NaT       NaT       NaT
26         NaN                     NaN     NaN  ...  365 days       NaT       NaT
27         NaN                     NaN     NaN  ...  243 days  334 days   61 days
28         NaN                     NaN     NaN  ...       NaT       NaT       NaT
29         NaN                     NaN     NaN  ... 2008 days 3561 days 3561 days
30         NaN                     NaN     NaN  ...       NaT       NaT       NaT
31         NaN                     NaN     NaN  ...       NaT       NaT       NaT
34         NaN                     NaN     NaN  ...       NaT       NaT       NaT
35         NaN                     NaN     NaN  ...   61 days       NaT       NaT
37         NaN                     NaN     NaN  ...  731 days 1096 days       NaT
38         NaN                     NaN     NaN  ...       NaT       NaT       NaT
39         NaN                     NaN     NaN  ...  549 days 1096 days 1095 days
40         NaN                     NaN     NaN  ...       NaT       NaT       NaT
41         NaN                     NaN     NaN  ...       NaT       NaT       NaT
42         NaN                     NaN     NaN  ... 1095 days  731 days  183 days
43         NaN                     NaN     NaN  ...       NaT       NaT       NaT
44         NaN                     NaN     NaN  ...       NaT       NaT       NaT
45         NaN                     NaN     NaN  ...       NaT       NaT       NaT
46         NaN                     NaN     NaN  ...       NaT       NaT       NaT
47         NaN                     NaN     NaN  ...       NaT       NaT       NaT
48         NaN                     NaN     NaN  ...       NaT       NaT       NaT
49         NaN                     NaN     NaN  ...  212 days  580 days       NaT
50         NaN                     NaN     NaN  ...  396 days  181 days   31 days
51         NaN                     NaN     NaN  ...   61 days  426 days       NaT
52         NaN                     NaN     NaN  ...       NaT       NaT       NaT
53         NaN                     NaN     NaN  ...       NaT       NaT       NaT
54         NaN                     NaN     NaN  ...   30 days       NaT       NaT
55         NaN                     NaN     NaN  ...  306 days       NaT       NaT
56         NaN                     NaN     NaN  ...   61 days   61 days   61 days
57         NaN                     NaN     NaN  ...       NaT       NaT       NaT
58         NaN                     NaN     NaN  ...   61 days   61 days       NaT
59         NaN                     NaN     NaN  ...       NaT       NaT       NaT
60         NaN                     NaN     NaN  ...       NaT       NaT       NaT

[51 rows x 585 columns]

In [ ]:
# dftry=pd.merge(Tiers1,dffd,on=['Organization LI URL 1'],how='right')
# pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:

pd.set_option('display.max_rows', None)

def slash(string):
  return string[:-1]

df["Organization LI URL 1"] = df["Organization LI URL 1"].astype(str).apply(slash)
df["Organization LI URL 2"] = df["Organization LI URL 2"].astype(str).apply(slash)
df["Organization LI URL 3"] = df["Organization LI URL 3"].astype(str).apply(slash)
df["Organization LI URL 4"] = df["Organization LI URL 4"].astype(str).apply(slash)
df["Organization LI URL 5"] = df["Organization LI URL 5"].astype(str).apply(slash)
df["Organization LI URL 6"] = df["Organization LI URL 6"].astype(str).apply(slash)
df["Organization LI URL 7"] = df["Organization LI URL 7"].astype(str).apply(slash)
df["Organization LI URL 8"] = df["Organization LI URL 8"].astype(str).apply(slash)
df["Organization LI URL 9"] = df["Organization LI URL 9"].astype(str).apply(slash)
df["Organization LI URL 10"] = df["Organization LI URL 10"].astype(str).apply(slash)

In [ ]:
# df["Organization LI URL 1"].astype(str)
# Tiers1["Organization LI URL 1"].astype(str)
# dffd = df[["Full name","Organization LI URL 1","Organization 1"]]
# df = pd.merge(left=df, right=Tiers1, how='left', left_on='Organization LI URL 1', right_on='Organization LI URL 1')
# df = pd.merge(left=df, right=Tiers2, how='left', left_on='Organization LI URL 2', right_on='Organization LI URL 2')
# df = pd.merge(left=df, right=Tiers3, how='left', left_on='Organization LI URL 3', right_on='Organization LI URL 3')
# df = pd.merge(left=df, right=Tiers4, how='left', left_on='Organization LI URL 4', right_on='Organization LI URL 4')
# df = pd.merge(left=df, right=Tiers5, how='left', left_on='Organization LI URL 5', right_on='Organization LI URL 5')
# df = pd.merge(left=df, right=Tiers6, how='left', left_on='Organization LI URL 6', right_on='Organization LI URL 6')
# df = pd.merge(left=df, right=Tiers7, how='left', left_on='Organization LI URL 7', right_on='Organization LI URL 7')
# df = pd.merge(left=df, right=Tiers8, how='left', left_on='Organization LI URL 8', right_on='Organization LI URL 8')
# df = pd.merge(left=df, right=Tiers9, how='left', left_on='Organization LI URL 9', right_on='Organization LI URL 9')
# df = pd.merge(left=df, right=Tiers10, how='left', left_on='Organization LI URL 10', right_on='Organization LI URL 10')

df=pd.merge(df,Tiers1,on='Organization LI URL 1',how='left')

# Tiers["Linkedin URL"]

In [ ]:
df["Organization LI URL 1"]

0         https://www.linkedin.com/company/mba-accepted
1     https://www.linkedin.com/company/orange-grove-bio
2             https://www.linkedin.com/company/gomedici
3     https://www.linkedin.com/company/ingredion-inc...
4               https://www.linkedin.com/company/nomura
5     https://www.linkedin.com/company/dr--reddys-la...
6     https://www.linkedin.com/company/rosenblatt-se...
7     https://www.linkedin.com/company/axis-capital-...
8     https://www.linkedin.com/company/varanium-advi...
9     https://www.linkedin.com/company/boehringer-in...
10    https://www.linkedin.com/company/great-lakes-i...
11                https://www.linkedin.com/company/asml
12    https://www.linkedin.com/company/bank-of-ameri...
13    https://www.linkedin.com/company/steel-and-gra...
14    https://www.linkedin.com/search/results/all/?k...
15    https://www.linkedin.com/company/amazon-web-se...
16            https://www.linkedin.com/company/yelp-com
17    https://www.linkedin.com/company/bmo-capital-m...
18    https://www.linkedin.com/company/london-busine...
19    https://www.linkedin.com/company/nyu-stern-sch...
20         https://www.linkedin.com/company/electric-ai
21       https://www.linkedin.com/company/wolferesearch
22        https://www.linkedin.com/company/innovatio-im
23      https://www.linkedin.com/company/tiffany-and-co
24               https://www.linkedin.com/company/aecom
25    https://www.linkedin.com/company/bank-of-ameri...
26      https://www.linkedin.com/company/analysis-group
27              https://www.linkedin.com/company/nordea
28       https://www.linkedin.com/company/zs-associates
29       https://www.linkedin.com/company/smartechs-llc
30    https://www.linkedin.com/company/deposit-solut...
31            https://www.linkedin.com/company/jpmorgan
32            https://www.linkedin.com/company/jpmorgan
33            https://www.linkedin.com/company/jpmorgan
34            https://www.linkedin.com/company/jpmorgan
35            https://www.linkedin.com/company/jpmorgan
36            https://www.linkedin.com/company/jpmorgan
37            https://www.linkedin.com/company/jpmorgan
38            https://www.linkedin.com/company/jpmorgan
39    https://www.linkedin.com/company/nyu-stern-sch...
40          https://www.linkedin.com/company/milbankllp
41            https://www.linkedin.com/company/jpmorgan
42            https://www.linkedin.com/company/jpmorgan
43            https://www.linkedin.com/company/jpmorgan
44            https://www.linkedin.com/company/jpmorgan
45            https://www.linkedin.com/company/jpmorgan
46            https://www.linkedin.com/company/jpmorgan
47            https://www.linkedin.com/company/jpmorgan
48            https://www.linkedin.com/company/jpmorgan
49            https://www.linkedin.com/company/uber-com
50    https://www.linkedin.com/company/barclays-inve...
51       https://www.linkedin.com/company/jpmorganchase
52    https://www.linkedin.com/company/bank-of-the-west
53           https://www.linkedin.com/company/twitch-tv
54    https://www.linkedin.com/company/smithsonian-n...
55    https://www.linkedin.com/company/forsman-&-bod...
56    https://www.linkedin.com/company/rbc-capital-m...
57    https://www.linkedin.com/company/marsh-&-mclen...
58       https://www.linkedin.com/company/goldman-sachs
59    https://www.linkedin.com/company/multiples-alr...
60        https://www.linkedin.com/company/ey-parthenon
61           https://www.linkedin.com/company/neoogilvy
62       https://www.linkedin.com/company/cairn-capital
63    https://www.linkedin.com/company/echo-health-v...
64    https://www.linkedin.com/company/nyu-stern-sch...
Name: Organization LI URL 1, dtype: object

In [ ]:
df=pd.merge(df,Tiers2,on='Organization LI URL 2',how='left')
df = df.drop_duplicates(subset="Profile url",keep="first")
df["Full name"].value_counts()

Ashwin Advani              1
Saqub Awan                 1
Randeep Singh              1
Akshay Kumar Anugu         1
Roohi Advani               1
Aastha Maniar              1
Sriharsha Palugulla        1
Akshay Nigam               1
Arun Jain                  1
John Gonsalves             1
Saransh Bansal             1
Krunal Desai               1
Shivansh Aggarwal          1
Faiyaz Ferdousi            1
Rutika Dhuru               1
Suresh Ramanathan          1
Val Misra, MBA             1
Prachi Patke               1
Nandita Pandit             1
Krishna Daswani            1
Aparajit Bhandarkar        1
Ammar Jilani               1
Shamit Munjal              1
Zahra Asharia              1
Shruti Jain                1
Omair Ahmed                1
Raja Ram                   1
Hursh Vasant               1
Shariq Mirza, CFA          1
Priyanko Basu              1
Manraj Parmar, M.D.        1
Dipan Naik                 1
Niyanta Mogre              1
Tavishi Vohra              1
Vikas H. Shah              1
Fareen Pasaya              1
Aditya Khurjekar           1
Mounica Majeti             1
Siddharth Dandekar, CFA    1
Kavya Jacob                1
Pooja Kakar                1
Vikrant Bhaskarwar         1
Dhruv Goyal                1
Surbhee Grover             1
Debraj Ghosh               1
Pushpender Chhillar        1
Shiv Parikh                1
Aditya Subramaniam         1
Rohan Grover               1
Pratik Bose                1
Vikram Chachra             1
Name: Full name, dtype: int64

In [ ]:
df

    Type_insti6  ... orgtier2
0       Foreign  ...        1
1           NaN  ...      NaN
2           NaN  ...      NaN
3           NaN  ...        3
4           NaN  ...        1
5           NaN  ...        3
6           NaN  ...        2
7           NaN  ...        2
8           NaN  ...      NaN
9           NaN  ...      NaN
10          NaN  ...      NaN
11          NaN  ...      NaN
12          NaN  ...        1
13          NaN  ...      NaN
14          NaN  ...      NaN
15          NaN  ...        2
16          NaN  ...        3
17          NaN  ...        1
18          NaN  ...      NaN
19          NaN  ...        1
20          NaN  ...      NaN
21          NaN  ...        1
22          NaN  ...      NaN
23          NaN  ...      NaN
24          NaN  ...      NaN
25          NaN  ...        1
26          NaN  ...        0
27          NaN  ...      NaN
28          NaN  ...        2
29          NaN  ...      NaN
30          NaN  ...      NaN
31          NaN  ...      NaN
39          NaN  ...        1
40          NaN  ...      NaN
41          NaN  ...        1
105         NaN  ...      NaN
106         NaN  ...        1
107         NaN  ...      NaN
108         NaN  ...      NaN
109         NaN  ...      NaN
110         NaN  ...      NaN
111         NaN  ...      NaN
112         NaN  ...      NaN
113         NaN  ...        2
114         NaN  ...        1
115         NaN  ...        2
116         NaN  ...        3
117         NaN  ...      NaN
118         NaN  ...      NaN
119         NaN  ...      NaN
120         NaN  ...      NaN

[51 rows x 589 columns]

In [ ]:
df=pd.merge(df,Tiers3,on='Organization LI URL 3',how='left')
df = df.drop_duplicates(subset="Profile url",keep="first")

df["Full name"].value_counts()

Ashwin Advani              1
Saqub Awan                 1
Randeep Singh              1
Akshay Kumar Anugu         1
Roohi Advani               1
Aastha Maniar              1
Sriharsha Palugulla        1
Akshay Nigam               1
Arun Jain                  1
John Gonsalves             1
Saransh Bansal             1
Krunal Desai               1
Shivansh Aggarwal          1
Faiyaz Ferdousi            1
Rutika Dhuru               1
Suresh Ramanathan          1
Val Misra, MBA             1
Prachi Patke               1
Nandita Pandit             1
Krishna Daswani            1
Aparajit Bhandarkar        1
Ammar Jilani               1
Shamit Munjal              1
Zahra Asharia              1
Shruti Jain                1
Omair Ahmed                1
Raja Ram                   1
Hursh Vasant               1
Shariq Mirza, CFA          1
Priyanko Basu              1
Manraj Parmar, M.D.        1
Dipan Naik                 1
Niyanta Mogre              1
Tavishi Vohra              1
Vikas H. Shah              1
Fareen Pasaya              1
Aditya Khurjekar           1
Mounica Majeti             1
Siddharth Dandekar, CFA    1
Kavya Jacob                1
Pooja Kakar                1
Vikrant Bhaskarwar         1
Dhruv Goyal                1
Surbhee Grover             1
Debraj Ghosh               1
Pushpender Chhillar        1
Shiv Parikh                1
Aditya Subramaniam         1
Rohan Grover               1
Pratik Bose                1
Vikram Chachra             1
Name: Full name, dtype: int64

In [ ]:

df=pd.merge(df,Tiers4,on='Organization LI URL 4',how='left')
df = df.drop_duplicates(subset="Profile url",keep="first")

df["Full name"].value_counts()
df

   Type_insti6  ... orgtier4
0      Foreign  ...        3
1          NaN  ...      NaN
2          NaN  ...      NaN
3          NaN  ...        1
4          NaN  ...      NaN
5          NaN  ...        1
6          NaN  ...        2
7          NaN  ...        1
8          NaN  ...        3
9          NaN  ...      NaN
10         NaN  ...      NaN
11         NaN  ...      NaN
12         NaN  ...        2
13         NaN  ...        3
14         NaN  ...      NaN
15         NaN  ...        0
16         NaN  ...        3
17         NaN  ...      NaN
18         NaN  ...        2
19         NaN  ...        2
20         NaN  ...      NaN
21         NaN  ...        2
22         NaN  ...      NaN
23         NaN  ...      NaN
24         NaN  ...        2
25         NaN  ...        3
26         NaN  ...        2
27         NaN  ...      NaN
28         NaN  ...        2
29         NaN  ...        3
30         NaN  ...        2
31         NaN  ...      NaN
32         NaN  ...      NaN
33         NaN  ...      NaN
34         NaN  ...      NaN
35         NaN  ...      NaN
36         NaN  ...      NaN
37         NaN  ...      NaN
38         NaN  ...        2
39         NaN  ...      NaN
40         NaN  ...      NaN
41         NaN  ...      NaN
42         NaN  ...      NaN
43         NaN  ...      NaN
44         NaN  ...      NaN
45         NaN  ...        2
46         NaN  ...        3
47         NaN  ...      NaN
48         NaN  ...        1
49         NaN  ...        3
50         NaN  ...      NaN

[51 rows x 593 columns]

In [ ]:
df

   Type_insti6  ... orgtier4
0      Foreign  ...        3
1          NaN  ...      NaN
2          NaN  ...      NaN
3          NaN  ...        1
4          NaN  ...      NaN
5          NaN  ...        1
6          NaN  ...        2
7          NaN  ...        1
8          NaN  ...        3
9          NaN  ...      NaN
10         NaN  ...      NaN
11         NaN  ...      NaN
12         NaN  ...        2
13         NaN  ...        3
14         NaN  ...      NaN
15         NaN  ...        0
16         NaN  ...        3
17         NaN  ...      NaN
18         NaN  ...        2
19         NaN  ...        2
20         NaN  ...      NaN
21         NaN  ...        2
22         NaN  ...      NaN
23         NaN  ...      NaN
24         NaN  ...        2
25         NaN  ...        3
26         NaN  ...        2
27         NaN  ...      NaN
28         NaN  ...        2
29         NaN  ...        3
30         NaN  ...        2
31         NaN  ...      NaN
32         NaN  ...      NaN
33         NaN  ...      NaN
34         NaN  ...      NaN
35         NaN  ...      NaN
36         NaN  ...      NaN
37         NaN  ...      NaN
38         NaN  ...        2
39         NaN  ...      NaN
40         NaN  ...      NaN
41         NaN  ...      NaN
42         NaN  ...      NaN
43         NaN  ...      NaN
44         NaN  ...      NaN
45         NaN  ...        2
46         NaN  ...        3
47         NaN  ...      NaN
48         NaN  ...        1
49         NaN  ...        3
50         NaN  ...      NaN

[51 rows x 593 columns]

In [ ]:
df=pd.merge(df,Tiers5,on='Organization LI URL 5',how='left')
df = df.drop_duplicates(subset='Profile url', keep='first')

df["Full name"].value_counts()
df

   Type_insti6  ... orgtier5
0      Foreign  ...        2
1          NaN  ...      NaN
2          NaN  ...      NaN
3          NaN  ...      NaN
4          NaN  ...      NaN
5          NaN  ...        1
6          NaN  ...        1
7          NaN  ...        2
8          NaN  ...        3
9          NaN  ...      NaN
10         NaN  ...      NaN
11         NaN  ...      NaN
12         NaN  ...      NaN
13         NaN  ...        2
14         NaN  ...      NaN
15         NaN  ...      NaN
16         NaN  ...      NaN
17         NaN  ...      NaN
18         NaN  ...        2
19         NaN  ...      NaN
20         NaN  ...      NaN
21         NaN  ...      NaN
22         NaN  ...      NaN
23         NaN  ...      NaN
24         NaN  ...      NaN
25         NaN  ...      NaN
26         NaN  ...        4
27         NaN  ...      NaN
28         NaN  ...        2
29         NaN  ...        3
30         NaN  ...      NaN
31         NaN  ...      NaN
32         NaN  ...      NaN
33         NaN  ...      NaN
34         NaN  ...      NaN
35         NaN  ...        1
36         NaN  ...      NaN
37         NaN  ...      NaN
38         NaN  ...        3
39         NaN  ...      NaN
40         NaN  ...      NaN
41         NaN  ...      NaN
42         NaN  ...      NaN
43         NaN  ...      NaN
44         NaN  ...      NaN
45         NaN  ...      NaN
46         NaN  ...        3
47         NaN  ...      NaN
48         NaN  ...        1
49         NaN  ...        3
50         NaN  ...        2

[51 rows x 595 columns]

In [ ]:
df["Full name"].value_counts()

Ashwin Advani              1
Saqub Awan                 1
Randeep Singh              1
Akshay Kumar Anugu         1
Roohi Advani               1
Aastha Maniar              1
Sriharsha Palugulla        1
Akshay Nigam               1
Arun Jain                  1
John Gonsalves             1
Saransh Bansal             1
Krunal Desai               1
Shivansh Aggarwal          1
Faiyaz Ferdousi            1
Rutika Dhuru               1
Suresh Ramanathan          1
Val Misra, MBA             1
Prachi Patke               1
Nandita Pandit             1
Krishna Daswani            1
Aparajit Bhandarkar        1
Ammar Jilani               1
Shamit Munjal              1
Zahra Asharia              1
Shruti Jain                1
Omair Ahmed                1
Raja Ram                   1
Hursh Vasant               1
Shariq Mirza, CFA          1
Priyanko Basu              1
Manraj Parmar, M.D.        1
Dipan Naik                 1
Niyanta Mogre              1
Tavishi Vohra              1
Vikas H. Shah              1
Fareen Pasaya              1
Aditya Khurjekar           1
Mounica Majeti             1
Siddharth Dandekar, CFA    1
Kavya Jacob                1
Pooja Kakar                1
Vikrant Bhaskarwar         1
Dhruv Goyal                1
Surbhee Grover             1
Debraj Ghosh               1
Pushpender Chhillar        1
Shiv Parikh                1
Aditya Subramaniam         1
Rohan Grover               1
Pratik Bose                1
Vikram Chachra             1
Name: Full name, dtype: int64

In [ ]:
df=pd.merge(df,Tiers6,on='Organization LI URL 6',how='left')

In [ ]:
df=pd.merge(df,Tiers7,on='Organization LI URL 7',how='left')

In [ ]:
df=pd.merge(df,Tiers8,on='Organization LI URL 8',how='left')

In [ ]:
df=pd.merge(df,Tiers9,on='Organization LI URL 9',how='left')

In [ ]:
df=pd.merge(df,Tiers10,on='Organization LI URL 10',how='left')

In [ ]:
df = df.drop_duplicates(subset='Profile url', keep='first')

df["Full name"].value_counts()
df

   Type_insti6        InstituteMaster6 EdTier6  ... orgtier9  Industry10  orgtier10
0      Foreign  London Business School       1  ...        1  Accounting          2
1          NaN                     NaN     NaN  ...      NaN         NaN        NaN
2          NaN                     NaN     NaN  ...      NaN         NaN        NaN
3          NaN                     NaN     NaN  ...      NaN         NaN        NaN
4          NaN                     NaN     NaN  ...      NaN         NaN        NaN
5          NaN                     NaN     NaN  ...      NaN         NaN        NaN
6          NaN                     NaN     NaN  ...      NaN         NaN        NaN
7          NaN                     NaN     NaN  ...      NaN         NaN        NaN
8          NaN                     NaN     NaN  ...      NaN         NaN        NaN
9          NaN                     NaN     NaN  ...      NaN         NaN        NaN
10         NaN                     NaN     NaN  ...      NaN         NaN        NaN
11         NaN                     NaN     NaN  ...      NaN         NaN        NaN
12         NaN                     NaN     NaN  ...      NaN         NaN        NaN
13         NaN                     NaN     NaN  ...      NaN         NaN        NaN
14         NaN                     NaN     NaN  ...      NaN     Banking          2
15         NaN                     NaN     NaN  ...      NaN         NaN        NaN
16         NaN                     NaN     NaN  ...      NaN         NaN        NaN
17         NaN                     NaN     NaN  ...      NaN         NaN        NaN
18         NaN                     NaN     NaN  ...      NaN         NaN        NaN
19         NaN                     NaN     NaN  ...      NaN         NaN        NaN
20         NaN                     NaN     NaN  ...      NaN         NaN        NaN
21         NaN                     NaN     NaN  ...      NaN         NaN        NaN
22         NaN                     NaN     NaN  ...      NaN         NaN        NaN
23         NaN                     NaN     NaN  ...      NaN         NaN        NaN
24         NaN                     NaN     NaN  ...      NaN         NaN        NaN
25         NaN                     NaN     NaN  ...      NaN         NaN        NaN
26         NaN                     NaN     NaN  ...      NaN         NaN        NaN
27         NaN                     NaN     NaN  ...      NaN         NaN        NaN
28         NaN                     NaN     NaN  ...      NaN         NaN        NaN
29         NaN                     NaN     NaN  ...        3         NaN        NaN
30         NaN                     NaN     NaN  ...      NaN         NaN        NaN
31         NaN                     NaN     NaN  ...      NaN         NaN        NaN
32         NaN                     NaN     NaN  ...      NaN         NaN        NaN
33         NaN                     NaN     NaN  ...      NaN         NaN        NaN
34         NaN                     NaN     NaN  ...      NaN         NaN        NaN
35         NaN                     NaN     NaN  ...      NaN         NaN        NaN
36         NaN                     NaN     NaN  ...      NaN         NaN        NaN
37         NaN                     NaN     NaN  ...      NaN         NaN        NaN
38         NaN                     NaN     NaN  ...      NaN         NaN        NaN
39         NaN                     NaN     NaN  ...      NaN         NaN        NaN
40         NaN                     NaN     NaN  ...      NaN         NaN        NaN
41         NaN                     NaN     NaN  ...      NaN         NaN        NaN
42         NaN                     NaN     NaN  ...      NaN         NaN        NaN
43         NaN                     NaN     NaN  ...      NaN         NaN        NaN
44         NaN                     NaN     NaN  ...      NaN         NaN        NaN
45         NaN                     NaN     NaN  ...      NaN         NaN        NaN
46         NaN                     NaN     NaN  ...        3         NaN        NaN
47         NaN                     NaN     NaN  ...      NaN         NaN        NaN
48         NaN                     NaN     NaN  ...      NaN         NaN        NaN
49         NaN                     NaN     NaN  ...      NaN         NaN        NaN
50         NaN                     NaN     NaN  ...      NaN         NaN        NaN

[51 rows x 605 columns]

In [ ]:
df["orgtier1"]

0     NaN
1     NaN
2     NaN
3     NaN
4       1
5       3
6     NaN
7       2
8     NaN
9     NaN
10    NaN
11    NaN
12      1
13    NaN
14    NaN
15      4
16      2
17      1
18    NaN
19      0
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25      1
26    NaN
27    NaN
28      2
29    NaN
30    NaN
31      1
32      0
33    NaN
34      1
35      2
36      1
37      1
38    NaN
39    NaN
40    NaN
41    NaN
42      1
43    NaN
44      1
45      2
46      2
47    NaN
48    NaN
49    NaN
50      0
Name: orgtier1, dtype: object

In [ ]:
# df[["RevExp1", "RevExp2", "RevExp3","RevExp4", "Overlap1-2", "RevExp6", "RevExp7", "RevExp8", "RevExp9", "RevExp10"]].head(30)
df["orgtier1"] = df["orgtier1"].fillna(0).astype(int)
df["orgtier2"] = df["orgtier2"].fillna(0).astype(int)
df["orgtier3"] = df["orgtier3"].fillna(0).astype(int)
df["orgtier4"] = df["orgtier4"].fillna(0).astype(int)
df["orgtier5"] = df["orgtier5"].fillna(0).astype(int)
df["orgtier6"] = df["orgtier6"].fillna(0).astype(int)
df["orgtier7"] = df["orgtier7"].fillna(0).astype(int)
df["orgtier8"] = df["orgtier8"].fillna(0).astype(int)
df["orgtier9"] = df["orgtier9"].fillna(0).astype(int)
df["orgtier10"] = df["orgtier10"].fillna(0).astype(int)

In [ ]:
#  np.where(df["revtier1"] == df["orgtier1"], df["RevExp1"],df["RevExp2"]=0)

df["revtier1F12"] = np.nan
df["revtier2F12"] = np.nan

df.loc[(df["Overlap1-2"]==1) & (df["orgtier1"]>df["orgtier2"]),"revtier1F12"] = df["orgtier1"]   # df["revtier1"] == df["orgtier1"], df["RevExp1"],df["RevExp2"]=0
df.loc[(df["Overlap1-2"]==1) & (df["orgtier1"]<df["orgtier2"]),"revtier2F12"] = df["orgtier2"] 

df.loc[(df["revtier1F12"] == df["orgtier1"]),"RevExp2"] = 0
df.loc[(df["revtier2F12"] == df["orgtier2"]),"RevExp1"] = 0


df["revtier1F13"] = np.nan
df["revtier3F13"] = np.nan
df.loc[(df["Overlap1-3"]==1) & (df["orgtier1"]>df["orgtier3"]),"revtier1F13"] = df["orgtier1"]   
df.loc[(df["Overlap1-3"]==1) & (df["orgtier1"]<df["orgtier3"]),"revtier3F13"] = df["orgtier3"] 
df.loc[(df["revtier1F13"] == df["orgtier1"]),"RevExp3"] = 0
df.loc[(df["revtier3F13"] == df["orgtier3"]),"RevExp1"] = 0


df["revtier1F14"] = np.nan
df["revtier4F14"] = np.nan
df.loc[(df["Overlap1-4"]==1) & (df["orgtier1"]>df["orgtier4"]),"revtier1F14"] = df["orgtier1"]   
df.loc[(df["Overlap1-4"]==1) & (df["orgtier1"]<df["orgtier4"]),"revtier4F14"] = df["orgtier4"] 
df.loc[(df["revtier1F14"] == df["orgtier1"]),"RevExp4"] = 0
df.loc[(df["revtier4F14"] == df["orgtier4"]),"RevExp1"] = 0

df["revtier1F15"] = np.nan
df["revtier5F15"] = np.nan
df.loc[(df["Overlap1-5"]==1) & (df["orgtier1"]>df["orgtier5"]),"revtier1F15"] = df["orgtier1"]   
df.loc[(df["Overlap1-5"]==1) & (df["orgtier1"]<df["orgtier5"]),"revtier5F15"] = df["orgtier5"] 
df.loc[(df["revtier1F15"] == df["orgtier1"]),"RevExp5"] = 0
df.loc[(df["revtier5F15"] == df["orgtier5"]),"RevExp1"] = 0

df["revtier1F16"] = np.nan
df["revtier6F16"] = np.nan
df.loc[(df["Overlap1-6"]==1) & (df["orgtier1"]>df["orgtier6"]),"revtier1F16"] = df["orgtier1"]   
df.loc[(df["Overlap1-6"]==1) & (df["orgtier1"]<df["orgtier6"]),"revtier6F16"] = df["orgtier6"] 
df.loc[(df["revtier1F16"] == df["orgtier1"]),"RevExp6"] = 0
df.loc[(df["revtier6F16"] == df["orgtier6"]),"RevExp1"] = 0


df["revtier1F17"] = np.nan
df["revtier7F17"] = np.nan
df.loc[(df["Overlap1-7"]==1) & (df["orgtier1"]>df["orgtier7"]),"revtier1F17"] = df["orgtier1"]   
df.loc[(df["Overlap1-7"]==1) & (df["orgtier1"]<df["orgtier7"]),"revtier7F17"] = df["orgtier7"] 
df.loc[(df["revtier1F17"] == df["orgtier1"]),"RevExp7"] = 0
df.loc[(df["revtier7F17"] == df["orgtier7"]),"RevExp1"] = 0


df["revtier1F18"] = np.nan
df["revtier8F18"] = np.nan
df.loc[(df["Overlap1-8"]==1) & (df["orgtier1"]>df["orgtier8"]),"revtier1F18"] = df["orgtier1"]   
df.loc[(df["Overlap1-8"]==1) & (df["orgtier1"]<df["orgtier8"]),"revtier8F18"] = df["orgtier8"] 
df.loc[(df["revtier1F18"] == df["orgtier1"]),"RevExp8"] = 0
df.loc[(df["revtier8F18"] == df["orgtier8"]),"RevExp1"] = 0




df["revtier1F19"] = np.nan
df["revtier9F19"] = np.nan
df.loc[(df["Overlap1-9"]==1) & (df["orgtier1"]>df["orgtier9"]),"revtier1F19"] = df["orgtier1"]   
df.loc[(df["Overlap1-9"]==1) & (df["orgtier1"]<df["orgtier9"]),"revtier9F19"] = df["orgtier9"] 
df.loc[(df["revtier1F19"] == df["orgtier1"]),"RevExp9"] = 0
df.loc[(df["revtier9F19"] == df["orgtier9"]),"RevExp1"] = 0


df["revtier1F110"] = np.nan
df["revtier10F110"] = np.nan
df.loc[(df["Overlap1-10"]==1) & (df["orgtier1"]>df["orgtier10"]),"revtier1F110"] = df["orgtier1"]   
df.loc[(df["Overlap1-10"]==1) & (df["orgtier1"]<df["orgtier10"]),"revtier10F110"] = df["orgtier10"] 
df.loc[(df["revtier1F110"] == df["orgtier1"]),"RevExp10"] = 0
df.loc[(df["revtier10F110"] == df["orgtier10"]),"RevExp1"] = 0

In [ ]:
df["revtier1F12"]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    1.0
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
50    NaN
Name: revtier1F12, dtype: float64

In [ ]:
df["orgtier2"]

0     1
1     0
2     0
3     3
4     1
5     3
6     2
7     2
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    3
17    1
18    0
19    1
20    0
21    1
22    0
23    0
24    0
25    1
26    0
27    0
28    2
29    0
30    0
31    0
32    1
33    0
34    1
35    0
36    1
37    0
38    0
39    0
40    0
41    0
42    0
43    2
44    1
45    2
46    3
47    0
48    0
49    0
50    0
Name: orgtier2, dtype: int64

In [ ]:
# df["revtier1F21"] = np.nan
# df["revtier2F21"] = np.nan

# df.loc[(df["Overlap2-1"]==1) & (df["orgtier2"]>df["orgtier1"]),"revtier1F21"] = df["orgtier2"]   # df["revtier1"] == df["orgtier1"], df["RevExp1"],df["RevExp2"]=0
# df.loc[(df["Overlap2-1"]==1) & (df["orgtier2"]<df["orgtier1"]),"revtier2F21"] = df["orgtier1"] 

# df.loc[(df["revtier1F12"] == df["orgtier1"]),"RevExp2"] = 0
# df.loc[(df["revtier2F12"] == df["orgtier2"]),"RevExp1"] = 0


df["revtier2F23"] = np.nan
df["revtier3F23"] = np.nan
df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]>df["orgtier3"]),"revtier2F23"] = df["orgtier2"]   
df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]<df["orgtier3"]),"revtier3F23"] = df["orgtier3"] 
df.loc[(df["revtier2F23"] == df["orgtier2"]),"RevExp3"] = 0
df.loc[(df["revtier3F23"] == df["orgtier3"]),"RevExp2"] = 0


df["revtier2F24"] = np.nan
df["revtier4F24"] = np.nan
df.loc[(df["Overlap2-4"]==1) & (df["orgtier2"]>df["orgtier4"]),"revtier2F24"] = df["orgtier2"]   
df.loc[(df["Overlap2-4"]==1) & (df["orgtier2"]<df["orgtier4"]),"revtier4F24"] = df["orgtier4"] 
df.loc[(df["revtier2F24"] == df["orgtier2"]),"RevExp4"] = 0
df.loc[(df["revtier4F24"] == df["orgtier4"]),"RevExp2"] = 0

df["revtier2F25"] = np.nan
df["revtier5F25"] = np.nan
df.loc[(df["Overlap2-5"]==1) & (df["orgtier2"]>df["orgtier5"]),"revtier2F25"] = df["orgtier2"]   
df.loc[(df["Overlap2-5"]==1) & (df["orgtier2"]<df["orgtier5"]),"revtier5F25"] = df["orgtier5"] 
df.loc[(df["revtier2F25"] == df["orgtier2"]),"RevExp5"] = 0
df.loc[(df["revtier5F25"] == df["orgtier5"]),"RevExp2"] = 0

df["revtier2F26"] = np.nan
df["revtier6F26"] = np.nan
df.loc[(df["Overlap2-6"]==1) & (df["orgtier2"]>df["orgtier6"]),"revtier2F26"] = df["orgtier2"]   
df.loc[(df["Overlap2-6"]==1) & (df["orgtier2"]<df["orgtier6"]),"revtier6F26"] = df["orgtier6"] 
df.loc[(df["revtier2F26"] == df["orgtier2"]),"RevExp6"] = 0
df.loc[(df["revtier6F26"] == df["orgtier6"]),"RevExp2"] = 0


df["revtier2F27"] = np.nan
df["revtier7F27"] = np.nan
df.loc[(df["Overlap2-7"]==1) & (df["orgtier2"]>df["orgtier7"]),"revtier2F27"] = df["orgtier2"]   
df.loc[(df["Overlap2-7"]==1) & (df["orgtier2"]<df["orgtier7"]),"revtier7F27"] = df["orgtier7"] 
df.loc[(df["revtier2F27"] == df["orgtier2"]),"RevExp7"] = 0
df.loc[(df["revtier7F27"] == df["orgtier7"]),"RevExp2"] = 0


df["revtier2F28"] = np.nan
df["revtier8F28"] = np.nan
df.loc[(df["Overlap2-8"]==1) & (df["orgtier2"]>df["orgtier8"]),"revtier2F28"] = df["orgtier2"]   
df.loc[(df["Overlap2-8"]==1) & (df["orgtier2"]<df["orgtier8"]),"revtier8F28"] = df["orgtier8"] 
df.loc[(df["revtier2F28"] == df["orgtier2"]),"RevExp8"] = 0
df.loc[(df["revtier8F28"] == df["orgtier8"]),"RevExp2"] = 0




df["revtier2F29"] = np.nan
df["revtier9F29"] = np.nan
df.loc[(df["Overlap2-9"]==1) & (df["orgtier2"]>df["orgtier9"]),"revtier2F29"] = df["orgtier2"]   
df.loc[(df["Overlap2-9"]==1) & (df["orgtier2"]<df["orgtier9"]),"revtier9F29"] = df["orgtier9"] 
df.loc[(df["revtier2F29"] == df["orgtier2"]),"RevExp9"] = 0
df.loc[(df["revtier9F29"] == df["orgtier9"]),"RevExp2"] = 0


df["revtier2F210"] = np.nan
df["revtier10F210"] = np.nan
df.loc[(df["Overlap2-10"]==1) & (df["orgtier1"]>df["orgtier10"]),"revtier2F210"] = df["orgtier2"]   
df.loc[(df["Overlap2-10"]==1) & (df["orgtier1"]<df["orgtier10"]),"revtier10F210"] = df["orgtier10"] 
df.loc[(df["revtier2F210"] == df["orgtier2"]),"RevExp10"] = 0
df.loc[(df["revtier10F210"] == df["orgtier10"]),"RevExp2"] = 0

In [ ]:
# df["revtier2F23"] = np.nan
# df["revtier3F23"] = np.nan
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]>df["orgtier3"]),"revtier2F23"] = df["orgtier2"]   
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]<df["orgtier3"]),"revtier3F23"] = df["orgtier3"] 
# df.loc[(df["revtier2F23"] == df["orgtier2"]),"RevExp3"] = 0
# df.loc[(df["revtier3F23"] == df["orgtier3"]),"RevExp2"] = 0


df["revtier3F34"] = np.nan
df["revtier4F34"] = np.nan
df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]>df["orgtier4"]),"revtier3F34"] = df["orgtier3"]   
df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]<df["orgtier4"]),"revtier4F34"] = df["orgtier4"] 
df.loc[(df["revtier3F34"] == df["orgtier3"]),"RevExp4"] = 0
df.loc[(df["revtier4F34"] == df["orgtier4"]),"RevExp3"] = 0

df["revtier3F35"] = np.nan
df["revtier5F35"] = np.nan
df.loc[(df["Overlap3-5"]==1) & (df["orgtier3"]>df["orgtier5"]),"revtier3F35"] = df["orgtier3"]   
df.loc[(df["Overlap3-5"]==1) & (df["orgtier3"]<df["orgtier5"]),"revtier5F35"] = df["orgtier5"] 
df.loc[(df["revtier3F35"] == df["orgtier3"]),"RevExp5"] = 0
df.loc[(df["revtier5F35"] == df["orgtier5"]),"RevExp3"] = 0

df["revtier2F26"] = np.nan
df["revtier6F26"] = np.nan
df.loc[(df["Overlap2-6"]==1) & (df["orgtier2"]>df["orgtier6"]),"revtier2F26"] = df["orgtier2"]   
df.loc[(df["Overlap2-6"]==1) & (df["orgtier2"]<df["orgtier6"]),"revtier6F26"] = df["orgtier6"] 
df.loc[(df["revtier2F26"] == df["orgtier2"]),"RevExp6"] = 0
df.loc[(df["revtier6F26"] == df["orgtier6"]),"RevExp2"] = 0


df["revtier3F37"] = np.nan
df["revtier7F37"] = np.nan
df.loc[(df["Overlap3-7"]==1) & (df["orgtier3"]>df["orgtier7"]),"revtier3F37"] = df["orgtier3"]   
df.loc[(df["Overlap3-7"]==1) & (df["orgtier3"]<df["orgtier7"]),"revtier7F37"] = df["orgtier7"] 
df.loc[(df["revtier3F37"] == df["orgtier3"]),"RevExp7"] = 0
df.loc[(df["revtier7F37"] == df["orgtier7"]),"RevExp3"] = 0


df["revtier3F38"] = np.nan
df["revtier8F38"] = np.nan
df.loc[(df["Overlap3-8"]==1) & (df["orgtier3"]>df["orgtier8"]),"revtier3F38"] = df["orgtier3"]   
df.loc[(df["Overlap3-8"]==1) & (df["orgtier3"]<df["orgtier8"]),"revtier8F38"] = df["orgtier8"] 
df.loc[(df["revtier3F38"] == df["orgtier3"]),"RevExp8"] = 0
df.loc[(df["revtier8F38"] == df["orgtier8"]),"RevExp3"] = 0




df["revtier3F39"] = np.nan
df["revtier9F39"] = np.nan
df.loc[(df["Overlap3-9"]==1) & (df["orgtier3"]>df["orgtier9"]),"revtier3F39"] = df["orgtier3"]   
df.loc[(df["Overlap3-9"]==1) & (df["orgtier3"]<df["orgtier9"]),"revtier9F39"] = df["orgtier9"] 
df.loc[(df["revtier3F39"] == df["orgtier3"]),"RevExp9"] = 0
df.loc[(df["revtier9F39"] == df["orgtier9"]),"RevExp3"] = 0


df["revtier3F310"] = np.nan
df["revtier10F310"] = np.nan
df.loc[(df["Overlap3-10"]==1) & (df["orgtier3"]>df["orgtier10"]),"revtier3F310"] = df["orgtier3"]   
df.loc[(df["Overlap3-10"]==1) & (df["orgtier3"]<df["orgtier10"]),"revtier10F310"] = df["orgtier10"] 
df.loc[(df["revtier3F310"] == df["orgtier3"]),"RevExp10"] = 0
df.loc[(df["revtier10F310"] == df["orgtier10"]),"RevExp3"] = 0

In [ ]:
df["RevExp3"]

0      184 days 00:00:00
1                    NaT
2     1096 days 00:00:00
3                      0
4       61 days 00:00:00
5      823 days 00:00:00
6      761 days 00:00:00
7       92 days 00:00:00
8      366 days 00:00:00
9      243 days 00:00:00
10    3257 days 00:00:00
11    1065 days 00:00:00
12     304 days 00:00:00
13     396 days 00:00:00
14                   NaT
15     365 days 00:00:00
16     519 days 00:00:00
17                   NaT
18    1216 days 00:00:00
19     122 days 00:00:00
20     424 days 00:00:00
21                   NaT
22     638 days 00:00:00
23      61 days 00:00:00
24     427 days 00:00:00
25      92 days 00:00:00
26      61 days 00:00:00
27     485 days 00:00:00
28                   NaT
29     700 days 00:00:00
30     546 days 00:00:00
31     122 days 00:00:00
32      61 days 00:00:00
33     669 days 00:00:00
34    1673 days 00:00:00
35    1096 days 00:00:00
36     396 days 00:00:00
37                     0
38    3014 days 00:00:00
39     181 days 00:00:00
40     457 days 00:00:00
41      92 days 00:00:00
42    1065 days 00:00:00
43     396 days 00:00:00
44     700 days 00:00:00
45    1037 days 00:00:00
46      62 days 00:00:00
47     853 days 00:00:00
48     335 days 00:00:00
49                   NaT
50     304 days 00:00:00
Name: RevExp3, dtype: object

In [ ]:
# df["revtier2F23"] = np.nan
# df["revtier3F23"] = np.nan
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]>df["orgtier3"]),"revtier2F23"] = df["orgtier2"]   
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]<df["orgtier3"]),"revtier3F23"] = df["orgtier3"] 
# df.loc[(df["revtier2F23"] == df["orgtier2"]),"RevExp3"] = 0
# df.loc[(df["revtier3F23"] == df["orgtier3"]),"RevExp2"] = 0


# df["revtier3F34"] = np.nan
# df["revtier4F34"] = np.nan
# df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]>df["orgtier4"]),"revtier3F34"] = df["orgtier3"]   
# df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]<df["orgtier4"]),"revtier4F34"] = df["orgtier4"] 
# df.loc[(df["revtier3F34"] == df["orgtier3"]),"RevExp4"] = 0
# df.loc[(df["revtier4F34"] == df["orgtier4"]),"RevExp3"] = 0

df["revtier4F45"] = np.nan
df["revtier5F45"] = np.nan
df.loc[(df["Overlap4-5"]==1) & (df["orgtier4"]>df["orgtier5"]),"revtier4F45"] = df["orgtier4"]   
df.loc[(df["Overlap4-5"]==1) & (df["orgtier4"]<df["orgtier5"]),"revtier5F45"] = df["orgtier5"] 
df.loc[(df["revtier4F45"] == df["orgtier4"]),"RevExp5"] = 0
df.loc[(df["revtier5F45"] == df["orgtier5"]),"RevExp4"] = 0

df["revtier4F46"] = np.nan
df["revtier6F46"] = np.nan
df.loc[(df["Overlap4-6"]==1) & (df["orgtier4"]>df["orgtier6"]),"revtier4F46"] = df["orgtier4"]   
df.loc[(df["Overlap4-6"]==1) & (df["orgtier4"]<df["orgtier6"]),"revtier6F46"] = df["orgtier6"] 
df.loc[(df["revtier4F46"] == df["orgtier4"]),"RevExp6"] = 0
df.loc[(df["revtier6F46"] == df["orgtier6"]),"RevExp4"] = 0


df["revtier4F47"] = np.nan
df["revtier7F47"] = np.nan
df.loc[(df["Overlap4-7"]==1) & (df["orgtier4"]>df["orgtier7"]),"revtier4F47"] = df["orgtier4"]   
df.loc[(df["Overlap4-7"]==1) & (df["orgtier4"]<df["orgtier7"]),"revtier7F47"] = df["orgtier7"] 
df.loc[(df["revtier4F47"] == df["orgtier4"]),"RevExp7"] = 0
df.loc[(df["revtier7F47"] == df["orgtier7"]),"RevExp4"] = 0


df["revtier4F48"] = np.nan
df["revtier8F48"] = np.nan
df.loc[(df["Overlap4-8"]==1) & (df["orgtier4"]>df["orgtier8"]),"revtier4F48"] = df["orgtier4"]   
df.loc[(df["Overlap4-8"]==1) & (df["orgtier4"]<df["orgtier8"]),"revtier8F48"] = df["orgtier8"] 
df.loc[(df["revtier4F48"] == df["orgtier4"]),"RevExp8"] = 0
df.loc[(df["revtier8F48"] == df["orgtier8"]),"RevExp4"] = 0




df["revtier4F49"] = np.nan
df["revtier9F49"] = np.nan
df.loc[(df["Overlap4-9"]==1) & (df["orgtier4"]>df["orgtier9"]),"revtier4F49"] = df["orgtier4"]   
df.loc[(df["Overlap4-9"]==1) & (df["orgtier4"]<df["orgtier9"]),"revtier9F49"] = df["orgtier9"] 
df.loc[(df["revtier4F49"] == df["orgtier4"]),"RevExp9"] = 0
df.loc[(df["revtier9F49"] == df["orgtier9"]),"RevExp4"] = 0


df["revtier4F410"] = np.nan
df["revtier10F410"] = np.nan
df.loc[(df["Overlap4-10"]==1) & (df["orgtier4"]>df["orgtier10"]),"revtier4F410"] = df["orgtier4"]   
df.loc[(df["Overlap4-10"]==1) & (df["orgtier4"]<df["orgtier10"]),"revtier10F410"] = df["orgtier10"] 
df.loc[(df["revtier4F410"] == df["orgtier4"]),"RevExp10"] = 0
df.loc[(df["revtier10F410"] == df["orgtier10"]),"RevExp4"] = 0

In [ ]:
# df["revtier2F23"] = np.nan
# df["revtier3F23"] = np.nan
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]>df["orgtier3"]),"revtier2F23"] = df["orgtier2"]   
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]<df["orgtier3"]),"revtier3F23"] = df["orgtier3"] 
# df.loc[(df["revtier2F23"] == df["orgtier2"]),"RevExp3"] = 0
# df.loc[(df["revtier3F23"] == df["orgtier3"]),"RevExp2"] = 0


# df["revtier3F34"] = np.nan
# df["revtier4F34"] = np.nan
# df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]>df["orgtier4"]),"revtier3F34"] = df["orgtier3"]   
# df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]<df["orgtier4"]),"revtier4F34"] = df["orgtier4"] 
# df.loc[(df["revtier3F34"] == df["orgtier3"]),"RevExp4"] = 0
# df.loc[(df["revtier4F34"] == df["orgtier4"]),"RevExp3"] = 0

# df["revtier4F45"] = np.nan
# df["revtier5F45"] = np.nan
# df.loc[(df["Overlap4-5"]==1) & (df["orgtier4"]>df["orgtier5"]),"revtier4F45"] = df["orgtier4"]   
# df.loc[(df["Overlap4-5"]==1) & (df["orgtier4"]<df["orgtier5"]),"revtier5F45"] = df["orgtier5"] 
# df.loc[(df["revtier4F45"] == df["orgtier4"]),"RevExp5"] = 0
# df.loc[(df["revtier5F45"] == df["orgtier5"]),"RevExp4"] = 0

df["revtier5F56"] = np.nan
df["revtier6F56"] = np.nan
df.loc[(df["Overlap5-6"]==1) & (df["orgtier5"]>df["orgtier6"]),"revtier5F56"] = df["orgtier5"]   
df.loc[(df["Overlap5-6"]==1) & (df["orgtier5"]<df["orgtier6"]),"revtier6F56"] = df["orgtier6"] 
df.loc[(df["revtier5F56"] == df["orgtier5"]),"RevExp6"] = 0
df.loc[(df["revtier6F56"] == df["orgtier6"]),"RevExp5"] = 0


df["revtier5F57"] = np.nan
df["revtier7F57"] = np.nan
df.loc[(df["Overlap5-7"]==1) & (df["orgtier5"]>df["orgtier7"]),"revtier5F57"] = df["orgtier5"]   
df.loc[(df["Overlap5-7"]==1) & (df["orgtier5"]<df["orgtier7"]),"revtier7F57"] = df["orgtier7"] 
df.loc[(df["revtier5F57"] == df["orgtier5"]),"RevExp7"] = 0
df.loc[(df["revtier7F57"] == df["orgtier7"]),"RevExp5"] = 0


df["revtier5F58"] = np.nan
df["revtier8F58"] = np.nan
df.loc[(df["Overlap5-8"]==1) & (df["orgtier5"]>df["orgtier8"]),"revtier5F58"] = df["orgtier5"]   
df.loc[(df["Overlap5-8"]==1) & (df["orgtier5"]<df["orgtier8"]),"revtier8F58"] = df["orgtier8"] 
df.loc[(df["revtier5F58"] == df["orgtier5"]),"RevExp8"] = 0
df.loc[(df["revtier8F58"] == df["orgtier8"]),"RevExp5"] = 0




df["revtier5F59"] = np.nan
df["revtier9F59"] = np.nan
df.loc[(df["Overlap5-9"]==1) & (df["orgtier5"]>df["orgtier9"]),"revtier5F59"] = df["orgtier5"]   
df.loc[(df["Overlap5-9"]==1) & (df["orgtier5"]<df["orgtier9"]),"revtier9F59"] = df["orgtier9"] 
df.loc[(df["revtier5F59"] == df["orgtier5"]),"RevExp9"] = 0
df.loc[(df["revtier9F59"] == df["orgtier9"]),"RevExp5"] = 0


df["revtier5F510"] = np.nan
df["revtier10F510"] = np.nan
df.loc[(df["Overlap5-10"]==1) & (df["orgtier5"]>df["orgtier10"]),"revtier5F510"] = df["orgtier5"]   
df.loc[(df["Overlap5-10"]==1) & (df["orgtier5"]<df["orgtier10"]),"revtier10F510"] = df["orgtier10"] 
df.loc[(df["revtier5F510"] == df["orgtier5"]),"RevExp10"] = 0
df.loc[(df["revtier10F510"] == df["orgtier10"]),"RevExp5"] = 0

In [ ]:
# df["revtier2F23"] = np.nan
# df["revtier3F23"] = np.nan
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]>df["orgtier3"]),"revtier2F23"] = df["orgtier2"]   
# df.loc[(df["Overlap2-3"]==1) & (df["orgtier2"]<df["orgtier3"]),"revtier3F23"] = df["orgtier3"] 
# df.loc[(df["revtier2F23"] == df["orgtier2"]),"RevExp3"] = 0
# df.loc[(df["revtier3F23"] == df["orgtier3"]),"RevExp2"] = 0


# df["revtier3F34"] = np.nan
# df["revtier4F34"] = np.nan
# df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]>df["orgtier4"]),"revtier3F34"] = df["orgtier3"]   
# df.loc[(df["Overlap3-4"]==1) & (df["orgtier3"]<df["orgtier4"]),"revtier4F34"] = df["orgtier4"] 
# df.loc[(df["revtier3F34"] == df["orgtier3"]),"RevExp4"] = 0
# df.loc[(df["revtier4F34"] == df["orgtier4"]),"RevExp3"] = 0

# df["revtier4F45"] = np.nan
# df["revtier5F45"] = np.nan
# df.loc[(df["Overlap4-5"]==1) & (df["orgtier4"]>df["orgtier5"]),"revtier4F45"] = df["orgtier4"]   
# df.loc[(df["Overlap4-5"]==1) & (df["orgtier4"]<df["orgtier5"]),"revtier5F45"] = df["orgtier5"] 
# df.loc[(df["revtier4F45"] == df["orgtier4"]),"RevExp5"] = 0
# df.loc[(df["revtier5F45"] == df["orgtier5"]),"RevExp4"] = 0

# df["revtier5F56"] = np.nan
# df["revtier6F56"] = np.nan
# df.loc[(df["Overlap5-6"]==1) & (df["orgtier5"]>df["orgtier6"]),"revtier5F56"] = df["orgtier5"]   
# df.loc[(df["Overlap5-6"]==1) & (df["orgtier5"]<df["orgtier6"]),"revtier6F56"] = df["orgtier6"] 
# df.loc[(df["revtier5F56"] == df["orgtier5"]),"RevExp6"] = 0
# df.loc[(df["revtier6F56"] == df["orgtier6"]),"RevExp5"] = 0


df["revtier6F67"] = np.nan
df["revtier7F67"] = np.nan
df.loc[(df["Overlap6-7"]==1) & (df["orgtier6"]>df["orgtier7"]),"revtier6F67"] = df["orgtier6"]   
df.loc[(df["Overlap6-7"]==1) & (df["orgtier6"]<df["orgtier7"]),"revtier7F67"] = df["orgtier7"] 
df.loc[(df["revtier6F67"] == df["orgtier6"]),"RevExp7"] = 0
df.loc[(df["revtier7F67"] == df["orgtier7"]),"RevExp6"] = 0


df["revtier6F68"] = np.nan
df["revtier8F68"] = np.nan
df.loc[(df["Overlap6-8"]==1) & (df["orgtier6"]>df["orgtier8"]),"revtier6F68"] = df["orgtier6"]   
df.loc[(df["Overlap6-8"]==1) & (df["orgtier6"]<df["orgtier8"]),"revtier8F68"] = df["orgtier8"] 
df.loc[(df["revtier6F68"] == df["orgtier6"]),"RevExp8"] = 0
df.loc[(df["revtier8F68"] == df["orgtier8"]),"RevExp6"] = 0




df["revtier6F69"] = np.nan
df["revtier9F69"] = np.nan
df.loc[(df["Overlap6-9"]==1) & (df["orgtier6"]>df["orgtier9"]),"revtier6F69"] = df["orgtier6"]   
df.loc[(df["Overlap6-9"]==1) & (df["orgtier6"]<df["orgtier9"]),"revtier9F69"] = df["orgtier9"] 
df.loc[(df["revtier6F69"] == df["orgtier6"]),"RevExp9"] = 0
df.loc[(df["revtier9F69"] == df["orgtier9"]),"RevExp6"] = 0


df["revtier6F610"] = np.nan
df["revtier10F610"] = np.nan
df.loc[(df["Overlap6-10"]==1) & (df["orgtier6"]>df["orgtier10"]),"revtier6F610"] = df["orgtier6"]   
df.loc[(df["Overlap6-10"]==1) & (df["orgtier6"]<df["orgtier10"]),"revtier10F610"] = df["orgtier10"] 
df.loc[(df["revtier6F610"] == df["orgtier6"]),"RevExp10"] = 0
df.loc[(df["revtier10F610"] == df["orgtier10"]),"RevExp6"] = 0

In [ ]:
# df["revtier6F67"] = np.nan
# df["revtier7F67"] = np.nan
# df.loc[(df["Overlap6-7"]==1) & (df["orgtier6"]>df["orgtier7"]),"revtier6F67"] = df["orgtier6"]   
# df.loc[(df["Overlap6-7"]==1) & (df["orgtier6"]<df["orgtier7"]),"revtier7F67"] = df["orgtier7"] 
# df.loc[(df["revtier6F67"] == df["orgtier6"]),"RevExp7"] = 0
# df.loc[(df["revtier7F67"] == df["orgtier7"]),"RevExp6"] = 0


df["revtier7F78"] = np.nan
df["revtier8F78"] = np.nan
df.loc[(df["Overlap7-8"]==1) & (df["orgtier7"]>df["orgtier8"]),"revtier7F78"] = df["orgtier7"]   
df.loc[(df["Overlap7-8"]==1) & (df["orgtier7"]<df["orgtier8"]),"revtier8F78"] = df["orgtier8"] 
df.loc[(df["revtier7F78"] == df["orgtier7"]),"RevExp8"] = 0
df.loc[(df["revtier8F78"] == df["orgtier8"]),"RevExp7"] = 0




df["revtier7F79"] = np.nan
df["revtier9F79"] = np.nan
df.loc[(df["Overlap7-9"]==1) & (df["orgtier7"]>df["orgtier9"]),"revtier7F79"] = df["orgtier7"]   
df.loc[(df["Overlap7-9"]==1) & (df["orgtier7"]<df["orgtier9"]),"revtier9F79"] = df["orgtier9"] 
df.loc[(df["revtier7F79"] == df["orgtier7"]),"RevExp9"] = 0
df.loc[(df["revtier9F79"] == df["orgtier9"]),"RevExp7"] = 0


df["revtier7F710"] = np.nan
df["revtier10F710"] = np.nan
df.loc[(df["Overlap7-10"]==1) & (df["orgtier7"]>df["orgtier10"]),"revtier7F710"] = df["orgtier7"]   
df.loc[(df["Overlap7-10"]==1) & (df["orgtier7"]<df["orgtier10"]),"revtier10F710"] = df["orgtier10"] 
df.loc[(df["revtier7F710"] == df["orgtier7"]),"RevExp10"] = 0
df.loc[(df["revtier10F710"] == df["orgtier10"]),"RevExp7"] = 0

In [ ]:

# df["revtier6F67"] = np.nan
# df["revtier7F67"] = np.nan
# df.loc[(df["Overlap6-7"]==1) & (df["orgtier6"]>df["orgtier7"]),"revtier6F67"] = df["orgtier6"]   
# df.loc[(df["Overlap6-7"]==1) & (df["orgtier6"]<df["orgtier7"]),"revtier7F67"] = df["orgtier7"] 
# df.loc[(df["revtier6F67"] == df["orgtier6"]),"RevExp7"] = 0
# df.loc[(df["revtier7F67"] == df["orgtier7"]),"RevExp6"] = 0


# df["revtier7F78"] = np.nan
# df["revtier8F78"] = np.nan
# df.loc[(df["Overlap7-8"]==1) & (df["orgtier7"]>df["orgtier8"]),"revtier7F78"] = df["orgtier7"]   
# df.loc[(df["Overlap7-8"]==1) & (df["orgtier7"]<df["orgtier8"]),"revtier8F78"] = df["orgtier8"] 
# df.loc[(df["revtier7F78"] == df["orgtier7"]),"RevExp8"] = 0
# df.loc[(df["revtier8F78"] == df["orgtier8"]),"RevExp7"] = 0




df["revtier8F89"] = np.nan
df["revtier9F89"] = np.nan
df.loc[(df["Overlap8-9"]==1) & (df["orgtier8"]>df["orgtier9"]),"revtier8F89"] = df["orgtier8"]   
df.loc[(df["Overlap8-9"]==1) & (df["orgtier8"]<df["orgtier9"]),"revtier9F89"] = df["orgtier9"] 
df.loc[(df["revtier8F89"] == df["orgtier8"]),"RevExp9"] = 0
df.loc[(df["revtier9F89"] == df["orgtier9"]),"RevExp8"] = 0


df["revtier8F810"] = np.nan
df["revtier10F810"] = np.nan
df.loc[(df["Overlap8-10"]==1) & (df["orgtier8"]>df["orgtier10"]),"revtier8F810"] = df["orgtier8"]   
df.loc[(df["Overlap8-10"]==1) & (df["orgtier8"]<df["orgtier10"]),"revtier10F810"] = df["orgtier10"] 
df.loc[(df["revtier8F810"] == df["orgtier8"]),"RevExp10"] = 0
df.loc[(df["revtier10F810"] == df["orgtier10"]),"RevExp8"] = 0

In [ ]:
# df["revtier8F89"] = np.nan
# df["revtier9F89"] = np.nan
# df.loc[(df["Overlap8-9"]==1) & (df["orgtier8"]>df["orgtier9"]),"revtier8F89"] = df["orgtier8"]   
# df.loc[(df["Overlap8-9"]==1) & (df["orgtier8"]<df["orgtier9"]),"revtier9F89"] = df["orgtier9"] 
# df.loc[(df["revtier8F89"] == df["orgtier8"]),"RevExp9"] = 0
# df.loc[(df["revtier9F89"] == df["orgtier9"]),"RevExp8"] = 0


df["revtier9F910"] = np.nan
df["revtier10F910"] = np.nan
df.loc[(df["Overlap9-10"]==1) & (df["orgtier9"]>df["orgtier10"]),"revtier9F910"] = df["orgtier9"]   
df.loc[(df["Overlap9-10"]==1) & (df["orgtier9"]<df["orgtier10"]),"revtier10F910"] = df["orgtier10"] 
df.loc[(df["revtier9F910"] == df["orgtier9"]),"RevExp10"] = 0
df.loc[(df["revtier10F910"] == df["orgtier10"]),"RevExp9"] = 0

In [ ]:
# df["Organization Start 1"]=pd.DatetimeIndex(df['Organization Start 1']).year #df['year'] = pd.DatetimeIndex(df['birth_date']).year
# df["Organization Start 1"].astype(float)

# df["Organization Start 2"]=pd.DatetimeIndex(df['Organization Start 2']).year.astype(float)
# df["Organization Start 3"]=pd.DatetimeIndex(df['Organization Start 3']).year.astype(float)
# df["Organization Start 4"]=pd.DatetimeIndex(df['Organization Start 4']).year.astype(float)
# df["Organization Start 5"]=pd.DatetimeIndex(df['Organization Start 5']).year.astype(float)
# df["Organization Start 6"]=pd.DatetimeIndex(df['Organization Start 6']).year.astype(float)
# df["Organization Start 7"]=pd.DatetimeIndex(df['Organization Start 7']).year.astype(float)
# df["Organization Start 8"]=pd.DatetimeIndex(df['Organization Start 8']).year.astype(float)
# df["Organization Start 9"]=pd.DatetimeIndex(df['Organization Start 9']).year.astype(float)
# df["Organization Start 10"]=pd.DatetimeIndex(df['Organization Start 10']).year.astype(float)

# # df["Organization End 1"].replace({"PRESENT":dt.date.today()}, inplace=True)
 
# df["Organization End 1"]=pd.DatetimeIndex(df['Organization End 1']).year.astype(float)
# df["Organization End 2"]=pd.DatetimeIndex(df['Organization End 2']).year.astype(float)
# df["Organization End 3"]=pd.DatetimeIndex(df['Organization End 3']).year.astype(float)
# df["Organization End 4"]=pd.DatetimeIndex(df['Organization End 4']).year.astype(float)
# df["Organization End 5"]=pd.DatetimeIndex(df['Organization End 5']).year.astype(float)
# df["Organization End 6"]=pd.DatetimeIndex(df['Organization End 6']).year.astype(float)
# df["Organization End 7"]=pd.DatetimeIndex(df['Organization End 7']).year.astype(float)
# df["Organization End 8"]=pd.DatetimeIndex(df['Organization End 8']).year.astype(float)
# df["Organization End 9"]=pd.DatetimeIndex(df['Organization End 9']).year.astype(float)
# df["Organization End 10"]=pd.DatetimeIndex(df['Organization End 10']).year.astype(float)
# df[["Organization End 1","Organization Start 1"]]

In [ ]:
df["orgstart1"]=pd.DatetimeIndex(df['orgstart1']).year #df['year'] = pd.DatetimeIndex(df['birth_date']).year
df["orgstart1"].astype(float)

df["orgstart2"]=pd.DatetimeIndex(df['orgstart2']).year.astype(float)
df["orgstart3"]=pd.DatetimeIndex(df['orgstart3']).year.astype(float)
df["orgstart4"]=pd.DatetimeIndex(df['orgstart4']).year.astype(float)
df["orgstart5"]=pd.DatetimeIndex(df['orgstart5']).year.astype(float)
df["orgstart6"]=pd.DatetimeIndex(df['orgstart6']).year.astype(float)
df["orgstart7"]=pd.DatetimeIndex(df['orgstart7']).year.astype(float)
df["orgstart8"]=pd.DatetimeIndex(df['orgstart8']).year.astype(float)
df["orgstart9"]=pd.DatetimeIndex(df['orgstart9']).year.astype(float)
df["orgstart10"]=pd.DatetimeIndex(df['orgstart10']).year.astype(float)

# df["Organization End 1"].replace({"PRESENT":dt.date.today()}, inplace=True)
 
df["orgend1"]=pd.DatetimeIndex(df['orgend1']).year.astype(float)
df["orgend2"]=pd.DatetimeIndex(df['orgend2']).year.astype(float)
df["orgend3"]=pd.DatetimeIndex(df['orgend3']).year.astype(float)
df["orgend4"]=pd.DatetimeIndex(df['orgend4']).year.astype(float)
df["orgend5"]=pd.DatetimeIndex(df['orgend5']).year.astype(float)
df["orgend6"]=pd.DatetimeIndex(df['orgend6']).year.astype(float)
df["orgend7"]=pd.DatetimeIndex(df['orgend7']).year.astype(float)
df["orgend8"]=pd.DatetimeIndex(df['orgend8']).year.astype(float)
df["orgend9"]=pd.DatetimeIndex(df['orgend9']).year.astype(float)
df["orgend10"]=pd.DatetimeIndex(df['orgend10']).year.astype(float)
df[["orgend1","orgstart1"]]

    orgend1  orgstart1
0    2020.0       2018
1    2020.0       2020
2    2020.0       2013
3    2020.0       2014
4    2020.0       2017
5    2020.0       2018
6    2020.0       2009
7    2020.0       2020
8    2020.0       2019
9    2020.0       2012
10   2020.0       2019
11   2020.0       2018
12   2020.0       2020
13   2020.0       2016
14   2020.0       2020
15   2020.0       2019
16   2020.0       2019
17   2020.0       2014
18   2020.0       2018
19   2020.0       2018
20   2020.0       2020
21   2020.0       2018
22   2020.0       2020
23   2020.0       2019
24   2020.0       2020
25   2020.0       2017
26   2020.0       2020
27   2020.0       2019
28   2020.0       2019
29   2020.0       2020
30   2020.0       2020
31   2020.0       2018
32   2020.0       2018
33   2020.0       2019
34   2020.0       2019
35   2020.0       2020
36   2020.0       2013
37   2020.0       2011
38   2020.0       2020
39   2020.0       2020
40   2020.0       2018
41   2020.0       2019
42   2018.0       2017
43   2020.0       2018
44   2020.0       2018
45   2020.0       2020
46   2020.0       2020
47   2020.0       2014
48   2020.0       2020
49   2020.0       2019
50   2020.0       2020

In [ ]:
# df["Organization End 1"] = np.where(((df["Organization Start 1"] < df["Education Start 1"]) & (df["Organization End 1"] == df["Education Start 1"])), df["Organization End 1"] - 1, df["Organization End 1"])
# df["Organization End 2"] = np.where(((df["Organization Start 2"] < df["Education Start 1"]) & (df["Organization End 2"] == df["Education Start 1"])), df["Organization End 2"] - 1, df["Organization End 2"])
# df["Organization End 3"] = np.where(((df["Organization Start 3"] < df["Education Start 1"]) & (df["Organization End 3"] == df["Education Start 1"])), df["Organization End 3"] - 1, df["Organization End 3"])
# df["Organization End 4"] = np.where(((df["Organization Start 4"] < df["Education Start 1"]) & (df["Organization End 4"] == df["Education Start 1"])), df["Organization End 4"] - 1, df["Organization End 4"])
# df["Organization End 5"] = np.where(((df["Organization Start 5"] < df["Education Start 1"]) & (df["Organization End 5"] == df["Education Start 1"])), df["Organization End 5"] - 1, df["Organization End 5"])
# df["Organization End 6"] = np.where(((df["Organization Start 6"] < df["Education Start 1"]) & (df["Organization End 6"] == df["Education Start 1"])), df["Organization End 6"] - 1, df["Organization End 6"])
# df["Organization End 7"] = np.where(((df["Organization Start 7"] < df["Education Start 1"]) & (df["Organization End 7"] == df["Education Start 1"])), df["Organization End 7"] - 1, df["Organization End 7"])
# df["Organization End 8"] = np.where(((df["Organization Start 8"] < df["Education Start 1"]) & (df["Organization End 8"] == df["Education Start 1"])), df["Organization End 8"] - 1, df["Organization End 8"])
# df["Organization End 9"] = np.where(((df["Organization Start 9"] < df["Education Start 1"]) & (df["Organization End 9"] == df["Education Start 1"])), df["Organization End 9"] - 1, df["Organization End 9"])
# df["Organization End 10"] = np.where(((df["Organization Start 10"] < df["Education Start 1"]) & (df["Organization End 10"] == df["Education Start 1"])), df["Organization End 10"] - 1, df["Organization End 10"])


# df[["Education 1", "Education Start 1", "Organization 1","Organization Start 1",  "Organization End 1"]].head(11)

# df["MBArr"] = df["MBA1"].replace({"Yes":1})

# df["MBA1"].replace({"Yes": 1}, inplace=True)

In [ ]:
df['Bachelors1']

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Name: Bachelors1, dtype: object

In [ ]:
# df["RevEduDate1"] =np.nan
# df.loc[(df["MBA1"]!=0),"RevEduDate"]= df["Education Start 1"]
# df.loc[(df["MBA2"]!=0),"RevEduDate"]= df["Education Start 2"]
# df.loc[(df["MBA3"]!=0),"RevEduDate1"]= df["Education Start 3"]
# df.loc[(df["MBA4"]!=0),"RevEduDate1"]= df["Education Start 4"]
# df.loc[(df["MBA5"]!=0),"RevEduDate1"]= df["Education Start 5"]
# df.loc[(df["MBA6"]!=0),"RevEduDate1"]= df["Education Start 6"]


df['Bachelors1'] = df['Bachelors1'].replace('', np.nan)
df['Bachelors2'] = df['Bachelors2'].replace('', np.nan)
df['Bachelors3'] = df['Bachelors3'].replace('', np.nan)
df['Bachelors4'] = df['Bachelors4'].replace('', np.nan)
df['Bachelors5'] = df['Bachelors5'].replace('', np.nan)
df['Bachelors6'] = df['Bachelors6'].replace('', np.nan)

df['Master1'] = df['Master1'].replace('', np.nan)
df['Master2'] = df['Master2'].replace('', np.nan)
df['Master3'] = df['Master3'].replace('', np.nan)
df['Master4'] = df['Master4'].replace('', np.nan)
df['Master5'] = df['Master5'].replace('', np.nan)
df['Master6'] = df['Master6'].replace('', np.nan)

df['MBA1'] = df['MBA1'].replace('', np.nan)
df['MBA2'] = df['MBA2'].replace('', np.nan)
df['MBA3'] = df['MBA3'].replace('', np.nan)
df['MBA4'] = df['MBA4'].replace('', np.nan)
df['MBA5'] = df['MBA5'].replace('', np.nan)
df['MBA6'] = df['MBA6'].replace('', np.nan)

df['Bachelors1'] = df['Bachelors1'].fillna(0)
df['Bachelors2'] = df['Bachelors2'].fillna(0)
df['Bachelors3'] = df['Bachelors3'].fillna(0)
df['Bachelors4'] = df['Bachelors4'].fillna(0)
df['Bachelors5'] = df['Bachelors5'].fillna(0)
df['Bachelors6'] = df['Bachelors6'].fillna(0)

df['MBA1'] = df['MBA1'].fillna(0)
df['MBA2'] = df['MBA2'].fillna(0)
df['MBA3'] = df['MBA3'].fillna(0)
df['MBA4'] = df['MBA4'].fillna(0)
df['MBA5'] = df['MBA5'].fillna(0)
df['MBA6'] = df['MBA6'].fillna(0)


df['Master1'] = df['Master1'].fillna(0)
df['Master2'] = df['Master2'].fillna(0)
df['Master3'] = df['Master3'].fillna(0)
df['Master4'] = df['Master4'].fillna(0)
df['Master5'] = df['Master5'].fillna(0)
df['Master6'] = df['Master6'].fillna(0)

df.loc[((df["Bachelors1"]==0) & (df["Master1"]==0) & (df["MBA1"]!=0)),"RevMasDate1"] = df["Education Start 1"]
df.loc[((df["Bachelors2"]==0) & (df["Master2"]==0) & (df["MBA2"]!=0)),"RevMasDate2"] = df["Education Start 2"]
df.loc[((df["Bachelors3"]==0) & (df["Master3"]==0) & (df["MBA3"]!=0)),"RevMasDate3"] = df["Education Start 3"]
df.loc[((df["Bachelors4"]==0) & (df["Master4"]==0) & (df["MBA4"]!=0)),"RevMasDate4"] = df["Education Start 4"]
df.loc[((df["Bachelors5"]==0) & (df["Master5"]==0) & (df["MBA5"]!=0)),"RevMasDate5"] = df["Education Start 5"]
df.loc[((df["Bachelors6"]==0) & (df["Master6"]==0) & (df["MBA6"]!=0)),"RevMasDate6"] = df["Education Start 6"]

df[df["Full name"]=="Vikram Yadav"]["RevMasDate1"]

Series([], Name: RevMasDate1, dtype: object)

In [ ]:
df["RevMasDate3"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24    2019
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
Name: RevMasDate3, dtype: object

In [ ]:
# ((df["MBA2"]=="Yes") & (df["Bachelors2"]!="Yes") & (df["Master2"]!="Yes") ).value_counts()

In [ ]:
# df.loc[((df["Bachelors1"]==0) & (df["Master1"]==0) & (df["MBA1"]!=0)),"RevMasDate1"] = df["Education Start 1"]
# df.loc[((df["Bachelors2"]==0) & (df["Master2"]==0) & (df["MBA2"]!=0)),"RevMasDate2"] = df["Education Start 2"]
# df.loc[((df["Bachelors3"]==0) & (df["Master3"]==0) & (df["MBA3"]!=0)),"RevMasDate3"] = df["Education Start 3"]
# df.loc[((df["Bachelors4"]==0) & (df["Master4"]==0) & (df["MBA4"]!=0)),"RevMasDate4"] = df["Education Start 4"]
# df.loc[((df["Bachelors5"]==0) & (df["Master5"]==0) & (df["MBA5"]!=0)),"RevMasDate5"] = df["Education Start 5"]
# df.loc[((df["Bachelors6"]==0) & (df["Master6"]==0) & (df["MBA6"]!=0)),"RevMasDate6"] = df["Education Start 6"]

# df["RevMasDate1"]=df["RevMasDate1"].fillna(0)
# df["RevMasDate2"]=df["RevMasDate2"].fillna(0)
# df["RevMasDate3"]=df["RevMasDate3"].fillna(0)
# df["RevMasDate4"]=df["RevMasDate4"].fillna(0)
# df["RevMasDate5"]=df["RevMasDate5"].fillna(0)
# df["RevMasDate6"]=df["RevMasDate6"].fillna(0)

# RevMasDate and MasDate are actually MBA dates

In [ ]:
# df[["Full name","MasDate"]] #can be either no dates or mba itslef not done 
# # when two MBAs usualy select the second MBA over first and that is likely to be in education1 
# dfmas =df
df["MasDate"]=df[['RevMasDate1', 'RevMasDate2','RevMasDate3','RevMasDate4','RevMasDate5',"RevMasDate6"]].astype(float).max(axis=1)

In [ ]:
df["MasDate"]

0     2011.0
1     2018.0
2     1999.0
3     2018.0
4     2016.0
5     2010.0
6     1997.0
7     2017.0
8     2007.0
9     2016.0
10    1985.0
11       NaN
12    2014.0
13       NaN
14    1996.0
15    2014.0
16       NaN
17       NaN
18    2020.0
19    2018.0
20    2015.0
21       NaN
22    2005.0
23    2018.0
24    2019.0
25    2017.0
26    2018.0
27    2010.0
28    2012.0
29       NaN
30    2018.0
31    2015.0
32    2018.0
33    2020.0
34    2017.0
35    2013.0
36    2004.0
37    2016.0
38    2006.0
39    2019.0
40    2012.0
41    2020.0
42    2013.0
43    2016.0
44    2019.0
45    2019.0
46    2019.0
47    2014.0
48    2018.0
49       NaN
50    2020.0
Name: MasDate, dtype: float64

In [ ]:
df[df["Full name"]=="Nupur Jain"]["MasDate"]

Series([], Name: MasDate, dtype: float64)

In [ ]:
df.loc[((df["Bachelors1"]==0) & (df["Master1"]==0) & (df["MBA1"]!=0)),"RevMbaTier1"] = df["EdTier1"]
df.loc[((df["Bachelors2"]==0) & (df["Master2"]==0) & (df["MBA2"]!=0)),"RevMbaTier2"] = df["EdTier2"]
df.loc[((df["Bachelors3"]==0) & (df["Master3"]==0) & (df["MBA3"]!=0)),"RevMbaTier3"] = df["EdTier3"]
df.loc[((df["Bachelors4"]==0) & (df["Master4"]==0) & (df["MBA4"]!=0)),"RevMbaTier4"] = df["EdTier4"]
df.loc[((df["Bachelors5"]==0) & (df["Master5"]==0) & (df["MBA5"]!=0)),"RevMbaTier5"] = df["EdTier5"]
df.loc[((df["Bachelors6"]==0) & (df["Master6"]==0) & (df["MBA6"]!=0)),"RevMbaTier6"] = df["EdTier6"]

df["RevMbaTier1"]=df["RevMbaTier1"].fillna(7)
df["RevMbaTier2"]=df["RevMbaTier2"].fillna(7)
df["RevMbaTier3"]=df["RevMbaTier3"].fillna(7)
df["RevMbaTier4"]=df["RevMbaTier4"].fillna(7)
df["RevMbaTier5"]=df["RevMbaTier5"].fillna(7)
df["RevMbaTier6"]=df["RevMbaTier6"].fillna(7)

# df["RevMbaTier1"]=(df["RevMbaTier1"]>0)
df['RevMbaTier1']=df['RevMbaTier1'].astype(float)
df['RevMbaTier2']=df['RevMbaTier2'].astype(float)
df['RevMbaTier3']=df['RevMbaTier3'].astype(float)
df['RevMbaTier4']=df['RevMbaTier4'].astype(float)
df['RevMbaTier5']=df['RevMbaTier5'].astype(float)
df['RevMbaTier6']=df['RevMbaTier6'].astype(float)

df["MBATier"]=df[['RevMbaTier1', 'RevMbaTier2','RevMbaTier3','RevMbaTier4','RevMbaTier5',"RevMbaTier6"]].min(axis=1)

# df[['RevMbaTier1', 'RevMbaTier2','RevMbaTier3','RevMbaTier4','RevMbaTier5',"RevMbaTier6"]].min(axis=1)
# df.loc[(df["MBA1"]!=0),"RevMbaTier1"] = df["EdTier1"]

# np.nanmin(df["Mbatier"].replace(0, np.nan).values)

# df['RevMbaTier6'].dtype

In [ ]:
# df[['RevMbaTier1', 'RevMbaTier2','RevMbaTier3','RevMbaTier4','RevMbaTier5',"RevMbaTier6"]].count(axis=1)
df["RevMbaTier1"]=df["RevMbaTier1"].replace(7,0)
df["RevMbaTier2"]=df["RevMbaTier2"].replace(7,0)
df["RevMbaTier3"]=df["RevMbaTier3"].replace(7,0)
df["RevMbaTier4"]=df["RevMbaTier4"].replace(7,0)
df["RevMbaTier5"]=df["RevMbaTier5"].replace(7,0)
df["RevMbaTier6"]=df["RevMbaTier6"].replace(7,0)

# df[['RevMbaTier1', 'RevMbaTier2','RevMbaTier3','RevMbaTier4','RevMbaTier5',"RevMbaTier6"]].astype(bool).sum(axis=1)
dfma = df[['RevMbaTier1', 'RevMbaTier2','RevMbaTier3','RevMbaTier4','RevMbaTier5',"RevMbaTier6"]]
dfma = dfma.values.tolist()
# list1 =[]
# for i in range(1,len(dfma)):
#    m = [i for i, x in enumerate(dfma) if x !=0 ]
#    list1.append(m)
# list1

In [ ]:
import numpy as np
from operator import itemgetter
dfma_1 = [np.array(li) for li in dfma]
index_list = [np.nonzero(a) for a in dfma_1]
temp = list()
for l1, l2 in zip(dfma_1, index_list):
    temp.append(np.sort(l1[l2]))

In [ ]:
l1[l2]

array([1.])

In [ ]:
lis_tiers = [t.tolist() for t in temp]
df_new_11 = pd.DataFrame.from_records(lis_tiers)
df_new_11.columns = ['MBA_tier', 'MBA_req_1']
df_new_11=df_new_11.fillna(0)

In [ ]:
df = df.reset_index().merge(df_new_11.reset_index(), left_index=True, right_index=True, how='left')

In [ ]:
# df["UseMBA"]=np.nan
# df.loc[(df["RevMbaTier1"]!=7),"UseMBA"] = df["RevMbaTier1"]
# df.loc[(df["RevMbaTier2"]!=7),"UseMBA"] = df["RevMbaTier2"]
# df.loc[(df["RevMbaTier3"]!=7),"UseMBA"] = df["RevMbaTier3"]
# df.loc[(df["RevMbaTier4"]!=7),"UseMBA"] = df["RevMbaTier4"]
# df.loc[(df["RevMbaTier5"]!=7),"UseMBA"] = df["RevMbaTier5"]
# df.loc[(df["RevMbaTier6"]!=7),"UseMBA"] = df["RevMbaTier6"]

# df["UseMBA"]=df["UseMBA"].fillna(0)

# df.loc[df["MBATier"]!=df["UseMBA"],"ReqMBA"] = df["UseMBA"]

In [ ]:
# df["ReqMBA"]=df["ReqMBA"].fillna(0)
df
# df.index[df['UseMBA']].tolist()

    index_x  index_x Type_insti6  ... index_y MBA_tier MBA_req_1
0         0        0     Foreign  ...       0      1.0       0.0
1         1        1         NaN  ...       1      1.0       0.0
2         2        2         NaN  ...       2      1.0       0.0
3         3        3         NaN  ...       3      1.0       0.0
4         4        4         NaN  ...       4      0.0       0.0
5         5        5         NaN  ...       5      1.0       0.0
6         6        6         NaN  ...       6      1.0       0.0
7         7        7         NaN  ...       7      1.0       1.0
8         8        8         NaN  ...       8      1.0       0.0
9         9        9         NaN  ...       9      0.0       0.0
10       10       10         NaN  ...      10      1.0       0.0
11       11       11         NaN  ...      11      1.0       0.0
12       12       12         NaN  ...      12      2.0       0.0
13       13       13         NaN  ...      13      1.0       1.0
14       14       14         NaN  ...      14      1.0       0.0
15       15       15         NaN  ...      15      0.0       0.0
16       16       16         NaN  ...      16      0.0       0.0
17       17       17         NaN  ...      17      1.0       0.0
18       18       18         NaN  ...      18      1.0       1.0
19       19       19         NaN  ...      19      1.0       0.0
20       20       20         NaN  ...      20      0.0       0.0
21       21       21         NaN  ...      21      0.0       0.0
22       22       22         NaN  ...      22      0.0       0.0
23       23       23         NaN  ...      23      0.0       0.0
24       24       24         NaN  ...      24      1.0       0.0
25       25       25         NaN  ...      25      1.0       4.0
26       26       26         NaN  ...      26      1.0       0.0
27       27       27         NaN  ...      27      0.0       0.0
28       28       28         NaN  ...      28      1.0       0.0
29       29       29         NaN  ...      29      0.0       0.0
30       30       30         NaN  ...      30      1.0       0.0
31       31       31         NaN  ...      31      0.0       0.0
32       32       32         NaN  ...      32      1.0       0.0
33       33       33         NaN  ...      33      1.0       0.0
34       34       34         NaN  ...      34      1.0       0.0
35       35       35         NaN  ...      35      0.0       0.0
36       36       36         NaN  ...      36      0.0       0.0
37       37       37         NaN  ...      37      1.0       0.0
38       38       38         NaN  ...      38      0.0       0.0
39       39       39         NaN  ...      39      1.0       0.0
40       40       40         NaN  ...      40      1.0       0.0
41       41       41         NaN  ...      41      1.0       0.0
42       42       42         NaN  ...      42      0.0       0.0
43       43       43         NaN  ...      43      0.0       0.0
44       44       44         NaN  ...      44      1.0       0.0
45       45       45         NaN  ...      45      1.0       0.0
46       46       46         NaN  ...      46      1.0       0.0
47       47       47         NaN  ...      47      0.0       0.0
48       48       48         NaN  ...      48      1.0       0.0
49       49       49         NaN  ...      49      1.0       0.0
50       50       50         NaN  ...      50      1.0       0.0

[51 rows x 715 columns]

In [ ]:
df['MBA_tier'].value_counts()

1.0    33
0.0    17
2.0     1
Name: MBA_tier, dtype: int64

In [ ]:


df.loc[((df["Bachelors1"]!=0) & (df["MBA1"]==0)),"RevBachTier1"] = df["EdTier1"]
df.loc[((df["Bachelors2"]!=0) & (df["MBA2"]==0)),"RevBachTier2"] = df["EdTier2"]
df.loc[((df["Bachelors3"]!=0) & (df["MBA3"]==0)),"RevBachTier3"] = df["EdTier3"]
df.loc[((df["Bachelors4"]!=0) & (df["MBA4"]==0)),"RevBachTier4"] = df["EdTier4"]
df.loc[((df["Bachelors5"]!=0) & (df["MBA5"]==0)),"RevBachTier5"] = df["EdTier5"]
df.loc[((df["Bachelors6"]!=0) & (df["MBA6"]==0)),"RevBachTier6"] = df["EdTier6"]

df["RevBachTier1"]=df["RevBachTier1"].fillna(7)
df["RevBachTier2"]=df["RevBachTier2"].fillna(7)
df["RevBachTier3"]=df["RevBachTier3"].fillna(7)
df["RevBachTier4"]=df["RevBachTier4"].fillna(7)
df["RevBachTier5"]=df["RevBachTier5"].fillna(7)
df["RevBachTier6"]=df["RevBachTier6"].fillna(7)

# df['RevMbaTier1']=df['RevMbaTier1'].astype(float)
df["RevBachTier1"]=df["RevBachTier1"].astype(float)
df["RevBachTier2"]=df["RevBachTier2"].astype(float)
df["RevBachTier3"]=df["RevBachTier3"].astype(float)
df["RevBachTier4"]=df["RevBachTier4"].astype(float)
df["RevBachTier5"]=df["RevBachTier5"].astype(float)
df["RevBachTier6"]=df["RevBachTier6"].astype(float)


df["BachTier"]=df[['RevBachTier1', 'RevBachTier2','RevBachTier3','RevBachTier4','RevBachTier5',"RevBachTier6"]].min(axis=1)
# df["BachTier"]=df["BachTier"].fillna(0)
df["BachTier"]

0     7.0
1     4.0
2     2.0
3     2.0
4     4.0
5     2.0
6     7.0
7     1.0
8     1.0
9     4.0
10    1.0
11    1.0
12    5.0
13    1.0
14    1.0
15    2.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    2.0
25    7.0
26    1.0
27    1.0
28    1.0
29    7.0
30    5.0
31    1.0
32    1.0
33    1.0
34    1.0
35    1.0
36    1.0
37    1.0
38    1.0
39    1.0
40    1.0
41    1.0
42    1.0
43    1.0
44    1.0
45    1.0
46    1.0
47    1.0
48    7.0
49    7.0
50    7.0
Name: BachTier, dtype: float64

In [ ]:
df.loc[((df["Bachelors1"]!=0) & (df["MBA1"]==0)),"RevBachDeg1"] = df["Type1"]
df.loc[((df["Bachelors2"]!=0) & (df["MBA2"]==0)),"RevBachDeg2"] = df["Type2"]
df.loc[((df["Bachelors3"]!=0) & (df["MBA3"]==0)),"RevBachDeg3"] = df["Type3"]
df.loc[((df["Bachelors4"]!=0) & (df["MBA4"]==0)),"RevBachDeg4"] = df["Type4"]
df.loc[((df["Bachelors5"]!=0) & (df["MBA5"]==0)),"RevBachDeg5"] = df["Type5"]
df.loc[((df["Bachelors6"]!=0) & (df["MBA6"]==0)),"RevBachDeg6"] = df["Type6"]

In [ ]:
df[["Full name","Education 2","Bachelors2","Master2","Education 3","Education 4","Education 5","Education 6"]]

                  Full name  ...                           Education 6
0            Val Misra, MBA  ...  London Business School, U. of London
1             Fareen Pasaya  ...                                   NaN
2          Aditya Khurjekar  ...                                   NaN
3        Akshay Kumar Anugu  ...                                   NaN
4              Ammar Jilani  ...                                   NaN
5             Priyanko Basu  ...                                   NaN
6             Vikas H. Shah  ...                                   NaN
7               Shruti Jain  ...                                   NaN
8       Aparajit Bhandarkar  ...                                   NaN
9              Krunal Desai  ...                                   NaN
10        Suresh Ramanathan  ...                                   NaN
11      Pushpender Chhillar  ...                                   NaN
12             Rohan Grover  ...                                   NaN
13           Surbhee Grover  ...                                   NaN
14           Vikram Chachra  ...                                   NaN
15        Shivansh Aggarwal  ...                                   NaN
16       Vikrant Bhaskarwar  ...                                   NaN
17               Saqub Awan  ...                                   NaN
18              Kavya Jacob  ...                                   NaN
19      Manraj Parmar, M.D.  ...                                   NaN
20       Aditya Subramaniam  ...                                   NaN
21  Siddharth Dandekar, CFA  ...                                   NaN
22              Pratik Bose  ...                                   NaN
23            Zahra Asharia  ...                                   NaN
24            Aastha Maniar  ...                                   NaN
25             Akshay Nigam  ...                                   NaN
26      Sriharsha Palugulla  ...                                   NaN
27            Randeep Singh  ...                                   NaN
28                Arun Jain  ...                                   NaN
29           John Gonsalves  ...                                   NaN
30           Saransh Bansal  ...                                   NaN
31              Shiv Parikh  ...                                   NaN
32            Ashwin Advani  ...                                   NaN
33             Hursh Vasant  ...                                   NaN
34            Shamit Munjal  ...                                   NaN
35          Krishna Daswani  ...                                   NaN
36          Faiyaz Ferdousi  ...                                   NaN
37               Dipan Naik  ...                                   NaN
38             Debraj Ghosh  ...                                   NaN
39                 Raja Ram  ...                                   NaN
40            Tavishi Vohra  ...                                   NaN
41              Pooja Kakar  ...                                   NaN
42        Shariq Mirza, CFA  ...                                   NaN
43            Niyanta Mogre  ...                                   NaN
44             Rutika Dhuru  ...                                   NaN
45           Nandita Pandit  ...                                   NaN
46           Mounica Majeti  ...                                   NaN
47             Roohi Advani  ...                                   NaN
48              Dhruv Goyal  ...                                   NaN
49              Omair Ahmed  ...                                   NaN
50             Prachi Patke  ...                                   NaN

[51 rows x 8 columns]

In [ ]:
df.loc[((df["Bachelors1"]!=0) & (df["MBA1"]==0)),"Bach_Deg"] = df["Type1"]
df.loc[((df["Bachelors2"]!=0) & (df["MBA2"]==0)),"Bach_Deg"] = df["Type2"]
df.loc[((df["Bachelors3"]!=0) & (df["MBA3"]==0)),"Bach_Deg"] = df["Type3"]
df.loc[((df["Bachelors4"]!=0) & (df["MBA4"]==0)),"Bach_Deg"] = df["Type4"]
df.loc[((df["Bachelors5"]!=0) & (df["MBA5"]==0)),"Bach_Deg"] = df["Type5"]
df.loc[((df["Bachelors6"]!=0) & (df["MBA6"]==0)),"Bach_Deg"] = df["Type6"]

In [ ]:
df["Bach_Deg"]

0             NaN
1     Engineering
2     Engineering
3     Engineering
4     Engineering
5      University
6     Engineering
7        Commerce
8        Commerce
9
10    Engineering
11    Engineering
12    Engineering
13     University
14       Commerce
15    Engineering
16
17
18    Engineering
19
20    Engineering
21
22    Engineering
23     University
24    Engineering
25
26    Engineering
27    Engineering
28    Engineering
29            NaN
30    Engineering
31    Engineering
32     University
33     University
34
35     University
36    Engineering
37    Engineering
38    Engineering
39    Engineering
40    Engineering
41
42    Engineering
43    Engineering
44    Engineering
45    Engineering
46    Engineering
47     University
48    Engineering
49    Engineering
50    Engineering
Name: Bach_Deg, dtype: object

In [ ]:
df.loc[((df["Master1"]!=0) & (df["MBA1"]==0)),"RevMasterTier1"] = df["EdTier1"]
df.loc[((df["Master2"]!=0) & (df["MBA2"]==0)),"RevMasterTier2"] = df["EdTier2"]
df.loc[((df["Master3"]!=0) & (df["MBA3"]==0)),"RevMasterTier3"] = df["EdTier3"]
df.loc[((df["Master4"]!=0) & (df["MBA4"]==0)),"RevMasterTier4"] = df["EdTier4"]
df.loc[((df["Master5"]!=0) & (df["MBA5"]==0)),"RevMasterTier5"] = df["EdTier5"]
df.loc[((df["Master6"]!=0) & (df["MBA6"]==0)),"RevMasterTier6"] = df["EdTier6"]




df["RevMasterTier1"]=df["RevMasterTier1"].fillna(7)
df["RevMasterTier2"]=df["RevMasterTier2"].fillna(7)
df["RevMasterTier3"]=df["RevMasterTier3"].fillna(7)
df["RevMasterTier4"]=df["RevMasterTier4"].fillna(7)
df["RevMasterTier5"]=df["RevMasterTier5"].fillna(7)
df["RevMasterTier6"]=df["RevMasterTier6"].fillna(7)

df["RevMasterTier1"]=df["RevMasterTier1"].astype(float)
df["RevMasterTier2"]=df["RevMasterTier2"].astype(float)
df["RevMasterTier3"]=df["RevMasterTier3"].astype(float)
df["RevMasterTier4"]=df["RevMasterTier4"].astype(float)
df["RevMasterTier5"]=df["RevMasterTier5"].astype(float)
df["RevMasterTier6"]=df["RevMasterTier6"].astype(float)

df["MasterTier"]=df[['RevMasterTier1', 'RevMasterTier2','RevMasterTier3','RevMasterTier4','RevMasterTier5',"RevMasterTier6"]].min(axis=1)

df["MasterTier"]

0     7.0
1     1.0
2     1.0
3     1.0
4     7.0
5     4.0
6     1.0
7     1.0
8     1.0
9     1.0
10    7.0
11    1.0
12    7.0
13    7.0
14    7.0
15    7.0
16    1.0
17    7.0
18    7.0
19    7.0
20    1.0
21    1.0
22    1.0
23    7.0
24    1.0
25    7.0
26    7.0
27    7.0
28    7.0
29    1.0
30    7.0
31    7.0
32    7.0
33    7.0
34    7.0
35    7.0
36    7.0
37    7.0
38    7.0
39    7.0
40    7.0
41    7.0
42    7.0
43    7.0
44    7.0
45    7.0
46    7.0
47    7.0
48    7.0
49    7.0
50    7.0
Name: MasterTier, dtype: float64

In [ ]:
df.loc[((df["Master1"]!=0) & (df["MBA1"]==0)),"Mast_Deg"] = df["Type1"]
df.loc[((df["Master2"]!=0) & (df["MBA2"]==0)),"Mast_Deg"] = df["Type2"]
df.loc[((df["Master3"]!=0) & (df["MBA3"]==0)),"Mast_Deg"] = df["Type3"]
df.loc[((df["Master4"]!=0) & (df["MBA4"]==0)),"Mast_Deg"] = df["Type4"]
df.loc[((df["Master5"]!=0) & (df["MBA5"]==0)),"Mast_Deg"] = df["Type5"]
df.loc[((df["Master6"]!=0) & (df["MBA6"]==0)),"Mast_Deg"] = df["Type6"]

In [ ]:
df["Mast_Deg"]

df["Mast_Deg"] = df["Mast_Deg"].fillna(0)
df["Bach_Deg"] = df["Bach_Deg"].fillna(0)

In [ ]:
df['M_University'] = 0
df['B_Commerce'] = 0
df['B_Engineering'] = 0
df['B_Law'] = 0
df["B_Management"] = 0
df['B_Other'] = 0
df["M_Commerce"] = 0
df['M_Engineering'] =0

In [ ]:
df= pd.concat((pd.get_dummies(df['Bach_Deg'], prefix = 'B'), df), axis = 1).drop(['Bach_Deg'], axis = 1)
# df =pd.concat((pd.get_dummies(df['Mast_Deg'], prefix = 'M'), df), axis = 1).drop(['Mast_Deg'], axis = 1)

In [ ]:
df =pd.concat((pd.get_dummies(df['Mast_Deg'], prefix = 'M'), df), axis = 1).drop(['Mast_Deg'], axis = 1)

In [ ]:
df

    M_0  M_  M_Commerce  ...  B_Other  M_Commerce  M_Engineering
0     1   0           0  ...        0           0              0
1     0   1           0  ...        0           0              0
2     0   0           0  ...        0           0              0
3     0   0           0  ...        0           0              0
4     1   0           0  ...        0           0              0
5     0   1           0  ...        0           0              0
6     0   0           0  ...        0           0              0
7     0   0           1  ...        0           0              0
8     0   0           1  ...        0           0              0
9     0   0           0  ...        0           0              0
10    1   0           0  ...        0           0              0
11    0   1           0  ...        0           0              0
12    0   1           0  ...        0           0              0
13    1   0           0  ...        0           0              0
14    1   0           0  ...        0           0              0
15    1   0           0  ...        0           0              0
16    0   0           0  ...        0           0              0
17    1   0           0  ...        0           0              0
18    1   0           0  ...        0           0              0
19    1   0           0  ...        0           0              0
20    0   0           0  ...        0           0              0
21    0   0           0  ...        0           0              0
22    0   0           0  ...        0           0              0
23    1   0           0  ...        0           0              0
24    0   1           0  ...        0           0              0
25    1   0           0  ...        0           0              0
26    1   0           0  ...        0           0              0
27    1   0           0  ...        0           0              0
28    1   0           0  ...        0           0              0
29    0   0           0  ...        0           0              0
30    1   0           0  ...        0           0              0
31    1   0           0  ...        0           0              0
32    1   0           0  ...        0           0              0
33    1   0           0  ...        0           0              0
34    1   0           0  ...        0           0              0
35    1   0           0  ...        0           0              0
36    1   0           0  ...        0           0              0
37    1   0           0  ...        0           0              0
38    1   0           0  ...        0           0              0
39    1   0           0  ...        0           0              0
40    1   0           0  ...        0           0              0
41    1   0           0  ...        0           0              0
42    1   0           0  ...        0           0              0
43    1   0           0  ...        0           0              0
44    1   0           0  ...        0           0              0
45    1   0           0  ...        0           0              0
46    1   0           0  ...        0           0              0
47    1   0           0  ...        0           0              0
48    1   0           0  ...        0           0              0
49    1   0           0  ...        0           0              0
50    1   0           0  ...        0           0              0

[51 rows x 753 columns]

In [ ]:
df["MasterTier"].value_counts()

7.0    36
1.0    14
4.0     1
Name: MasterTier, dtype: int64

In [ ]:
df["BachTier"]=df["BachTier"].replace(7,0)
df["MasterTier"]=df["MasterTier"].replace(7,0)
df["MBATier"]=df["MBATier"].replace(7,0)

In [ ]:
df["MasterTier"].value_counts()

0.0    36
1.0    14
4.0     1
Name: MasterTier, dtype: int64

In [ ]:

df["orgend1"] = np.where(((df["orgstart1"] < df["MasDate"]) & (df["orgend1"] == df["MasDate"])), df["orgend1"] - 1, df["orgend1"])
df["orgend2"] = np.where(((df["orgstart2"] < df["MasDate"]) & (df["orgend2"] == df["MasDate"])), df["orgend2"] - 1, df["orgend2"])
df["orgend3"] = np.where(((df["orgstart3"] < df["MasDate"]) & (df["orgend3"] == df["MasDate"])), df["orgend3"] - 1, df["orgend3"])
df["orgend4"] = np.where(((df["orgstart4"] < df["MasDate"]) & (df["orgend4"] == df["MasDate"])), df["orgend4"] - 1, df["orgend4"])
df["orgend5"] = np.where(((df["orgstart5"] < df["MasDate"]) & (df["orgend5"] == df["MasDate"])), df["orgend5"] - 1, df["orgend5"])
df["orgend6"] = np.where(((df["orgstart6"] < df["MasDate"]) & (df["orgend6"] == df["MasDate"])), df["orgend6"] - 1, df["orgend6"])
df["orgend7"] = np.where(((df["orgstart7"] < df["MasDate"]) & (df["orgend7"] == df["MasDate"])), df["orgend7"] - 1, df["orgend7"])
df["orgend8"] = np.where(((df["orgstart8"] < df["MasDate"]) & (df["orgend8"] == df["MasDate"])), df["orgend8"] - 1, df["orgend8"])
df["orgend9"] = np.where(((df["orgstart9"] < df["MasDate"]) & (df["orgend9"] == df["MasDate"])), df["orgend9"] - 1, df["orgend9"])
df["orgend10"] = np.where(((df["orgstart10"] < df["MasDate"]) & (df["orgend10"] == df["MasDate"])), df["orgend10"] - 1, df["orgend10"])


df[["Education 1", "Education Start 1", "Organization 1","orgstart1",  "orgend1"]].head(11)

                                          Education 1  ... orgend1
0                             Harvard Business School  ...  2020.0
1                        NYU Stern School of Business  ...  2020.0
2                        NYU Stern School of Business  ...  2020.0
3                        NYU Stern School of Business  ...  2020.0
4   New York University - Leonard N. Stern School ...  ...  2020.0
5                        NYU Stern School of Business  ...  2020.0
6                        NYU Stern School of Business  ...  2020.0
7                    National University of Singapore  ...  2020.0
8                        NYU Stern School of Business  ...  2020.0
9   New York University - Leonard N. Stern School ...  ...  2020.0
10                       NYU Stern School of Business  ...  2020.0

[11 rows x 5 columns]

In [ ]:

# for expereince in the same year of admission like jan 2020 to june 2020 and enrolling in Aug 2020 : this exp will anyways not be present at the time of applying
df["orgend1"] = np.where((df["orgend1"] == df["orgstart1"]) & (df["orgend1"] <  df["MasDate"]), df["orgend1"]+1,df["orgend1"])
df["orgend2"] = np.where((df["orgend2"] == df["orgstart2"]) & (df["orgend2"] <  df["MasDate"]), df["orgend2"]+1,df["orgend2"])
df["orgend3"] = np.where((df["orgend3"] == df["orgstart3"]) & (df["orgend3"] <  df["MasDate"]), df["orgend3"]+1,df["orgend3"])
df["orgend4"] = np.where((df["orgend4"] == df["orgstart4"]) & (df["orgend4"] <  df["MasDate"]), df["orgend4"]+1,df["orgend4"])
df["orgend5"] = np.where((df["orgend5"] == df["orgstart5"]) & (df["orgend5"] <  df["MasDate"]), df["orgend5"]+1,df["orgend5"])
df["orgend6"] = np.where((df["orgend6"] == df["orgstart6"]) & (df["orgend6"] <  df["MasDate"]), df["orgend6"]+1,df["orgend6"])
df["orgend7"] = np.where((df["orgend7"] == df["orgstart7"]) & (df["orgend7"] <  df["MasDate"]), df["orgend7"]+1,df["orgend7"])
df["orgend8"] = np.where((df["orgend8"] == df["orgstart8"]) & (df["orgend8"] <  df["MasDate"]), df["orgend8"]+1,df["orgend8"])
df["orgend9"] = np.where((df["orgend9"] == df["orgstart9"]) & (df["orgend9"] <  df["MasDate"]), df["orgend9"]+1,df["orgend9"])
df["orgend10"] = np.where((df["orgend10"] == df["orgstart10"]) & (df["orgend10"] <  df["MasDate"]), df["orgend10"]+1,df["orgend10"])

df["Exp1"] =  df["MasDate"] > df['orgstart1']
df["Exp2"] =  df["MasDate"] > df['orgstart2']
df["Exp3"] =  df["MasDate"] > df['orgstart3']
df["Exp4"] =  df["MasDate"]> df['orgstart4']
df["Exp5"] =  df["MasDate"]> df['orgstart5']
df["Exp6"] =  df["MasDate"] > df['orgstart6']
df["Exp7"] =  df["MasDate"] > df['orgstart7']
df["Exp8"] =  df["MasDate"] > df['orgstart8']
df["Exp9"] =  df["MasDate"] > df['orgstart9']
df["Exp10"] = df["MasDate"] > df['orgstart10']

df["RevExp1"] = np.where(df["Exp1"] == True, df["RevExp1"], 0 )
df["RevExp2"] = np.where(df["Exp2"] == True, df["RevExp2"], 0 )
df["RevExp3"] = np.where(df["Exp3"] == True, df["RevExp3"], 0 )
df["RevExp4"] = np.where(df["Exp4"] == True, df["RevExp4"], 0 )
df["RevExp5"] = np.where(df["Exp5"] == True, df["RevExp5"], 0 )
df["RevExp6"] = np.where(df["Exp6"] == True, df["RevExp6"], 0 )
df["RevExp7"] = np.where(df["Exp7"] == True, df["RevExp7"], 0 )
df["RevExp8"] = np.where(df["Exp8"] == True, df["RevExp8"], 0 )
df["RevExp9"] = np.where(df["Exp9"] == True, df["RevExp9"], 0 )
df["RevExp10"] = np.where(df["Exp10"] == True, df["RevExp10"], 0 )

dfrev = df[["RevExp1", "RevExp2","RevExp3","RevExp4", "RevExp5", "RevExp6", "RevExp7", "RevExp8", "RevExp9", "RevExp10"]]
dfrev

               RevExp1  ...           RevExp10
0                    0  ...  245 days 00:00:00
1                    0  ...                  0
2                    0  ...                  0
3   2131 days 00:00:00  ...                  0
4                    0  ...  334 days 00:00:00
5                    0  ...                  0
6                    0  ...                  0
7                    0  ...                  0
8                    0  ...                  0
9   3135 days 00:00:00  ...                  0
10                   0  ...                  0
11                   0  ...                  0
12                   0  ...                  0
13                   0  ...                  0
14                   0  ...                  0
15                   0  ...                  0
16                   0  ...                  0
17                   0  ...                  0
18   700 days 00:00:00  ...                  0
19                   0  ...                  0
20                   0  ...   61 days 00:00:00
21                   0  ...                  0
22                   0  ...                  0
23                   0  ...                  0
24                   0  ...                  0
25                   0  ...                  0
26                   0  ...                  0
27                   0  ...                  0
28                   0  ...                  0
29                   0  ...                  0
30                   0  ...                  0
31                   0  ...                  0
32                   0  ...  183 days 00:00:00
33   488 days 00:00:00  ...                  0
34                   0  ...                  0
35                   0  ...                  0
36                   0  ...                  0
37  3319 days 00:00:00  ...                  0
38                   0  ...                  0
39                   0  ...                  0
40                   0  ...   31 days 00:00:00
41   427 days 00:00:00  ...                  0
42                   0  ...                  0
43                   0  ...                  0
44   943 days 00:00:00  ...                  0
45                   0  ...                  0
46                   0  ...   61 days 00:00:00
47                   0  ...                  0
48                   0  ...                  0
49                   0  ...                  0
50                   0  ...                  0

[51 rows x 10 columns]

In [ ]:
df["PostExp1"] =  df["MasDate"] <= df['orgstart1']
df["PostExp2"] =  df["MasDate"] <= df['orgstart2']
df["PostExp3"] =  df["MasDate"] <= df['orgstart3']
df["PostExp4"] =  df["MasDate"] <= df['orgstart4']
df["PostExp5"] =  df["MasDate"] <= df['orgstart5']
df["PostExp6"] =  df["MasDate"] <= df['orgstart6']
df["PostExp7"] =  df["MasDate"] <= df['orgstart7']
df["PostExp8"] =  df["MasDate"] <= df['orgstart8']



df["RevPostExp1"] = np.where(df["PostExp1"] == True , df["Organization 1"], 0 )
df["RevPostExp2"] = np.where(df["PostExp2"] == True , df["Organization 2"], 0 )
df["RevPostExp3"] = np.where(df["PostExp3"] == True , df["Organization 3"], 0 )
df["RevPostExp4"] = np.where(df["PostExp4"] == True , df["Organization 4"], 0 )
df["RevPostExp5"] = np.where(df["PostExp5"] == True , df["Organization 5"], 0 )
df["RevPostExp6"] = np.where(df["PostExp6"] == True , df["Organization 6"], 0 )
df["RevPostExp7"] = np.where(df["PostExp7"] == True , df["Organization 7"], 0 )
df["RevPostExp8"] = np.where(df["PostExp8"] == True , df["Organization 8"], 0 )






# df["Exp2"] =  df["MasDate"] > df['orgstart2']
# df["Exp3"] =  df["MasDate"] > df['orgstart3']
# df["Exp4"] =  df["MasDate"]> df['orgstart4']
# df["Exp5"] =  df["MasDate"]> df['orgstart5']
# df["Exp6"] =  df["MasDate"] > df['orgstart6']
# df["Exp7"] =  df["MasDate"] > df['orgstart7']
# df["Exp8"] =  df["MasDate"] > df['orgstart8']
# df["Exp9"] =  df["MasDate"] > df['orgstart9']
# df["Exp10"] = df["MasDate"] > df['orgstart10']
df[["PostExp1","Exp1","orgstart1","orgstart2","orgstart3","orgstart4","MasDate","RevPostExp1","RevPostExp2","RevPostExp3","RevPostExp4","RevPostExp5","RevPostExp6","RevPostExp7","RevPostExp8"]]

    PostExp1   Exp1  ...        RevPostExp7          RevPostExp8
0       True  False  ...                  0                    0
1       True  False  ...                  0                    0
2       True  False  ...                  0                    0
3      False   True  ...                  0                    0
4       True  False  ...                  0                    0
5       True  False  ...                  0                    0
6       True  False  ...                  0                    0
7       True  False  ...                  0                    0
8       True  False  ...                  0                    0
9      False   True  ...                  0                    0
10      True  False  ...  J Walter Thompson                    0
11     False  False  ...                  0                    0
12      True  False  ...                  0                    0
13     False  False  ...                  0                    0
14      True  False  ...       Snapfish.com  MoreMagic Solutions
15      True  False  ...                  0                    0
16     False  False  ...                  0                    0
17     False  False  ...                  0                    0
18     False   True  ...                  0                    0
19      True  False  ...                  0                    0
20      True  False  ...                  0                    0
21     False  False  ...                  0                    0
22      True  False  ...                N3N                Cisco
23      True  False  ...                  0                    0
24      True  False  ...                  0                    0
25      True  False  ...                  0                    0
26      True  False  ...                  0                    0
27      True  False  ...                  0                    0
28      True  False  ...                  0                    0
29     False  False  ...                  0                    0
30      True  False  ...                  0                    0
31      True  False  ...                  0                    0
32      True  False  ...                  0                    0
33     False   True  ...                  0                    0
34      True  False  ...                  0                    0
35      True  False  ...                  0                    0
36      True  False  ...                  0                    0
37     False   True  ...                  0                    0
38      True  False  ...                  0                    0
39      True  False  ...                  0                    0
40      True  False  ...                  0                    0
41     False   True  ...                  0                    0
42      True  False  ...                  0                    0
43      True  False  ...                  0                    0
44     False   True  ...                  0                    0
45      True  False  ...                  0                    0
46      True  False  ...                  0                    0
47      True  False  ...                  0                    0
48      True  False  ...                  0                    0
49     False  False  ...                  0                    0
50      True  False  ...                  0                    0

[51 rows x 15 columns]

In [ ]:

df["PostOrg"]=0
df.loc[(df["RevPostExp8"]!=0),"PostOrg"] = df["Organization 8"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]!=0)),"PostOrg"] = df["Organization 7"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]!=0)),"PostOrg"] = df["Organization 6"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]!=0)), "PostOrg"] = df["Organization 5"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]!=0)),"PostOrg"] = df["Organization 4"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]!=0)),"PostOrg"] = df["Organization 3"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]==0)& (df["RevPostExp2"]!=0)),"PostOrg"] = df["Organization 2"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]==0)& (df["RevPostExp2"]==0)& (df["RevPostExp1"]!=0)),"PostOrg"] = df["Organization 1"]


df["PostTitle"]=0
df.loc[(df["RevPostExp8"]!=0),"PostOrg"] = df["jobs/7/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]!=0)),"PostTitle"] = df["jobs/6/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]!=0)),"PostTitle"] = df["jobs/5/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]!=0)), "PostTitle"] = df["jobs/4/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]!=0)),"PostTitle"] = df["jobs/3/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]!=0)),"PostTitle"] = df["jobs/2/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]==0)& (df["RevPostExp2"]!=0)),"PostTitle"] = df["jobs/1/jobTitle"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]==0)& (df["RevPostExp2"]==0)& (df["RevPostExp1"]!=0)),"PostTitle"] = df["jobs/0/jobTitle"]

In [ ]:
df["PostIndustry"]=0
df.loc[(df["RevPostExp8"]!=0),"PostOrg"] = df["Industry8"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]!=0)),"PostIndustry"] = df["Industry7"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]!=0)),"PostIndustry"] = df["Industry6"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]!=0)), "PostIndustry"] = df["Industry5"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]!=0)),"PostIndustry"] = df["Industry4"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]!=0)),"PostIndustry"] = df["Industry3"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]==0)& (df["RevPostExp2"]!=0)),"PostIndustry"] = df["Industry2"]
df.loc[((df["RevPostExp8"]==0) & (df["RevPostExp7"]==0) & (df["RevPostExp6"]==0) & (df["RevPostExp5"]==0) & (df["RevPostExp4"]==0) & (df["RevPostExp3"]==0)& (df["RevPostExp2"]==0)& (df["RevPostExp1"]!=0)),"PostIndustry"] = df["Industry1"]

In [ ]:
df["PostOrg"]

0                                              Deloitte
1                                      Orange Grove Bio
2                                           CSG Systems
3                                                     0
4                Shapoorji Pallonji And Company Limited
5                           The Boston Consulting Group
6                                         Deutsche Bank
7                                         Goldman Sachs
8     New York University - Leonard N. Stern School ...
9                                                     0
10                                    J Walter Thompson
11                                                    0
12                        Bank of America Merrill Lynch
13                                                    0
14                                                  NaN
15             The University of Vermont Medical Center
16                                                    0
17                                                    0
18                                                    0
19                                                IQVIA
20                                              Knewton
21                                                    0
22                                  Computer Networking
23                                        Tiffany & Co.
24                                                AECOM
25                        Bank of America Merrill Lynch
26                                       Analysis Group
27                                       Commerzbank AG
28                                                   ZS
29                                                    0
30                                               Fiserv
31                                       Deluxe Capital
32                                                  UBS
33                                                    0
34                                          J.P. Morgan
35                                              La Cera
36                                          Barclays UK
37                                                    0
38                                         Oliver Wyman
39                                          WarnerMedia
40                                             FitCause
41                                                    0
42                                            CME Group
43                                              L'Oréal
44                                                    0
45                 Multiples Alternate Asset Management
46                                              Actuate
47                                           Neo@Ogilvy
48                         EFG Asset Management (EFGAM)
49                                                    0
50                         NYU Stern School of Business
Name: PostOrg, dtype: object

In [ ]:
df["RecOrg"]=np.nan
df.loc[(df["RevExp1"]!=0),"RecOrg"] = df["Organization 1"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]!=0)),"RecOrg"] = df["Organization 2"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]!=0)),"RecOrg"] = df["Organization 3"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]==0) & (df["RevExp4"]!=0)), "RecOrg"] = df["Organization 4"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]==0) & (df["RevExp4"]==0) & (df["RevExp5"]!=0)),"RecOrg"] = df["Organization 5"]

df["RecTitle"]=np.nan
df.loc[(df["RevExp1"]!=0),"RecTitle"] = df["jobs/0/jobTitle"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]!=0)),"RecTitle"] = df["jobs/1/jobTitle"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]!=0)),"RecTitle"] = df["jobs/2/jobTitle"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]==0) & (df["RevExp4"]!=0)), "RecTitle"] = df["jobs/3/jobTitle"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]==0) & (df["RevExp4"]==0) & (df["RevExp5"]!=0)),"RecTitle"] = df["jobs/4/jobTitle"]
df[["RecOrg","RecTitle"]].head(30)

                                    RecOrg                                           RecTitle
0                                      NaN                                                NaN
1                Catalent Pharma Solutions  Associate Scientist III | Preclinical Process ...
2                                      NaN                                                NaN
3                   Ingredion Incorporated        Associate Scientist - Global Sweeteners R&D
4                                      NaN                                                NaN
5                       McKinsey & Company                            Senior Research Analyst
6                                      NaN                                                NaN
7                               ICICI Bank                                 Manager, Team Lead
8                                      NaN                                                NaN
9     Boehringer Ingelheim Pharmaceuticals                Scientist, Non-Clinical Drug Safety
10                                     NaN                                                NaN
11                                     NaN                                                NaN
12  Karanja Terminal & Logistics Pvt. Ltd.                           Assistant Vice President
13                                     NaN                                                NaN
14                                     NaN                                                NaN
15                                     NaN                                                NaN
16                                     NaN                                                NaN
17                                     NaN                                                NaN
18                  London Business School                                      MBA Candidate
19                MSP Consulting (Founder)  Physician Consultant - Clinical Informatics, E...
20                               Schoology                                    Product Manager
21                                     NaN                                                NaN
22                                     NaN                                                NaN
23                                    Mars                               MBA Marketing Intern
24                                   AECOM                             Deputy Project Manager
25           Bank of America Merrill Lynch                Investment Banking Summer Associate
26                            Emirates NBD                  Business Intelligence Team Leader
27                                     NaN                                                NaN
28                                      ZS                                         Consultant
29                                     NaN                                                NaN

In [ ]:
df["RecIndustry"]=np.nan
df.loc[(df["RevExp1"]!=0),"RecIndustry"] = df["Industry1"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]!=0)),"RecIndustry"] = df["Industry2"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]!=0)),"RecIndustry"] = df["Industry3"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]==0) & (df["RevExp4"]!=0)), "RecIndustry"] = df["Industry4"]
df.loc[((df["RevExp1"]==0) & (df["RevExp2"]==0) & (df["RevExp3"]==0) & (df["RevExp4"]==0) & (df["RevExp5"]!=0)),"RecIndustry"] = df["Industry5"]

In [ ]:

#df.loc[(df["RevExp10"]<92),"RevExp10"] = 0
# df["RevExp10"] = pd.to_datetime(df['RevExp10'], errors='coerce')
# df['RevExp1'] = df['RevExp1'].dt.days.astype('int')
# df['RevExp10'] = pd.to_datetime(df['RevExp10'], errors='coerce')
# np.timedelta64(1, 'RevExp10').astype(int)

# df['RevExp10'] = pd.to_datetime(df['RevExp10'])
# # df['RevExp10'] = df['RevExp10'].dt.date
# df['RevExp10']
# # df['RevExp10'] = pd.to_numeric(df['RevExp10'].dt.days, downcast='integer')
# #df["RevExp10"].dt.days
df['RevExp1'] = df['RevExp1'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp2'] = df['RevExp2'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp3'] = df['RevExp3'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp4'] = df['RevExp4'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp5'] = df['RevExp5'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp6'] = df['RevExp6'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp7'] = df['RevExp7'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp8'] = df['RevExp8'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp9'] = df['RevExp9'].map(lambda x: pd.to_timedelta(x).days)
df['RevExp10'] = df['RevExp10'].map(lambda x: pd.to_timedelta(x).days)

In [ ]:

df.loc[(df["RevExp1"]<92),"RevExp1"] = 0
df.loc[(df["RevExp2"]<92),"RevExp2"] = 0
df.loc[(df["RevExp3"]<92),"RevExp3"] = 0
df.loc[(df["RevExp4"]<92),"RevExp4"] = 0
df.loc[(df["RevExp5"]<92),"RevExp5"] = 0
df.loc[(df["RevExp6"]<92),"RevExp6"] = 0
df.loc[(df["RevExp7"]<92),"RevExp7"] = 0
df.loc[(df["RevExp8"]<92),"RevExp8"] = 0
df.loc[(df["RevExp9"]<92),"RevExp9"] = 0
df.loc[(df["RevExp10"]<92),"RevExp10"] = 0

In [ ]:
dfrev = df[["RevExp1", "RevExp2", "RevExp3","RevExp4", "RevExp5", "RevExp6", "RevExp7", "RevExp8", "RevExp9", "RevExp10"]]

In [ ]:
df["RevExp1"].dtype

dtype('int64')

In [ ]:
dftier =df[["orgtier1","orgtier2",
            "orgtier3","orgtier4","orgtier5","Organization 5","orgtier6","orgtier7","orgtier8","orgtier9","orgtier10"]]

In [ ]:
df[["Organization 1"]]

                          Organization 1
0                           MBA Accepted
1                       Orange Grove Bio
2                                 MEDICI
3                 Ingredion Incorporated
4                                 Nomura
5               Dr. Reddy's Laboratories
6                  Rosenblatt Securities
7                      Axis Capital Ltd.
8      VARANIUM ADVISORY PRIVATE LIMITED
9   Boehringer Ingelheim Pharmaceuticals
10   Great Lakes Institute of Management
11                                  ASML
12         Bank of America Merrill Lynch
13  Steel & Graffiti Strategy Consulting
14                                   Yap
15             Amazon Web Services (AWS)
16                                  Yelp
17                   BMO Capital Markets
18                London Business School
19          NYU Stern School of Business
20                              Electric
21                   Wolfe Research, LLC
22       Innovatio Investment Management
23                         Tiffany & Co.
24                                 AECOM
25         Bank of America Merrill Lynch
26                        Analysis Group
27                                Nordea
28                                    ZS
29                             SmarTECHS
30                     Deposit Solutions
31                           J.P. Morgan
32          NYU Stern School of Business
33                           Milbank LLP
34                           J.P. Morgan
35                                  Uber
36              Barclays Investment Bank
37                        JPMorgan Chase
38                      Bank of the West
39                                Twitch
40                   Smithsonian Channel
41                   Forsman & Bodenfors
42                   RBC Capital Markets
43            Marsh & McLennan Companies
44                         Goldman Sachs
45  Multiples Alternate Asset Management
46                          EY-Parthenon
47                            Neo@Ogilvy
48                         Cairn Capital
49                  Echo Health Ventures
50          NYU Stern School of Business

In [ ]:
df['orgtier1'] = pd.to_numeric(df['orgtier1'])
df['orgtier2'] = pd.to_numeric(df['orgtier2'])
df['orgtier3'] = pd.to_numeric(df['orgtier3'])
df['orgtier4'] = pd.to_numeric(df['orgtier4'])
df['orgtier5'] = pd.to_numeric(df['orgtier5'])
df['orgtier6'] = pd.to_numeric(df['orgtier6'])
df['orgtier7'] = pd.to_numeric(df['orgtier7'])
df['orgtier8'] = pd.to_numeric(df['orgtier8'])
df['orgtier9'] = pd.to_numeric(df['orgtier9'])
df['orgtier10'] = pd.to_numeric(df['orgtier10'])
df["orgtier10"].dtype

dtype('int64')

In [ ]:
df["Tier0Exp1"]=np.nan
df["Tier1Exp1"] =np.nan
df["Tier2Exp1"] =np.nan
df["Tier3Exp1"] =np.nan
df["Tier4Exp1"] =np.nan
df["Tier5Exp1"] =np.nan
df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==0)), "Tier0Exp1"] = df["RevExp1"]
df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==1)), "Tier1Exp1"] = df["RevExp1"]
df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==2)), "Tier2Exp1"] = df["RevExp1"]
df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==3)), "Tier3Exp1"] = df["RevExp1"]
df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==4)), "Tier4Exp1"] = df["RevExp1"]
df["orgtier1"] = np.where(((df["RevExp1"]!=0) & (df["orgtier1"]!=0) & (df["orgtier1"]!=1)& (df["orgtier1"]!=2) & (df["orgtier1"]!=3) &(df["orgtier1"]!=4)&(df["orgtier1"]!=5)),5,df["orgtier1"])
df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==5)), "Tier5Exp1"] = df["RevExp1"]

# df.loc[((df["RevExp1"]!=0) & (df["orgtier1"]==np.NaN)), "Tier5Exp1"] = df["RevExp1"]

In [ ]:
# df["Tier0Exp7"]=np.nan
# df["Tier1Exp7"] =np.nan
# df["Tier2Exp7"] =np.nan
# df["Tier3Exp7"] =np.nan
# df["Tier4Exp7"] =np.nan
# df["Tier5Exp7"] =np.nan
# df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==0)), "Tier0Exp7"] = df["RevExp7"]
# df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==1)), "Tier1Exp7"] = df["RevExp7"]
# df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==2)), "Tier2Exp7"] = df["RevExp7"]
# df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==3)), "Tier3Exp7"] = df["RevExp7"]
# df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==4)), "Tier4Exp7"] = df["RevExp7"]
# df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==5)), "Tier5Exp7"] = df["RevExp7"]
# # df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==np.NaN)), "Tier5Exp7"] = df["RevExp7"]
# df[df["Full name"]=="Anisha Sutaria"][["orgtier7","Organization 7"]]
df["orgtier2"].dtype

dtype('int64')

In [ ]:
df[["orgtier2","Organization 2","RevExp2","orgtier2"]]

    orgtier2                              Organization 2  RevExp2  orgtier2
0          1                            American Express      0.0         1
1          0                   Catalent Pharma Solutions   1340.0         0
2          0                                   Money2020      0.0         0
3          3                       The Coca-Cola Company    607.0         3
4          1                                      Nomura      0.0         1
5          3                    Dr. Reddy's Laboratories      0.0         3
6          2                               Credit Suisse      0.0         2
7          2                                         PwC      0.0         2
8          0                                    ISME ACE      0.0         0
9          0                         Caris Life Sciences    487.0         0
10         0                        Texas A&M University      0.0         0
11         0                  M Cubed Technologies, Inc.      0.0         0
12         1               Bank of America Merrill Lynch      0.0         1
13         0                               self-employed      0.0         0
14         0                                 8i Ventures      0.0         0
15         2                                      Amazon      0.0         2
16         3                                         IBM      0.0         3
17         1                               Goldman Sachs      0.0         1
18         0  Accenture Strategy (formerly Axia Limited)      0.0         0
19         1                                      InSITE      0.0         1
20         0                                          Ro      0.0         0
21         1                                         UBS      0.0         1
22         0                        Indian Angel Network      0.0         0
23         0                               Tiffany & Co.      0.0         0
24         0                                       AECOM    945.0         0
25         1               Bank of America Merrill Lynch     92.0         1
26         0                NYU Stern School of Business      0.0         0
27         0                                      Nordea      0.0         0
28         2                                          ZS      0.0         2
29         0          Progressive Consulting Group, Inc.      0.0         0
30         0                                      Fiserv      0.0         0
31         0                             Ricoh USA, Inc.      0.0         0
32         1                                      InSITE      0.0         1
33         0                             Loeb & Loeb LLP   1339.0         0
34         1                                 J.P. Morgan      0.0         1
35         0                                 Independent      0.0         0
36         1                                    Barclays      0.0         1
37         0                       Caerula Solutions LLC      0.0         0
38         0                            Bank of the West      0.0         0
39         0                                 WarnerMedia      0.0         0
40         0                        Coty, philosophy.com      0.0         0
41         0                         Forsman & Bodenfors    304.0         0
42         0                                   CME Group      0.0         0
43         2                                     L'Oréal      0.0         2
44         1                               Goldman Sachs      NaN         1
45         2                 Reliance Industries Limited    334.0         2
46         3                                         IBM    365.0         3
47         0                                OgilvyAction    638.0         0
48         0                EFG Asset Management (EFGAM)      0.0         0
49         0                              7wire Ventures      0.0         0
50         0                       Mann Deshi Foundation    215.0         0

In [ ]:
# (df["RevExp1"]!=0)
df["Organization LI URL 1"]
df["orgtier1"]

0     0
1     0
2     0
3     0
4     1
5     3
6     0
7     2
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    4
16    2
17    1
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    1
26    0
27    0
28    2
29    0
30    0
31    1
32    0
33    0
34    1
35    2
36    1
37    1
38    0
39    0
40    0
41    0
42    1
43    0
44    1
45    2
46    2
47    0
48    0
49    0
50    0
Name: orgtier1, dtype: int64

In [ ]:


df.loc[(df["orgtier1"]==5)&(df["Organization LI URL 1"].notnull())&(df["RevExp1"]!=0),"NoTier1"] = df["Organization LI URL 1"]
df.loc[(df["orgtier2"]==5)&(df["Organization LI URL 2"].notnull())&(df["RevExp2"]!=0),"NoTier2"] = df["Organization LI URL 2"]
df.loc[(df["orgtier3"]==5)&(df["Organization LI URL 3"].notnull())&(df["RevExp3"]!=0),"NoTier3"] = df["Organization LI URL 3"]
df.loc[(df["orgtier4"]==5)&(df["Organization LI URL 4"].notnull())&(df["RevExp4"]!=0),"NoTier4"] = df["Organization LI URL 4"]
df.loc[(df["orgtier5"]==5)&(df["Organization LI URL 5"].notnull())&(df["RevExp5"]!=0),"NoTier5"] = df["Organization LI URL 5"]
df.loc[(df["orgtier6"]==5)&(df["Organization LI URL 6"].notnull())&(df["RevExp6"]!=0),"NoTier6"] = df["Organization LI URL 6"]
df.loc[(df["orgtier7"]==5)&(df["Organization LI URL 7"].notnull())&(df["RevExp7"]!=0),"NoTier7"] = df["Organization LI URL 7"]
df.loc[(df["orgtier8"]==5)&(df["Organization LI URL 8"].notnull())&(df["RevExp8"]!=0),"NoTier8"] = df["Organization LI URL 8"]
df.loc[(df["orgtier9"]==5)&(df["Organization LI URL 9"].notnull())&(df["RevExp9"]!=0),"NoTier9"] = df["Organization LI URL 9"]
df.loc[(df["orgtier10"]==5)&(df["Organization LI URL 10"].notnull())&(df["RevExp10"]!=0),"NoTier10"] = df["Organization LI URL 10"]


notier = df[["NoTier1","NoTier2","NoTier3","NoTier4","NoTier5","NoTier6","NoTier7","NoTier8","NoTier9","NoTier10",]]

In [ ]:
df["orgtier4"]==5

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
Name: orgtier4, dtype: bool

In [ ]:
notier

   NoTier1 NoTier2 NoTier3 NoTier4  ... NoTier7 NoTier8 NoTier9 NoTier10
0      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
1      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
2      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
3      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
4      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
5      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
6      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
7      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
8      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
9      NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
10     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
11     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
12     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
13     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
14     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
15     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
16     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
17     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
18     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
19     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
20     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
21     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
22     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
23     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
24     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
25     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
26     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
27     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
28     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
29     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
30     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
31     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
32     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
33     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
34     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
35     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
36     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
37     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
38     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
39     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
40     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
41     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
42     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
43     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
44     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
45     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
46     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
47     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
48     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
49     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN
50     NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN      NaN

[51 rows x 10 columns]

In [ ]:
df[["Organization LI URL 4","orgtier4","Organization 4","Full name"]]

                                Organization LI URL 4  ...                Full name
0   https://www.linkedin.com/company/mondelezinter...  ...           Val Misra, MBA
1                                                  na  ...            Fareen Pasaya
2            https://www.linkedin.com/company/verizon  ...         Aditya Khurjekar
3            https://www.linkedin.com/company/pepsico  ...       Akshay Kumar Anugu
4        https://www.linkedin.com/company/hna-capital  ...             Ammar Jilani
5   https://www.linkedin.com/company/boston-consul...  ...            Priyanko Basu
6                https://www.linkedin.com/company/aig  ...            Vikas H. Shah
7      https://www.linkedin.com/company/goldman-sachs  ...              Shruti Jain
8           https://www.linkedin.com/company/yes-bank  ...      Aparajit Bhandarkar
9   https://www.linkedin.com/company/texas-a&m-uni...  ...             Krunal Desai
10  https://www.linkedin.com/company/mccannworldgroup  ...        Suresh Ramanathan
11  https://www.linkedin.com/company/m-cubed-techn...  ...      Pushpender Chhillar
12       https://www.linkedin.com/company/bnp-paribas  ...             Rohan Grover
13       https://www.linkedin.com/company/strategyand  ...           Surbhee Grover
14        https://www.linkedin.com/company/teamsignzy  ...           Vikram Chachra
15  https://www.linkedin.com/company/nyu-stern-sch...  ...        Shivansh Aggarwal
16               https://www.linkedin.com/company/ibm  ...       Vikrant Bhaskarwar
17                                                 na  ...               Saqub Awan
18           https://www.linkedin.com/company/abbott-  ...              Kavya Jacob
19             https://www.linkedin.com/company/iqvia  ...      Manraj Parmar, M.D.
20           https://www.linkedin.com/company/knewton  ...       Aditya Subramaniam
21         https://www.linkedin.com/company/hdfc-bank  ...  Siddharth Dandekar, CFA
22             https://www.linkedin.com/company/nexpa  ...              Pratik Bose
23             https://www.linkedin.com/company/andaz  ...            Zahra Asharia
24  https://www.linkedin.com/company/larsen-&-toub...  ...            Aastha Maniar
25               https://www.linkedin.com/company/ibm  ...             Akshay Nigam
26      https://www.linkedin.com/company/emirates-nbd  ...      Sriharsha Palugulla
27    https://www.linkedin.com/company/commerzbank-ag  ...            Randeep Singh
28     https://www.linkedin.com/company/zs-associates  ...                Arun Jain
29         https://www.linkedin.com/company/cognizant  ...           John Gonsalves
30  https://www.linkedin.com/company/royal-bank-of...  ...           Saransh Bansal
31  https://www.linkedin.com/search/results/all/?k...  ...              Shiv Parikh
32  https://www.linkedin.com/search/results/all/?k...  ...            Ashwin Advani
33  https://www.linkedin.com/company/the-kauffmann...  ...             Hursh Vasant
34  https://www.linkedin.com/company/bayer-pharmac...  ...            Shamit Munjal
35  https://www.linkedin.com/search/results/all/?k...  ...          Krishna Daswani
36                                                 na  ...          Faiyaz Ferdousi
37  https://www.linkedin.com/company/us-department...  ...               Dipan Naik
38      https://www.linkedin.com/company/oliver-wyman  ...             Debraj Ghosh
39        https://www.linkedin.com/company/conde-nast  ...                 Raja Ram
40         https://www.linkedin.com/company/time-inc-  ...            Tavishi Vohra
41  https://www.linkedin.com/company/kirshenbaum-b...  ...              Pooja Kakar
42                                                 na  ...        Shariq Mirza, CFA
43  https://www.linkedin.com/company/fidelity-inve...  ...            Niyanta Mogre
44  https://www.linkedin.com/company/kelp-hr-enablers  ...             Rutika Dhuru
45             https://www.linkedin.com/company/dspmf  ...           Nandita Pandit
46               https://www.linkedin.com/company/ibm  ...           Mounica Majeti
47  https://www.linkedin.com/company/coca-cola-eur...  ...             Roohi Advani
48    https://www.linkedin.com/company/macquariegroup  ...              Dhruv Goyal
49         https://www.linkedin.com/company/accenture  ...              Omair Ahmed
50  https://www.linkedin.com/company/crisil-global...  ...             Prachi Patke

[51 rows x 4 columns]

In [ ]:
# df["NoTier1"] = np.nan
# df["NoTier2"] = np.nan
# df["NoTier3"] = np.nan
# df["NoTier4"] = np.nan
# df["NoTier5"] = np.nan
# df["NoTier6"] = np.nan
# df["NoTier7"] = np.nan
# df["NoTier8"] = np.nan
# df["NoTier9"] = np.nan
# df["NoTier10"] = np.nan
# df.loc[((df["Organization 1"]!=0)&df["orgtier1"].isnull()),"NoTier1"] = df["Organization 1"]
# df.loc[((df["Organization 2"]!=0)&df["orgtier2"].isnull()),"NoTier2"] = df["Organization 2"]
# df.loc[((df["Organization 3"]!=0)&df["orgtier3"].isnull()),"NoTier3"] = df["Organization 3"]
# df.loc[((df["Organization 4"]!=0)&df["orgtier4"].isnull()),"NoTier4"] = df["Organization 4"]
# df.loc[((df["Organization 5"]!=0)&df["orgtier5"].isnull()),"NoTier5"] = df["Organization 5"]
# df.loc[((df["Organization 6"]!=0)&df["orgtier6"].isnull()),"NoTier6"] = df["Organization 6"]
# df.loc[((df["Organization 7"]!=0)&df["orgtier7"].isnull()),"NoTier7"] = df["Organization 7"]
# df.loc[((df["Organization 8"]!=0)&df["orgtier8"].isnull()),"NoTier8"] = df["Organization 8"]
# df.loc[((df["Organization 9"]!=0)&df["orgtier9"].isnull()),"NoTier9"] = df["Organization 9"]
# df.loc[((df["Organization 10"]!=0)&df["orgtier10"].isnull()),"NoTier10"] = df["Organization 10"]


# df["NoTierURL1"] = np.nan
# df["NoTierURL2"] = np.nan
# df["NoTierURL3"] = np.nan
# df["NoTierURL4"] = np.nan
# df["NoTierURL5"] = np.nan
# df["NoTierURL6"] = np.nan
# df["NoTierURL7"] = np.nan
# df["NoTierURL8"] = np.nan
# df["NoTierURL9"] = np.nan
# df["NoTierURL10"] = np.nan
# df.loc[((df["Organization 1"]!=0)&df["orgtier1"].isnull()),"NoTierURL1"] = df["Organization LI URL 1"]
# df.loc[((df["Organization 2"]!=0)&df["orgtier2"].isnull()),"NoTierURL2"] = df["Organization LI URL 2"]
# df.loc[((df["Organization 3"]!=0)&df["orgtier3"].isnull()),"NoTierURL3"] = df["Organization LI URL 3"]
# df.loc[((df["Organization 4"]!=0)&df["orgtier4"].isnull()),"NoTierURL4"] = df["Organization LI URL 4"]
# df.loc[((df["Organization 5"]!=0)&df["orgtier5"].isnull()),"NoTierURL5"] = df["Organization LI URL 5"]
# df.loc[((df["Organization 6"]!=0)&df["orgtier6"].isnull()),"NoTierURL6"] = df["Organization LI URL 6"]
# df.loc[((df["Organization 7"]!=0)&df["orgtier7"].isnull()),"NoTierURL7"] = df["Organization LI URL 7"]
# df.loc[((df["Organization 8"]!=0)&df["orgtier8"].isnull()),"NoTierURL8"] = df["Organization LI URL 8"]
# df.loc[((df["Organization 9"]!=0)&df["orgtier9"].isnull()),"NoTierURL9"] = df["Organization LI URL 9"]
# df.loc[((df["Organization 10"]!=0)&df["orgtier10"].isnull()),"NoTierURL10"] = df["Organization LI URL 10"]
# # def notier in df["orgtier2"]:
# #   list1=[]
# #   if df["Organization 2"]!=0 & df["orgtier2"].isnull()


# notier =df[["NoTier1","NoTierURL1","NoTier2","NoTierURL2","NoTier3","NoTierURL3","NoTier4","NoTierURL4",
#             "NoTier5","NoTierURL5","NoTier6","NoTierURL6","NoTier7","NoTierURL7","NoTier8","NoTierURL8","NoTier9","NoTierURL9","NoTier10","NoTierURL10"]]
# notier

In [ ]:
notier["NoTier1"].fillna(0, inplace=True)
# notier1 = notier[notier["NoTier1"]!=0][["NoTier1","NoTierURL1"]]

notier["NoTier2"].fillna(0, inplace=True)
# notier2 = notier[notier["NoTier2"]!=0][["NoTier2","NoTierURL2"]]


notier["NoTier3"].fillna(0, inplace=True)
# notier3 = notier[notier["NoTier3"]!=0][["NoTier3","NoTierURL3"]]

notier["NoTier4"].fillna(0, inplace=True)
# notier4 = notier[notier["NoTier4"]!=0][["NoTier4","NoTierURL4"]]

notier["NoTier5"].fillna(0, inplace=True)
# notier5 = notier[notier["NoTier5"]!=0][["NoTier5","NoTierURL5"]]

notier["NoTier6"].fillna(0, inplace=True)
# notier6 = notier[notier["NoTier6"]!=0][["NoTier6","NoTierURL6"]]

notier["NoTier7"].fillna(0, inplace=True)
# notier7 = notier[notier["NoTier7"]!=0][["NoTier7","NoTierURL7"]]

notier["NoTier8"].fillna(0, inplace=True)
# notier8 = notier[notier["NoTier8"]!=0][["NoTier8","NoTierURL8"]]

notier["NoTier9"].fillna(0, inplace=True)
# notier9 = notier[notier["NoTier9"]!=0][["NoTier9","NoTierURL9"]]

notier["NoTier10"].fillna(0, inplace=True)
# notier10 = notier[notier["NoTier10"]!=0][["NoTier10","NoTierURL10"]]

# frametier =[notier1,notier2,notier3,notier4,notier5,notier6,notier7,notier8,notier9,notier10]
# Allnotier = pd.concat([notier1,notier2.rename(columns={'NoTier':'URL'})], ignore_index=True)

# notier1 = notier1.rename({'NoTier1': 'notier', 'NoTierURL1': 'URL'}, axis=1)
# notier2 = notier2.rename({'NoTier2': 'notier', 'NoTierURL2': 'URL'}, axis=1)
# notier3 = notier3.rename({'NoTier3': 'notier', 'NoTierURL3': 'URL'}, axis=1)
# notier4 = notier4.rename({'NoTier4': 'notier', 'NoTierURL4': 'URL'}, axis=1)
# notier5 = notier5.rename({'NoTier5': 'notier', 'NoTierURL5': 'URL'}, axis=1)
# notier6 = notier6.rename({'NoTier6': 'notier', 'NoTierURL6': 'URL'}, axis=1)
# notier7 = notier7.rename({'NoTier7': 'notier', 'NoTierURL7': 'URL'}, axis=1)
# notier8 = notier8.rename({'NoTier8': 'notier', 'NoTierURL8': 'URL'}, axis=1)
# notier9 = notier9.rename({'NoTier9': 'notier', 'NoTierURL9': 'URL'}, axis=1)
# notier10 = notier10.rename({'NoTier10': 'notier', 'NoTierURL10': 'URL'}, axis=1)

# Allnotier =pd.concat(frametier,ignore_index=True)
# Allnotier
notier.drop(0)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

    NoTier1  NoTier2  NoTier3  NoTier4  ...  NoTier7  NoTier8  NoTier9  NoTier10
1         0        0        0        0  ...        0        0        0         0
2         0        0        0        0  ...        0        0        0         0
3         0        0        0        0  ...        0        0        0         0
4         0        0        0        0  ...        0        0        0         0
5         0        0        0        0  ...        0        0        0         0
6         0        0        0        0  ...        0        0        0         0
7         0        0        0        0  ...        0        0        0         0
8         0        0        0        0  ...        0        0        0         0
9         0        0        0        0  ...        0        0        0         0
10        0        0        0        0  ...        0        0        0         0
11        0        0        0        0  ...        0        0        0         0
12        0        0        0        0  ...        0        0        0         0
13        0        0        0        0  ...        0        0        0         0
14        0        0        0        0  ...        0        0        0         0
15        0        0        0        0  ...        0        0        0         0
16        0        0        0        0  ...        0        0        0         0
17        0        0        0        0  ...        0        0        0         0
18        0        0        0        0  ...        0        0        0         0
19        0        0        0        0  ...        0        0        0         0
20        0        0        0        0  ...        0        0        0         0
21        0        0        0        0  ...        0        0        0         0
22        0        0        0        0  ...        0        0        0         0
23        0        0        0        0  ...        0        0        0         0
24        0        0        0        0  ...        0        0        0         0
25        0        0        0        0  ...        0        0        0         0
26        0        0        0        0  ...        0        0        0         0
27        0        0        0        0  ...        0        0        0         0
28        0        0        0        0  ...        0        0        0         0
29        0        0        0        0  ...        0        0        0         0
30        0        0        0        0  ...        0        0        0         0
31        0        0        0        0  ...        0        0        0         0
32        0        0        0        0  ...        0        0        0         0
33        0        0        0        0  ...        0        0        0         0
34        0        0        0        0  ...        0        0        0         0
35        0        0        0        0  ...        0        0        0         0
36        0        0        0        0  ...        0        0        0         0
37        0        0        0        0  ...        0        0        0         0
38        0        0        0        0  ...        0        0        0         0
39        0        0        0        0  ...        0        0        0         0
40        0        0        0        0  ...        0        0        0         0
41        0        0        0        0  ...        0        0        0         0
42        0        0        0        0  ...        0        0        0         0
43        0        0        0        0  ...        0        0        0         0
44        0        0        0        0  ...        0        0        0         0
45        0        0        0        0  ...        0        0        0         0
46        0        0        0        0  ...        0        0        0         0
47        0        0        0        0  ...        0        0        0         0
48        0        0        0        0  ...        0        0        0         0
49        0        0        0        0  ...        0        0        0         0
50        0        0        0        0  ...        0        0        0         0

[50 rows x 10 columns]

In [ ]:
# import gspread
# from oauth2client.client import GoogleCredentials as GC
# gc = gspread.authorize(GC.get_application_default())
# # create, and save df
# from gspread_dataframe import set_with_dataframe
# title = 'NOTIER'
# gc.create(title)  # if not exist
# sheet = gc.open(title).sheet1
# set_with_dataframe(sheet, notier)

In [ ]:


df["Tier0Exp2"]=np.nan
df["Tier1Exp2"] =np.nan
df["Tier2Exp2"] =np.nan
df["Tier3Exp2"] =np.nan
df["Tier4Exp2"] =np.nan
df["Tier5Exp2"] =np.nan
df.loc[((df["RevExp2"]!=0) & (df["orgtier2"]==0)), "Tier0Exp2"] = df["RevExp2"]
df.loc[((df["RevExp2"]!=0) & (df["orgtier2"]==1)), "Tier1Exp2"] = df["RevExp2"]
df.loc[((df["RevExp2"]!=0) & (df["orgtier2"]==2)), "Tier2Exp2"] = df["RevExp2"]
df.loc[((df["RevExp2"]!=0) & (df["orgtier2"]==3)), "Tier3Exp2"] = df["RevExp2"]
df.loc[((df["RevExp2"]!=0) & (df["orgtier2"]==4)), "Tier4Exp2"] = df["RevExp2"]
df["orgtier2"] = np.where(((df["RevExp2"]!=0) & (df["orgtier2"]!=0) & (df["orgtier2"]!=1)& (df["orgtier2"]!=2) & (df["orgtier2"]!=3) &(df["orgtier2"]!=4)& (df["orgtier2"]!=5)),5,df["orgtier2"])
df.loc[((df["RevExp2"]!=0) & (df["orgtier2"]==5)), "Tier5Exp2"] = df["RevExp2"]




df["Tier0Exp3"]=np.nan
df["Tier1Exp3"] =np.nan
df["Tier2Exp3"] =np.nan
df["Tier3Exp3"] =np.nan
df["Tier4Exp3"] =np.nan
df["Tier5Exp3"] =np.nan
df.loc[((df["RevExp3"]!=0) & (df["orgtier3"]==0)), "Tier0Exp3"] = df["RevExp3"]
df.loc[((df["RevExp3"]!=0) & (df["orgtier3"]==1)), "Tier1Exp3"] = df["RevExp3"]
df.loc[((df["RevExp3"]!=0) & (df["orgtier3"]==2)), "Tier2Exp3"] = df["RevExp3"]
df.loc[((df["RevExp3"]!=0) & (df["orgtier3"]==3)), "Tier3Exp3"] = df["RevExp3"]
df.loc[((df["RevExp3"]!=0) & (df["orgtier3"]==4)), "Tier4Exp3"] = df["RevExp3"]
df["orgtier3"] = np.where(((df["RevExp3"]!=0) & (df["orgtier3"]!=0) & (df["orgtier3"]!=1)& (df["orgtier3"]!=2) & (df["orgtier3"]!=3) &(df["orgtier3"]!=4)& (df["orgtier3"]!=5)),5,df["orgtier3"])
df.loc[((df["RevExp3"]!=0) & (df["orgtier3"]==5)), "Tier5Exp3"] = df["RevExp3"]



df["Tier0Exp4"]=np.nan
df["Tier1Exp4"] =np.nan
df["Tier2Exp4"] =np.nan
df["Tier3Exp4"] =np.nan
df["Tier4Exp4"] =np.nan
df["Tier5Exp4"] =np.nan
df.loc[((df["RevExp4"]!=0) & (df["orgtier4"]==0)), "Tier0Exp4"] = df["RevExp4"]
df.loc[((df["RevExp4"]!=0) & (df["orgtier4"]==1)), "Tier1Exp4"] = df["RevExp4"]
df.loc[((df["RevExp4"]!=0) & (df["orgtier4"]==2)), "Tier2Exp4"] = df["RevExp4"]
df.loc[((df["RevExp4"]!=0) & (df["orgtier4"]==3)), "Tier3Exp4"] = df["RevExp4"]
df.loc[((df["RevExp4"]!=0) & (df["orgtier4"]==4)), "Tier4Exp4"] = df["RevExp4"]
df["orgtier4"] = np.where(((df["RevExp4"]!=0) & (df["orgtier4"]!=0) & (df["orgtier4"]!=1)& (df["orgtier4"]!=2) & (df["orgtier4"]!=3) &(df["orgtier4"]!=4)& (df["orgtier4"]!=5)),5,df["orgtier4"])
df.loc[((df["RevExp4"]!=0) & (df["orgtier4"]==5)), "Tier5Exp4"] = df["RevExp4"]


df["Tier0Exp5"]=np.nan
df["Tier1Exp5"] =np.nan
df["Tier2Exp5"] =np.nan
df["Tier3Exp5"] =np.nan
df["Tier4Exp5"] =np.nan
df["Tier5Exp5"] =np.nan
df.loc[((df["RevExp5"]!=0) & (df["orgtier5"]==0)), "Tier0Exp5"] = df["RevExp5"]
df.loc[((df["RevExp5"]!=0) & (df["orgtier5"]==1)), "Tier1Exp5"] = df["RevExp5"]
df.loc[((df["RevExp5"]!=0) & (df["orgtier5"]==2)), "Tier2Exp5"] = df["RevExp5"]
df.loc[((df["RevExp5"]!=0) & (df["orgtier5"]==3)), "Tier3Exp5"] = df["RevExp5"]
df.loc[((df["RevExp5"]!=0) & (df["orgtier5"]==4)), "Tier4Exp5"] = df["RevExp5"]
df["orgtier5"] = np.where(((df["RevExp5"]!=0) & (df["orgtier5"]!=0) & (df["orgtier5"]!=1)& (df["orgtier5"]!=2) & (df["orgtier5"]!=3) &(df["orgtier5"]!=4)& (df["orgtier5"]!=5)),5,df["orgtier5"])
df.loc[((df["RevExp5"]!=0) & (df["orgtier5"]==5)), "Tier5Exp5"] = df["RevExp5"]


df["Tier0Exp6"]=np.nan
df["Tier1Exp6"] =np.nan
df["Tier2Exp6"] =np.nan
df["Tier3Exp6"] =np.nan
df["Tier4Exp6"] =np.nan
df["Tier5Exp6"] =np.nan
df.loc[((df["RevExp6"]!=0) & (df["orgtier6"]==0)), "Tier0Exp6"] = df["RevExp6"]
df.loc[((df["RevExp6"]!=0) & (df["orgtier6"]==1)), "Tier1Exp6"] = df["RevExp6"]
df.loc[((df["RevExp6"]!=0) & (df["orgtier6"]==2)), "Tier2Exp6"] = df["RevExp6"]
df.loc[((df["RevExp6"]!=0) & (df["orgtier6"]==3)), "Tier3Exp6"] = df["RevExp6"]
df.loc[((df["RevExp6"]!=0) & (df["orgtier6"]==4)), "Tier4Exp6"] = df["RevExp6"]
df["orgtier6"] = np.where(((df["RevExp6"]!=0) & (df["orgtier6"]!=0) & (df["orgtier6"]!=1)& (df["orgtier6"]!=2) & (df["orgtier6"]!=3) &(df["orgtier6"]!=4)& (df["orgtier6"]!=5)),5,df["orgtier6"])
df.loc[((df["RevExp6"]!=0) & (df["orgtier6"]==5)), "Tier5Exp6"] = df["RevExp6"]


df["Tier0Exp7"]= np.nan
df["Tier1Exp7"] =np.nan
df["Tier2Exp7"] =np.nan
df["Tier3Exp7"] =np.nan
df["Tier4Exp7"] =np.nan
df["Tier5Exp7"] =np.nan
df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==0)), "Tier0Exp7"] = df["RevExp7"]
df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==1)), "Tier1Exp7"] = df["RevExp7"]
df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==2)), "Tier2Exp7"] = df["RevExp7"]
df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==3)), "Tier3Exp7"] = df["RevExp7"]
df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==4)), "Tier4Exp7"] = df["RevExp7"]
df["orgtier7"] = np.where(((df["RevExp7"]!=0) & (df["orgtier7"]!=0) & (df["orgtier7"]!=1)& (df["orgtier7"]!=2) & (df["orgtier7"]!=3) &(df["orgtier7"]!=4)& (df["orgtier7"]!=5)),5,df["orgtier7"])
df.loc[((df["RevExp7"]!=0) & (df["orgtier7"]==5)), "Tier5Exp7"] = df["RevExp7"]
# df[df["Full name"]=="Anisha Sutaria"]["orgtier7"]

df["Tier0Exp8"]=np.nan
df["Tier1Exp8"] =np.nan
df["Tier2Exp8"] =np.nan
df["Tier3Exp8"] =np.nan
df["Tier4Exp8"] =np.nan
df["Tier5Exp8"] =np.nan
df.loc[((df["RevExp8"]!=0) & (df["orgtier8"]==0)), "Tier0Exp8"] = df["RevExp8"]
df.loc[((df["RevExp8"]!=0) & (df["orgtier8"]==1)), "Tier1Exp8"] = df["RevExp8"]
df.loc[((df["RevExp8"]!=0) & (df["orgtier8"]==2)), "Tier2Exp8"] = df["RevExp8"]
df.loc[((df["RevExp8"]!=0) & (df["orgtier8"]==3)), "Tier3Exp8"] = df["RevExp8"]
df.loc[((df["RevExp8"]!=0) & (df["orgtier8"]==4)), "Tier4Exp8"] = df["RevExp8"]
df["orgtier8"] = np.where(((df["RevExp8"]!=0) & (df["orgtier8"]!=0) & (df["orgtier8"]!=1)& (df["orgtier8"]!=2) & (df["orgtier8"]!=3) &(df["orgtier8"]!=4)& (df["orgtier8"]!=5)),5,df["orgtier8"])
df.loc[((df["RevExp8"]!=0) & (df["orgtier8"]==5)), "Tier5Exp8"] = df["RevExp8"]




df["Tier0Exp9"]=np.nan
df["Tier1Exp9"] =np.nan
df["Tier2Exp9"] =np.nan
df["Tier3Exp9"] =np.nan
df["Tier4Exp9"] =np.nan
df["Tier5Exp9"] =np.nan
df.loc[((df["RevExp9"]!=0) & (df["orgtier9"]==0)), "Tier0Exp9"] = df["RevExp9"]
df.loc[((df["RevExp9"]!=0) & (df["orgtier9"]==1)), "Tier1Exp9"] = df["RevExp9"]
df.loc[((df["RevExp9"]!=0) & (df["orgtier9"]==2)), "Tier2Exp9"] = df["RevExp9"]
df.loc[((df["RevExp9"]!=0) & (df["orgtier9"]==3)), "Tier3Exp9"] = df["RevExp9"]
df.loc[((df["RevExp9"]!=0) & (df["orgtier9"]==4)), "Tier4Exp9"] = df["RevExp9"]
df["orgtier9"] = np.where(((df["RevExp9"]!=0) & (df["orgtier9"]!=0) & (df["orgtier9"]!=1)& (df["orgtier9"]!=2) & (df["orgtier9"]!=3) &(df["orgtier9"]!=4)& (df["orgtier9"]!=5)),5,df["orgtier9"])
df.loc[((df["RevExp9"]!=0) & (df["orgtier9"]==5)), "Tier5Exp9"] = df["RevExp9"]



df["Tier0Exp10"]=np.nan
df["Tier1Exp10"] =np.nan
df["Tier2Exp10"] =np.nan
df["Tier3Exp10"] =np.nan
df["Tier4Exp10"] =np.nan
df["Tier5Exp10"] =np.nan
df.loc[((df["RevExp10"]!=0) & (df["orgtier10"]==0)), "Tier0Exp10"] = df["RevExp10"]
df.loc[((df["RevExp10"]!=0) & (df["orgtier10"]==1)), "Tier1Exp10"] = df["RevExp10"]
df.loc[((df["RevExp10"]!=0) & (df["orgtier10"]==2)), "Tier2Exp10"] = df["RevExp10"]
df.loc[((df["RevExp10"]!=0) & (df["orgtier10"]==3)), "Tier3Exp10"] = df["RevExp10"]
df.loc[((df["RevExp10"]!=0) & (df["orgtier10"]==4)), "Tier4Exp10"] = df["RevExp10"]
df["orgtier10"] = np.where(((df["RevExp10"]!=0) & (df["orgtier10"]!=0) & (df["orgtier10"]!=1)& (df["orgtier10"]!=2) & (df["orgtier10"]!=3) &(df["orgtier10"]!=4)& (df["orgtier10"]!=5)),5,df["orgtier10"])
df.loc[((df["RevExp10"]!=0) & (df["orgtier10"]==5)), "Tier5Exp10"] = df["RevExp10"]




df["Tier0Exp"] = df[["Tier0Exp1","Tier0Exp2","Tier0Exp3","Tier0Exp4","Tier0Exp5","Tier0Exp6","Tier0Exp7","Tier0Exp8","Tier0Exp9","Tier0Exp10"]].sum(axis=1)

df["Tier1Exp"] = df[["Tier1Exp1","Tier1Exp2","Tier1Exp3","Tier1Exp4","Tier1Exp5","Tier1Exp6","Tier1Exp7","Tier1Exp8","Tier1Exp9","Tier1Exp10"]].sum(axis=1)

df["Tier2Exp"] = df[["Tier2Exp1","Tier2Exp2","Tier2Exp3","Tier2Exp4","Tier2Exp5","Tier2Exp6","Tier2Exp7","Tier2Exp8","Tier2Exp9","Tier2Exp10"]].sum(axis=1)

df["Tier3Exp"] = df[["Tier3Exp1","Tier3Exp2","Tier3Exp3","Tier3Exp4","Tier3Exp5","Tier3Exp6","Tier3Exp7","Tier3Exp8","Tier3Exp9","Tier3Exp10"]].sum(axis=1)

df["Tier4Exp"] = df[["Tier4Exp1","Tier4Exp2","Tier4Exp3","Tier4Exp4","Tier4Exp5","Tier4Exp6","Tier4Exp7","Tier4Exp8","Tier4Exp9","Tier4Exp10"]].sum(axis=1)

df["Tier5Exp"] = df[["Tier5Exp1","Tier5Exp2","Tier5Exp3","Tier5Exp4","Tier5Exp5","Tier5Exp6","Tier5Exp7","Tier5Exp8","Tier5Exp9","Tier5Exp10"]].sum(axis=1)


df["TotalWorkExp"] = df[["Tier0Exp","Tier1Exp","Tier2Exp","Tier3Exp","Tier4Exp","Tier5Exp"]].sum(axis=1)

In [ ]:
df["TotalWorkExp"].value_counts()

0.0       12
2191.0     2
2375.0     1
3440.0     1
1248.0     1
1795.0     1
2680.0     1
1431.0     1
975.0      1
1372.0     1
1586.0     1
2312.0     1
2192.0     1
1826.0     1
1246.0     1
2010.0     1
1369.0     1
1794.0     1
1340.0     1
1673.0     1
1643.0     1
2463.0     1
1308.0     1
4931.0     1
3623.0     1
5718.0     1
5022.0     1
2797.0     1
2433.0     1
5322.0     1
3589.0     1
1403.0     1
1490.0     1
2952.0     1
1735.0     1
2011.0     1
1765.0     1
1065.0     1
3139.0     1
Name: TotalWorkExp, dtype: int64

In [ ]:
df.loc[(df["RevExp1"]!=0),"Orgurl1"] = df["Organization LI URL 1"]
df.loc[(df["RevExp2"]!=0),"Orgurl2"] = df["Organization LI URL 2"]
df.loc[(df["RevExp3"]!=0),"Orgurl3"] = df["Organization LI URL 3"]
df.loc[(df["RevExp4"]!=0),"Orgurl4"] = df["Organization LI URL 4"]
df.loc[(df["RevExp5"]!=0),"Orgurl5"] = df["Organization LI URL 5"]
df.loc[(df["RevExp6"]!=0),"Orgurl6"] = df["Organization LI URL 6"]
df.loc[(df["RevExp7"]!=0),"Orgurl7"] = df["Organization LI URL 7"]
df.loc[(df["RevExp8"]!=0),"Orgurl8"] = df["Organization LI URL 8"]
df.loc[(df["RevExp9"]!=0),"Orgurl9"] = df["Organization LI URL 9"]
df.loc[(df["RevExp10"]!=0),"Orgurl10"] = df["Organization LI URL 10"]

dfrev[:30]

    RevExp1  RevExp2  RevExp3  RevExp4  ...  RevExp7  RevExp8  RevExp9  RevExp10
0         0      0.0        0        0  ...    976.0        0      245       245
1         0   1340.0        0        0  ...      0.0        0        0         0
2         0      0.0        0        0  ...      0.0        0        0         0
3      2131    607.0        0        0  ...      0.0        0        0         0
4         0      0.0        0        0  ...    488.0        0        0       334
5         0      0.0        0        0  ...    518.0        0        0         0
6         0      0.0        0        0  ...      0.0        0        0         0
7         0      0.0        0        0  ...      0.0        0        0         0
8         0      0.0        0        0  ...   1096.0      730        0         0
9      3135    487.0      243      638  ...    275.0      120      182         0
10        0      0.0        0        0  ...      0.0        0        0         0
11        0      0.0        0        0  ...      0.0        0        0         0
12        0      0.0      304     2008  ...      0.0        0        0         0
13        0      0.0        0        0  ...      0.0        0        0         0
14        0      0.0        0        0  ...      0.0        0        0         0
15        0      0.0        0        0  ...   1187.0     1004        0         0
16        0      0.0        0        0  ...      0.0        0        0         0
17        0      0.0        0        0  ...      0.0        0        0         0
18      700      0.0     1216      153  ...      0.0        0        0         0
19        0      0.0        0        0  ...   1430.0      365        0         0
20        0      0.0        0        0  ...    425.0      243      334         0
21        0      0.0        0        0  ...      0.0        0        0         0
22        0      0.0        0        0  ...      0.0        0        0         0
23        0      0.0        0      822  ...      0.0        0        0         0
24        0    945.0      427        0  ...      0.0        0        0         0
25        0     92.0       92      791  ...      0.0        0        0         0
26        0      0.0        0      577  ...    153.0        0        0         0
27        0      0.0        0        0  ...   2038.0      731     1096         0
28        0      0.0        0     1249  ...      0.0        0        0         0
29        0      0.0        0        0  ...      0.0        0        0         0

[30 rows x 10 columns]

In [ ]:
df["Orgurl1"] = df["Orgurl1"].replace(np.nan, 0)
df["Orgurl2"] = df["Orgurl2"].replace(np.nan, 0)
df["Orgurl3"]=  df["Orgurl3"].replace(np.nan, 0)
df["Orgurl4"] = df["Orgurl4"].replace(np.nan, 0)
df["Orgurl5"] = df["Orgurl5"].replace(np.nan, 0)
df["Orgurl6"] = df["Orgurl6"].replace(np.nan, 0)
df["Orgurl7"]=  df["Orgurl7"].replace(np.nan, 0)
df["Orgurl8"] = df["Orgurl8"].replace(np.nan, 0)
df["Orgurl9"] = df["Orgurl9"].replace(np.nan, 0)
df["Orgurl10"] = df["Orgurl10"].replace(np.nan, 0)

dforg = df[["Orgurl1","Orgurl2","Orgurl3","Orgurl4","Orgurl5","Orgurl6","Orgurl7","Orgurl8","Orgurl9","Orgurl10"]]
dforg[:30]

                                              Orgurl1  ...                               Orgurl10
0                                                   0  ...  https://www.linkedin.com/company/kpmg
1                                                   0  ...                                      0
2                                                   0  ...                                      0
3   https://www.linkedin.com/company/ingredion-inc...  ...                                      0
4                                                   0  ...                                     na
5                                                   0  ...                                      0
6                                                   0  ...                                      0
7                                                   0  ...                                      0
8                                                   0  ...                                      0
9   https://www.linkedin.com/company/boehringer-in...  ...                                      0
10                                                  0  ...                                      0
11                                                  0  ...                                      0
12                                                  0  ...                                      0
13                                                  0  ...                                      0
14                                                  0  ...                                      0
15                                                  0  ...                                      0
16                                                  0  ...                                      0
17                                                  0  ...                                      0
18  https://www.linkedin.com/company/london-busine...  ...                                      0
19                                                  0  ...                                      0
20                                                  0  ...                                      0
21                                                  0  ...                                      0
22                                                  0  ...                                      0
23                                                  0  ...                                      0
24                                                  0  ...                                      0
25                                                  0  ...                                      0
26                                                  0  ...                                      0
27                                                  0  ...                                      0
28                                                  0  ...                                      0
29                                                  0  ...                                      0

[30 rows x 10 columns]

In [ ]:
df["Swtich"] = dforg.apply(pd.Series.nunique, axis=1)
df["Swtich"] = df["Swtich"]-2
# df["Swtich"] = np.where(df["Swtich"]<0,0,df["Swtich"])
df["Swtich"]

0     3
1     0
2    -1
3     2
4     1
5     1
6     0
7     0
8     1
9     7
10   -1
11   -1
12    1
13   -1
14   -1
15    1
16   -1
17   -1
18    4
19    3
20    3
21   -1
22   -1
23    2
24    1
25    1
26    1
27    2
28    0
29   -1
30    1
31    0
32    5
33    5
34    0
35    0
36   -1
37    1
38    1
39    3
40    2
41    5
42    0
43    2
44    1
45    2
46    0
47    2
48    1
49   -1
50    4
Name: Swtich, dtype: int64

In [ ]:
df["Swtich"] = np.where(df["Swtich"]<0,0,df["Swtich"])
df["Swtich"]

0     3
1     0
2     0
3     2
4     1
5     1
6     0
7     0
8     1
9     7
10    0
11    0
12    1
13    0
14    0
15    1
16    0
17    0
18    4
19    3
20    3
21    0
22    0
23    2
24    1
25    1
26    1
27    2
28    0
29    0
30    1
31    0
32    5
33    5
34    0
35    0
36    0
37    1
38    1
39    3
40    2
41    5
42    0
43    2
44    1
45    2
46    0
47    2
48    1
49    0
50    4
Name: Swtich, dtype: int64

In [ ]:

df["ActualMBA"] = 0 
df.loc[((df["SchoolURL1"]=="https://www.linkedin.com/school/19541/?legacySchoolId=19541")&(df["MBA1"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL2"]=="https://www.linkedin.com/school/19541/?legacySchoolId=19541")&(df["MBA2"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL3"]=="https://www.linkedin.com/school/19541/?legacySchoolId=19541")&(df["MBA3"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL4"]=="https://www.linkedin.com/school/19541/?legacySchoolId=19541")&(df["MBA4"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL5"]=="https://www.linkedin.com/school/19541/?legacySchoolId=19541")&(df["MBA5"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL6"]=="https://www.linkedin.com/school/19541/?legacySchoolId=19541")&(df["MBA6"]=="YES"),"ActualMBA")] = "1"

df.loc[((df["SchoolURL1"]=="https://www.linkedin.com/school/19518/?legacySchoolId=19518")&(df["MBA1"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL2"]=="https://www.linkedin.com/school/19518/?legacySchoolId=19518")&(df["MBA2"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL3"]=="https://www.linkedin.com/school/19518/?legacySchoolId=19518")&(df["MBA3"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL4"]=="https://www.linkedin.com/school/19518/?legacySchoolId=19518")&(df["MBA4"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL5"]=="https://www.linkedin.com/school/19518/?legacySchoolId=19518")&(df["MBA5"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL6"]=="https://www.linkedin.com/school/19518/?legacySchoolId=19518")&(df["MBA6"]=="YES"),"ActualMBA")] = "1"


df.loc[((df["SchoolURL1"]=="https://www.linkedin.com/school/18994/?legacySchoolId=18994")&(df["MBA1"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL2"]=="https://www.linkedin.com/school/18994/?legacySchoolId=18994")&(df["MBA2"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL3"]=="https://www.linkedin.com/school/18994/?legacySchoolId=18994")&(df["MBA3"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL4"]=="https://www.linkedin.com/school/18994/?legacySchoolId=18994")&(df["MBA4"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL5"]=="https://www.linkedin.com/school/18994/?legacySchoolId=18994")&(df["MBA5"]=="YES"),"ActualMBA")] = "1"
df.loc[((df["SchoolURL6"]=="https://www.linkedin.com/school/18994/?legacySchoolId=18994")&(df["MBA6"]=="YES"),"ActualMBA")] = "1"

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [ ]:
# (df["SchoolURL1"]=="https://www.linkedin.com/school/18291/?legacySchoolId=18291")
df["ActualMBA"].value_counts()

1    43
0     8
Name: ActualMBA, dtype: int64

In [ ]:
# df["2"]

In [ ]:
df["School"] = "NYU Stern School of Business"

In [ ]:


dffinal =df[["Full name", "Profile url","general/imgUrl",	"PostOrg","PostTitle","RecOrg","RecTitle","RevExp1", "RevExp2",	"RevExp3", "RevExp4",
             "RevExp5", "RevExp6","RevExp7","RevExp8","RevExp9","RevExp10",	
             "Tier0Exp",	"Tier1Exp",	"Tier2Exp",	"Tier3Exp",	"Tier4Exp",	"Tier5Exp",	"TotalWorkExp"	,"Swtich","MasDate",
             "Education1","match_education1","Type1","Type_insti1", "SEd1","Bachelors1",	"Master1",	"MBA1","EdTier1",
             "Education2","match_education2","Type2","Type_insti2",   "SEd2","Bachelors2",	"Master2",	"MBA2","EdTier2",
             "Education3","match_education3","Type3","Type_insti3",  "SEd3","Bachelors3",	"Master3",	"MBA3","EdTier3",
             "Education4","match_education4","Type4","Type_insti4",  "SEd4","Bachelors4",	"Master4",	"MBA4","EdTier4",
             "Education5","match_education5","Type5","Type_insti5",  "SEd5", "Bachelors5",	"Master5",	"MBA5","EdTier5",
             "Education6","match_education6","Type6","Type_insti6",   "SEd6","Bachelors6",	"Master6",	"MBA6","EdTier6",
             "BachTier","MBA_tier", "MBA_req_1","ActualMBA","School"]]
# dffinal_new"School"]]

In [ ]:
dffinal.shape

(51, 85)

In [ ]:
dffinal = dffinal.loc[:,~dffinal.columns.duplicated()]

In [ ]:
# dfweb = df[df["ActualMBA"]==1]
# 
df["ActualMBA"] = df["ActualMBA"].astype(int)

dfweb = df[df["ActualMBA"]==1]
dfrevweb = dfweb[dfweb["TotalWorkExp"]!=0]
dffinalweb = dfrevweb[["Full name", "Profile url","general/imgUrl","MasDate","School",	"PostOrg","PostTitle","PostIndustry","RecOrg","RecTitle","RecIndustry"]]

In [ ]:
dffinal_new =dfrevweb[["Full name", "Tier1Exp",	"Tier2Exp",	"Tier3Exp",	"Tier4Exp",	"Tier5Exp","TotalWorkExp","Swtich","MasDate",
              "Type1", "Bachelors1",	"Master1",	"MBA1","EdTier1",
              "Type2", "Bachelors2",	"Master2",	"MBA2","EdTier2",
              "Type3", "Bachelors3",	"Master3",	"MBA3","EdTier3",
              "Type4", "Bachelors4",	"Master4",	"MBA4","EdTier4",
              "Type5","Bachelors5",	"Master5",	"MBA5","EdTier5",
              "Type6", "Bachelors6",	"Master6",	"MBA6","EdTier6",
              "BachTier","MBA_tier", "MBA_req_1", "ActualMBA","School"]]
dffinal_new.shape

(33, 44)

In [ ]:
df["TotalWorkExp"].value_counts()

0.0       12
2191.0     2
2375.0     1
3440.0     1
1248.0     1
1795.0     1
2680.0     1
1431.0     1
975.0      1
1372.0     1
1586.0     1
2312.0     1
2192.0     1
1826.0     1
1246.0     1
2010.0     1
1369.0     1
1794.0     1
1340.0     1
1673.0     1
1643.0     1
2463.0     1
1308.0     1
4931.0     1
3623.0     1
5718.0     1
5022.0     1
2797.0     1
2433.0     1
5322.0     1
3589.0     1
1403.0     1
1490.0     1
2952.0     1
1735.0     1
2011.0     1
1765.0     1
1065.0     1
3139.0     1
Name: TotalWorkExp, dtype: int64

In [ ]:
# dffinal =df[["Full name", "Profile url","Last name",	"RevExp1", "RevExp2",	"RevExp3", "RevExp4",
#              "RevExp5", "RevExp6","RevExp7","RevExp8","RevExp9","RevExp10",	"RecOrg"	,"RecTitle",
#              "Tier0Exp",	"Tier1Exp",	"Tier2Exp",	"Tier3Exp",	"Tier4Exp",	"Tier5Exp",	"TotalWorkExp"	,"Swtich","MasDate"
#              "Education1","match_education1","Type1","Type_insti1", "SEd1","Bachelors1",	"Master1",	"MBA1","EdTier1",
#              "Education2","match_education2","Type2","Type_insti2",   "SEd2","Bachelors2",	"Master2",	"MBA2","EdTier2",
#              "Education3","match_education3","Type3","Type_insti3",  "SEd3","Bachelors3",	"Master3",	"MBA3","EdTier3",
#              "Education4","match_education4","Type4","Type_insti4",  "SEd4","Bachelors4",	"Master4",	"MBA4","EdTier4",
#              "Education5","match_education5","Type5","Type_insti5",  "SEd5", "Bachelors5",	"Master5",	"MBA5","EdTier5",
#              "Education6","match_education6","Type6","Type_insti6",   "SEd6","Bachelors6",	"Master6",	"MBA6","EdTier6","BachTier","MasterTier","MBATier","School"]]

# dffinal_new =df[["Full name", "Tier1Exp",	"Tier2Exp",	"Tier3Exp",	"Tier4Exp",	"Tier5Exp","Swtich","MasDate"
#               "Type1", "Bachelors1",	"Master1",	"MBA1","EdTier1",
#               "Type2", "Bachelors2",	"Master2",	"MBA2","EdTier2",
#               "Type3", "Bachelors3",	"Master3",	"MBA3","EdTier3",
#               "Type4", "Bachelors4",	"Master4",	"MBA4","EdTier4",
#               "Type5","Bachelors5",	"Master5",	"MBA5","EdTier5",
#               "Type6", "Bachelors6",	"Master6",	"MBA6","EdTier6","BachTier","MasterTier","MBATier","School"]]
# dffinal_new

In [ ]:
import gspread
from oauth2client.client import GoogleCredentials as GC
gc = gspread.authorize(GC.get_application_default())
# create, and save df
from gspread_dataframe import set_with_dataframe
title = 'nyusternjson2rev'
gc.create(title)  # if not exist
sheet = gc.open(title).sheet1
set_with_dataframe(sheet, dffinal_new)

In [ ]:
# nobachtier1 = np.nan
# nobachtier2 = np.nan
# nobachtier3 = np.nan
# nobachtier4 = np.nan
# nobachtier5 = np.nan
# nobachtier6 = np.nan
# df.loc[(df["Bachelors1"]!=0)&df["EdTier1"]==0, "nobachtier1"] = df["Education 1"]
# df.loc[(df["Bachelors2"]!=0)&df["EdTier2"]==0, "nobachtier2"] = df["Education 2"]
# df.loc[(df["Bachelors3"]!=0)&df["EdTier3"]==0, "nobachtier3"] = df["Education 3"]
# df.loc[(df["Bachelors4"]!=0)&df["EdTier4"]==0, "nobachtier4"] = df["Education 4"]
# df.loc[(df["Bachelors5"]!=0)&df["EdTier5"]==0, "nobachtier5"] = df["Education 5"]
# df.loc[(df["Bachelors6"]!=0)&df["EdTier6"]==0, "nobachtier6"] = df["Education 6"]


# nomasttier1 = np.nan
# nomasttier2 = np.nan
# nomasttier3 = np.nan
# nomasttier4 = np.nan
# nomasttier5 = np.nan
# nomasttier6 = np.nan
# df.loc[(df["Master1"]!=0)&df["EdTier1"]==0, "nomasttier1"] = df["Education 1"]
# df.loc[(df["Master2"]!=0)&df["EdTier2"]==0, "nomasttier2"] = df["Education 2"]
# df.loc[(df["Master3"]!=0)&df["EdTier3"]==0, "nomasttier3"] = df["Education 3"]
# df.loc[(df["Master4"]!=0)&df["EdTier4"]==0, "nomasttier4"] = df["Education 4"]
# df.loc[(df["Master5"]!=0)&df["EdTier5"]==0, "nomasttier5"] = df["Education 5"]
# df.loc[(df["Master6"]!=0)&df["EdTier6"]==0, "nomasttier6"] = df["Education 6"]

# nombatier1 = np.nan
# nombatier2 = np.nan
# nombatier3 = np.nan
# nombatier4 = np.nan
# nombatier5 = np.nan
# nombatier6 = np.nan
# df.loc[(df["MBA1"]!=0)&df["EdTier1"]==0, "nombatier1"] = df["Education 1"]
# df.loc[(df["MBA2"]!=0)&df["EdTier2"]==0, "nombatier2"] = df["Education 2"]
# df.loc[(df["MBA3"]!=0)&df["EdTier3"]==0, "nombatier3"] = df["Education 3"]
# df.loc[(df["MBA4"]!=0)&df["EdTier4"]==0, "nombatier4"] = df["Education 4"]
# df.loc[(df["MBA5"]!=0)&df["EdTier5"]==0, "nombatier5"] = df["Education 5"]
# df.loc[(df["MBA6"]!=0)&df["EdTier6"]==0, "nombatier6"] = df["Education 6"]


df["EdTier1"]=df["EdTier1"].fillna(0)
df["Type1"]=df["Type1"].fillna(0)
df.loc[(df["Type1"]!=0)&(df["Type1"]!="Other")&(df["EdTier1"]==0)&((df["SEd1"]==-1)),"1notier"] = df["Education 1"]
# df.loc[(df["EdTier1"]==0)&(df["Master1"]!=0),"1notier"] = df["Education 1"]
# df.loc[(df["EdTier1"]==0)&(df["MBA1"]!=0),"1notier"] = df["Education 1"]
df["1notier"]


df["EdTier2"]=df["EdTier2"].fillna(0)
df["Type2"]=df["Type2"].fillna(0)
df.loc[(df["Type2"]!=0)&(df["Type2"]!="Other")&(df["EdTier2"]==0)&((df["SEd2"]==-1)),"2notier"] = df["Education 2"]
# df.loc[(df["EdTier2"]==0)&(df["Master2"]!=0),"2notier"] = df["Education 2"]
# df.loc[(df["EdTier2"]==0)&(df["MBA2"]!=0),"2notier"] = df["Education 2"]
df["2notier"]


df["EdTier3"]=df["EdTier3"].fillna(0)
df["Type3"]=df["Type3"].fillna(0)
df.loc[(df["Type3"]!="Other")&(df["Type3"]!=0)&(df["EdTier3"]==0)&((df["SEd3"]==-1)),"3notier"] = df["Education 3"]
# df.loc[(df["EdTier3"]==0)&(df["Master3"]!=0),"3notier"] = df["Education 3"]
# df.loc[(df["EdTier3"]==0)&(df["MBA3"]!=0),"3notier"] = df["Education 3"]
df["3notier"]

df["EdTier4"]=df["EdTier4"].fillna(0)
df["Type4"]=df["Type4"].fillna(0)
df.loc[(df["Type4"]!="Other")&(df["Type4"]!=0)&(df["EdTier4"]==0)&((df["SEd4"]==-1)),"4notier"] = df["Education 4"]
# df.loc[(df["EdTier4"]==0)&(df["Master4"]!=0),"4notier"] = df["Education 4"]
# df.loc[(df["EdTier4"]==0)&(df["MBA4"]!=0),"4notier"] = df["Education 4"]
df["4notier"]

df["EdTier5"]=df["EdTier5"].fillna(0)
df["Type5"]=df["Type5"].fillna(0)
df.loc[(df["Type5"]!=0)&(df["Type5"]!="Other")&(df["EdTier5"]==0)&(df["SEd5"]==-1),"5notier"] = df["Education 5"]
# df.loc[(df["EdTier5"]==0)&(df["Master5"]!=0),"5notier"] = df["Education 5"]
# df.loc[(df["EdTier5"]==0)&(df["MBA5"]!=0),"5notier"] = df["Education 5"]
df["5notier"]


df["EdTier6"]=df["EdTier6"].fillna(0)
df["Type6"]=df["Type6"].fillna(0)
df.loc[(df["Type6"]!=0)&(df["Type6"]!="Other")&(df["EdTier6"]==0)&((df["SEd6"]==-1)),"6notier"] = df["Education 6"]
# df.loc[(df["EdTier6"]==0)&(df["Master6"]!=0),"6notier"] = df["Education 6"]
# df.loc[(df["EdTier6"]==0)&(df["MBA6"]!=0),"6notier"] = df["Education 6"]
df["1notier"].nunique()
df["Type2"]!="Other"

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
Name: Type2, dtype: bool

In [ ]:
dfnotierED =df[["1notier",
             "2notier",
             "3notier",
             "4notier",
             "5notier",
             "6notier",]]

In [ ]:
import gspread
from oauth2client.client import GoogleCredentials as GC
gc = gspread.authorize(GC.get_application_default())
# create, and save df
from gspread_dataframe import set_with_dataframe
title = 'nuysternnotier'
gc.create(title)  # if not exist
sheet = gc.open(title).sheet1
set_with_dataframe(sheet, dfnotierED)

In [ ]:
GRmbatier1 = np.nan
GRmbatier2 = np.nan
GRmbatier3 = np.nan
GRmbatier4 = np.nan
GRmbatier5 = np.nan
GRmbatier6 = np.nan


df["EdTier1"]=df["EdTier1"].astype(float)
df["EdTier2"]=df["EdTier2"].astype(float)
df["EdTier3"]=df["EdTier3"].astype(float)
df["EdTier4"]=df["EdTier4"].astype(float)
df["EdTier5"]=df["EdTier5"].astype(float)
df["EdTier6"]=df["EdTier6"].astype(float)
# df["EdTier1"]= df["EdTier1"].fillna(0)


df.loc[((df["Type1"]=="Management")&(df["MBA1"]!=0)&(df["EdTier1"]>1.0)&(df["MBA2"]!=0)&(df["EdTier2"]==1.0)&(df["MBA3"]!=0)&(df["EdTier4"]==1.0)&(df["MBA4"]!=0)&(df["EdTier4"]==1.0)&(df["MBA5"]!=0)&(df["EdTier5"]==1.0)), "GRmbatier1"] = df["Education 1"]
df.loc[((df["MBA1"]==0)&(df["Type2"]=="Management")&(df["MBA2"]!=0)&(df["EdTier2"]>1.0)&(df["MBA3"]!=0)&(df["EdTier4"]==1.0)&(df["MBA4"]!=0)&(df["EdTier4"]==1.0)&(df["MBA5"]!=0)&(df["EdTier5"]==1.0)), "GRmbatier2"] = df["Education 2"]
df.loc[((df["MBA1"]==0)&(df["MBA2"]==0)&(df["Type3"]=="Management")&(df["MBA3"]!=0)&(df["EdTier3"]>1.0)&(df["MBA4"]!=0)&(df["EdTier4"]==1.0)&(df["MBA5"]!=0)&(df["EdTier5"]==1.0)), "GRmbatier3"] = df["Education 3"]
df.loc[((df["MBA1"]==0)&(df["MBA2"]==0)&(df["MBA3"]==0)&(df["Type4"]=="Management")&(df["MBA4"]!=0)&(df["EdTier4"]>1.0)&(df["MBA5"]!=0)&(df["EdTier5"]==1.0)), "GRmbatier4"] = df["Education 4"]
df.loc[((df["Type5"]=="Management")&(df["MBA5"]!=0)&(df["EdTier5"]>1.0)), "GRmbatier5"] = df["Education 5"]
df.loc[((df["Type6"]=="Management")&(df["MBA6"]!=0)&(df["EdTier6"]>1.0)), "GRmbatier6"] = df["Education 6"]

In [ ]:
df["Type1"]=df["Type1"].fillna(0)
df["MBA1"]=df["MBA1"].fillna(0)
WrgMBA =df[["Full name", "Profile url","Education1","match_education1","Type1", "SEd1","Bachelors1",	"Master1",	"MBA1","EdTier1","GRmbatier1"]]
df["GRmbatier2"].value_counts()

In [ ]:
WrongMBA =df[["Full name", "Profile url","Education1","match_education1","Type1", "SEd1","Bachelors1",	"Master1",	"MBA1","EdTier1","GRmbatier1",
             "Education2","match_education2","Type2",  "SEd2","Bachelors2",	"Master2",	"MBA2","EdTier2","GRmbatier2",
             "Education3","match_education3","Type3",  "SEd3","Bachelors3",	"Master3",	"MBA3","EdTier3","GRmbatier3",
             "Education4","match_education4","Type4",  "SEd4","Bachelors4",	"Master4",	"MBA4","EdTier4","GRmbatier4",
             "Education5","match_education5","Type5",  "SEd5", "Bachelors5",	"Master5",	"MBA5","EdTier5","GRmbatier5",
             "Education6","match_education6","Type6",  "SEd6","Bachelors6",	"Master6",	"MBA6","EdTier6","GRmbatier6","MBATier","School"]]

In [ ]:
WrongMBA["GRmbatier2"].unique()

In [ ]:
# import gspread
# from oauth2client.client import GoogleCredentials as GC
# gc = gspread.authorize(GC.get_application_default())
# # create, and save df
# from gspread_dataframe import set_with_dataframe
# title = 'edgecase2testmbaQR'
# gc.create(title)  # if not exist
# sheet = gc.open(title).sheet1
# set_with_dataframe(sheet, WrongMBA)

In [ ]:
df.loc[(df["SEd1"]>70)&(df["Type1"]==0),"predDeg1"] = df["Education 1"]
df.loc[(df["SEd2"]>70)&(df["Type2"]==0),"predDeg2"] = df["Education 2"]
df.loc[(df["SEd3"]>70)&(df["Type3"]==0),"predDeg3"] = df["Education 3"]
df.loc[(df["SEd4"]>70)&(df["Type4"]==0),"predDeg4"] = df["Education 4"]
df.loc[(df["SEd5"]>70)&(df["Type5"]==0),"predDeg5"] = df["Education 5"]
df.loc[(df["SEd6"]>70)&(df["Type6"]==0),"predDeg6"] = df["Education 6"]

In [ ]:
dfpreDeg =df[["Full name", "Profile url","Education1","match_education1","Type1","Type_insti1", "SEd1","Bachelors1",	"Master1",	"MBA1","EdTier1","predDeg1",
             "Education2","match_education2","Type2","Type_insti2",   "SEd2","Bachelors2",	"Master2",	"MBA2","EdTier2","predDeg2",
             "Education3","match_education3","Type3","Type_insti3",  "SEd3","Bachelors3",	"Master3",	"MBA3","EdTier3","predDeg3",
             "Education4","match_education4","Type4","Type_insti4",  "SEd4","Bachelors4",	"Master4",	"MBA4","EdTier4","predDeg4",
             "Education5","match_education5","Type5","Type_insti5",  "SEd5", "Bachelors5",	"Master5",	"MBA5","EdTier5","predDeg5",
             "Education6","match_education6","Type6","Type_insti6",   "SEd6","Bachelors6",	"Master6",	"MBA6","EdTier6","MBATier","predDeg6","School"]]

In [ ]:
# import gspread
# from oauth2client.client import GoogleCredentials as GC
# gc = gspread.authorize(GC.get_application_default())
# # create, and save df
# from gspread_dataframe import set_with_dataframe
# title = 'edgecasetestpredDegreeQR'
# gc.create(title)  # if not exist
# sheet = gc.open(title).sheet1
# set_with_dataframe(sheet, dfpreDeg)

In [ ]:
# import gspread
# from oauth2client.client import GoogleCredentials as GC
# gc = gspread.authorize(GC.get_application_default())
# # create, and save df
# from gspread_dataframe import set_with_dataframe
# title = 'Allschool'
# gc.create(title)  # if not exist
# sheet = gc.open(title).sheet1
# set_with_dataframe(sheet, dffinal_new)

In [ ]:
# import gspread
# from oauth2client.client import GoogleCredentials as GC
# gc = gspread.authorize(GC.get_application_default())
# # create, and save df
# from gspread_dataframe import set_with_dataframe
# title = 'Allnotier'
# gc.create(title)  # if not exist
# sheet = gc.open(title).sheet1
# set_with_dataframe(sheet, Allnotier)