<a href="https://colab.research.google.com/github/tg2718/Projects-Python-work/blob/main/Alma_mbaPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive
!pip install openpyxl
!pip install fuzzywuzzy
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

from fuzzywuzzy import process, fuzz
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np


#import modules

import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import scipy.special as spsp
import scipy.stats as spst
from statsmodels.base.model import GenericLikelihoodModel
import datetime as dt

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)
Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')
/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import files
uploaded = files.upload()
import io

data1 = io.BytesIO(uploaded['Model - Data - Relevant Data for model.csv'])

Saving Model - Data - Relevant Data for model.csv to Model - Data - Relevant Data for model.csv

In [ ]:
df = pd.read_csv(data1)
df

                   Full name  Tier1Exp  ...  ActualMBA                        School
0             Kritika Taneja         0  ...          1      Columbia Business School
1                 Priya Gaur         0  ...          1      Columbia Business School
2      Amrinder Singh Chawla         0  ...          1      Columbia Business School
3               Prateet Garg       731  ...          1      Columbia Business School
4     Shreyas Lakshminarayan         0  ...          1      Columbia Business School
...                      ...       ...  ...        ...                           ...
1063       Shariq Mirza, CFA         0  ...          1  NYU Stern School of Business
1064           Niyanta Mogre         0  ...          1  NYU Stern School of Business
1065            Rutika Dhuru      1643  ...          1  NYU Stern School of Business
1066            Roohi Advani         0  ...          1  NYU Stern School of Business
1067            Prachi Patke         0  ...          1  NYU Stern School of Business

[1068 rows x 44 columns]

In [ ]:
df["Bachelors1"] = df["Bachelors1"].map({'YES': 1}).fillna(0)
df["Bachelors2"] = df["Bachelors2"].map({'YES': 1}).fillna(0)
df["Bachelors3"] = df["Bachelors3"].map({'YES': 1}).fillna(0)
df["Bachelors4"] = df["Bachelors4"].map({'YES': 1}).fillna(0)
df["Bachelors5"] = df["Bachelors5"].map({'YES': 1}).fillna(0)
df["Bachelors6"] = df["Bachelors6"].map({'YES': 1}).fillna(0)

df["Master1"] = df["Master1"].map({'YES': 1}).fillna(0)
df["Master2"] = df["Master2"].map({'YES': 1}).fillna(0)
df["Master3"] = df["Master3"].map({'YES': 1}).fillna(0)
df["Master4"] = df["Master4"].map({'YES': 1}).fillna(0)
df["Master5"] = df["Master5"].map({'YES': 1}).fillna(0)
df["Master6"] = df["Master6"].map({'YES': 1}).fillna(0)

df["MBA1"]= df["MBA1"].map({'YES': 1}).fillna(0)
df["MBA2"]= df["MBA2"].map({'YES': 1}).fillna(0)
df["MBA3"]= df["MBA3"].map({'YES': 1}).fillna(0)
df["MBA4"]= df["MBA4"].map({'YES': 1}).fillna(0)
df["MBA5"]= df["MBA5"].map({'YES': 1}).fillna(0)
df["MBA6"]= df["MBA6"].map({'YES': 1}).fillna(0)

In [ ]:
df.loc[((df["Master1"]!=0) & (df["MBA1"]==0)),"RevMasterTier1"] = df["EdTier1"]
df.loc[((df["Master2"]!=0) & (df["MBA2"]==0)),"RevMasterTier2"] = df["EdTier2"]
df.loc[((df["Master3"]!=0) & (df["MBA3"]==0)),"RevMasterTier3"] = df["EdTier3"]
df.loc[((df["Master4"]!=0) & (df["MBA4"]==0)),"RevMasterTier4"] = df["EdTier4"]
df.loc[((df["Master5"]!=0) & (df["MBA5"]==0)),"RevMasterTier5"] = df["EdTier5"]
df.loc[((df["Master6"]!=0) & (df["MBA6"]==0)),"RevMasterTier6"] = df["EdTier6"]




df["RevMasterTier1"]=df["RevMasterTier1"].fillna(7)
df["RevMasterTier2"]=df["RevMasterTier2"].fillna(7)
df["RevMasterTier3"]=df["RevMasterTier3"].fillna(7)
df["RevMasterTier4"]=df["RevMasterTier4"].fillna(7)
df["RevMasterTier5"]=df["RevMasterTier5"].fillna(7)
df["RevMasterTier6"]=df["RevMasterTier6"].fillna(7)

df["RevMasterTier1"]=df["RevMasterTier1"].astype(float)
df["RevMasterTier2"]=df["RevMasterTier2"].astype(float)
df["RevMasterTier3"]=df["RevMasterTier3"].astype(float)
df["RevMasterTier4"]=df["RevMasterTier4"].astype(float)
df["RevMasterTier5"]=df["RevMasterTier5"].astype(float)
df["RevMasterTier6"]=df["RevMasterTier6"].astype(float)

df["MasterTier"]=df[['RevMasterTier1', 'RevMasterTier2','RevMasterTier3','RevMasterTier4','RevMasterTier5',"RevMasterTier6"]].min(axis=1)


df["MasterTier"]=df["MasterTier"].replace(7,0)
df["MasterTier"]

0       0.0
1       0.0
2       1.0
3       1.0
4       1.0
       ...
1063    0.0
1064    0.0
1065    0.0
1066    0.0
1067    0.0
Name: MasterTier, Length: 1068, dtype: float64

In [ ]:
df.loc[((df["Bachelors1"]!=0) & (df["MBA1"]==0)),"Bach_Deg"] = df["Type1"]
df.loc[((df["Bachelors2"]!=0) & (df["MBA2"]==0)),"Bach_Deg"] = df["Type2"]
df.loc[((df["Bachelors3"]!=0) & (df["MBA3"]==0)),"Bach_Deg"] = df["Type3"]
df.loc[((df["Bachelors4"]!=0) & (df["MBA4"]==0)),"Bach_Deg"] = df["Type4"]
df.loc[((df["Bachelors5"]!=0) & (df["MBA5"]==0)),"Bach_Deg"] = df["Type5"]
df.loc[((df["Bachelors6"]!=0) & (df["MBA6"]==0)),"Bach_Deg"] = df["Type6"]

df.loc[((df["Master1"]!=0) & (df["MBA1"]==0)),"Mast_Deg"] = df["Type1"]
df.loc[((df["Master2"]!=0) & (df["MBA2"]==0)),"Mast_Deg"] = df["Type2"]
df.loc[((df["Master3"]!=0) & (df["MBA3"]==0)),"Mast_Deg"] = df["Type3"]
df.loc[((df["Master4"]!=0) & (df["MBA4"]==0)),"Mast_Deg"] = df["Type4"]
df.loc[((df["Master5"]!=0) & (df["MBA5"]==0)),"Mast_Deg"] = df["Type5"]
df.loc[((df["Master6"]!=0) & (df["MBA6"]==0)),"Mast_Deg"] = df["Type6"]

df["Mast_Deg"] = df["Mast_Deg"].fillna(0)
df["Bach_Deg"] = df["Bach_Deg"].fillna(0)

In [ ]:
df
df["School"] = df["School"].map(lambda x:x.strip())

In [ ]:

dfwd = df.drop(df[df["School"]=="The Wharton School"].index.tolist()[110:])

In [ ]:
dfwd

                   Full name  Tier1Exp  ...     Bach_Deg  Mast_Deg
0             Kritika Taneja         0  ...            0         0
1                 Priya Gaur         0  ...   University         0
2      Amrinder Singh Chawla         0  ...            0         0
3               Prateet Garg       731  ...     Commerce  Commerce
4     Shreyas Lakshminarayan         0  ...  Engineering         0
...                      ...       ...  ...          ...       ...
1063       Shariq Mirza, CFA         0  ...  Engineering         0
1064           Niyanta Mogre         0  ...  Engineering         0
1065            Rutika Dhuru      1643  ...  Engineering         0
1066            Roohi Advani         0  ...   University         0
1067            Prachi Patke         0  ...  Engineering         0

[998 rows x 53 columns]

In [ ]:
dfwd= pd.concat((pd.get_dummies(dfwd['Bach_Deg'], prefix = 'B'), dfwd), axis = 1).drop(['Bach_Deg'], axis = 1)
dfwd =pd.concat((pd.get_dummies(dfwd['Mast_Deg'], prefix = 'M'), dfwd), axis = 1).drop(['Mast_Deg'], axis = 1)

dfwd=dfwd.drop(columns=["Full name",'Tier1Exp',"Tier2Exp","Tier3Exp","Tier4Exp","Tier5Exp","MasDate","Type1",	"Bachelors1",	"Master1",	"MBA1",	"EdTier1",	"Type2",	"Bachelors2",	"Master2",	"MBA2",	"EdTier2",	"Type3",	"Bachelors3",	"Master3",	"MBA3",	"EdTier3"	,"Type4"	,"Bachelors4","Master4",	"MBA4",	"EdTier4",	"Type5",	"Bachelors5",	"Master5"	,"MBA5","EdTier5","Type6",	"Bachelors6",	"Master6", "MBA6",	"EdTier6","ActualMBA","RevMasterTier1","RevMasterTier2","RevMasterTier3","RevMasterTier4","RevMasterTier5","RevMasterTier6","MBA_tier"])

In [ ]:
dfwd["Bucket"].value_counts()

1    512
3    330
2    156
Name: Bucket, dtype: int64

In [ ]:
dfwd["Bucket"] = 0
dfwd.loc[(df["School"] == "Columbia Business School"),"Bucket"] = 1
dfwd.loc[(df["School"] == "Harvard Business School"),"Bucket"] = 1
dfwd.loc[(df["School"] == "Ivey Business School"),"Bucket"] = 3
dfwd.loc[(df["School"] == "The Wharton School"),"Bucket"] = 1
dfwd.loc[(df["School"] == "Kellogg School of Management"),"Bucket"] = 1
dfwd.loc[(df["School"] == "Booth School of Business"),"Bucket"] = 1
dfwd.loc[(df["School"] == "Yale School of Management"),"Bucket"] = 2
dfwd.loc[(df["School"] == "NYU Stern School of Business"),"Bucket"] = 2
dfwd.loc[(df["School"] == "Tepper School of Business"),"Bucket"] = 3
dfwd.loc[(df["School"] == "UNC Kenan-Flagler Business School"),"Bucket"] = 3
dfwd.loc[(df["School"] == "The University of Texas at Austin - Red McCombs School of Business"),"Bucket"] = 3

In [ ]:
dfwd

      M_0  M_Commerce  ...  MasterTier  Bucket
0       1           0  ...         0.0       1
1       1           0  ...         0.0       1
2       1           0  ...         1.0       1
3       0           1  ...         1.0       1
4       1           0  ...         1.0       1
...   ...         ...  ...         ...     ...
1063    1           0  ...         0.0       2
1064    1           0  ...         0.0       2
1065    1           0  ...         0.0       2
1066    1           0  ...         0.0       2
1067    1           0  ...         0.0       2

[998 rows x 18 columns]

In [ ]:
import gspread
from oauth2client.client import GoogleCredentials as GC
gc = gspread.authorize(GC.get_application_default())
# create, and save df
from gspread_dataframe import set_with_dataframe
title = 'allrevdata'
gc.create(title)  # if not exist
sheet = gc.open(title).sheet1
set_with_dataframe(sheet, dfwd)

In [ ]:
dfwd = dfwd.drop(["School"], axis=1)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib
print('Libraries Imported')

Libraries Imported

In [ ]:
#Creating the dependent variable class
factor = pd.factorize(dfwd['Bucket'])
dfwd.Bucket = factor[0]
definitions = factor[1]
print(dfwd.Bucket.head())
print(definitions)

0    0
1    0
2    0
3    0
4    0
Name: Bucket, dtype: int64
Int64Index([0, 1, 2], dtype='int64')

In [ ]:
dfwd.Bucket.value_counts()

0    512
1    330
2    156
Name: Bucket, dtype: int64

In [ ]:
print(dfwd.drop(["Bucket"], axis=1).shape)
dfwd["Bucket"].shape

(998, 16)

(998,)

In [ ]:
X = dfwd.drop(["Bucket"], axis=1)
y = dfwd["Bucket"]

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)
classifier = RandomForestClassifier(n_estimators = 30, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
#Reverse factorize (converting y_pred from 0s,1s and 2s to Iris-setosa, Iris-versicolor and Iris-virginica
reversefactor = dict(zip(range(6),definitions))
y_test = np.vectorize(reversefactor.get)(y_test)
y_pred = np.vectorize(reversefactor.get)(y_pred)
# Making the Confusion Matrix
# print(pd.crosstab(y_test, y_pred, rownames=['Actual School'], colnames=['Predicted School']))
temp = pd.DataFrame()
temp["Actual School"] = y_test
temp["Predicted School"] = y_pred

In [ ]:
print(temp.shape)
temp[temp["Actual School"] == temp["Predicted School"]].shape

(250, 2)

(113, 2)

In [ ]:
# from sklearn.datasets import fetch_mldata
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

In [ ]:
train_img, test_img, train_lbl, test_lbl = train_test_split(
    X, y, test_size=1/7.0, random_state=122)
# scaler = StandardScaler()
# # Fit on training set only.
# scaler.fit(train_img)
# # Apply transform to both the training set and the test set.
# train_img = scaler.transform(train_img)
# test_img = scaler.transform(test_img)
# print(np.arange(0,1,5))

model = LogisticRegression(solver = 'lbfgs',C=0.1, max_iter=200)
# model = LogisticRegression(solver = 'liblinear',C=0.1, max_iter=200,penalty="l2")

model.fit(train_img, train_lbl)


#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)
# use the model to make predictions with the test data
y_pred = model.predict(test_img)
# how did our model perform?
count_misclassified = (test_lbl != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(test_lbl, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 62
Accuracy: 0.57

In [ ]:
np.arange(0,1,5)

NameError: ignored

In [ ]:
# use the model to make predictions with the test data
y_pred = model.predict(test_img)
# how did our model perform?
count_misclassified = (test_lbl != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(test_lbl, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Misclassified samples: 62
Accuracy: 0.57

In [ ]:
len(X.columns)

16

In [ ]:




from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

# split into input (X) and output (y) variables

# define the keras model
model = Sequential()
model.add(Dense(20, input_dim=16, activation='relu'))
model.add(Dense(14, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X, y, epochs=50, batch_size=10)
# evaluate the keras model
_, accuracy = model.evaluate(X, y)
print('Accuracy: %.2f' % (accuracy*100))

Epoch 1/50
100/100 [==============================] - 0s 1ms/step - loss: 1.3176 - accuracy: 0.4208
Epoch 2/50
100/100 [==============================] - 0s 1ms/step - loss: 0.9822 - accuracy: 0.4339
Epoch 3/50
100/100 [==============================] - 0s 1ms/step - loss: 5.3878 - accuracy: 0.3527
Epoch 4/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 5/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 6/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 7/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 8/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 9/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 10/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 11/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 12/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 13/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 14/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 15/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 16/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 17/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 18/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 19/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 20/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 21/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 22/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 23/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 24/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 25/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 26/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 27/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 28/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 29/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 30/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 31/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 32/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 33/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 34/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 35/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 36/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 37/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 38/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 39/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 40/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 41/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 42/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 43/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 44/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 45/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 46/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 47/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 48/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 49/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
Epoch 50/50
100/100 [==============================] - 0s 1ms/step - loss: 5.4396 - accuracy: 0.3307
32/32 [==============================] - 0s 885us/step - loss: 5.4396 - accuracy: 0.3307
Accuracy: 33.07

In [ ]:
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
from keras import metrics
from keras.optimizers import SGD

model = Sequential()
model.add(Dense(20, input_dim=16, activation='relu',kernel_initializer='normal'))
model.add(Dense(14, activation='relu',kernel_initializer='normal'))
model.add(Dense(6, activation='relu',kernel_initializer='normal'))
model.add(Dense(1, kernel_initializer='normal'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='mean_squared_error', optimizer="adam", metrics=[metrics.MeanSquaredError()])

# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=100, batch_size=10)
# evaluate the keras model
_, mse = model.evaluate(X_test, y_test)
print('mse: %.2f' % (mse))

Epoch 1/100
75/75 [==============================] - 0s 1ms/step - loss: 0.7389 - mean_squared_error: 0.7389
Epoch 2/100
75/75 [==============================] - 0s 1ms/step - loss: 0.6117 - mean_squared_error: 0.6117
Epoch 3/100
75/75 [==============================] - 0s 959us/step - loss: 0.6001 - mean_squared_error: 0.6001
Epoch 4/100
75/75 [==============================] - 0s 995us/step - loss: 0.5988 - mean_squared_error: 0.5988
Epoch 5/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5924 - mean_squared_error: 0.5924
Epoch 6/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5860 - mean_squared_error: 0.5860
Epoch 7/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5925 - mean_squared_error: 0.5925
Epoch 8/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5834 - mean_squared_error: 0.5834
Epoch 9/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5798 - mean_squared_error: 0.5798
Epoch 10/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5736 - mean_squared_error: 0.5736
Epoch 11/100
75/75 [==============================] - 0s 997us/step - loss: 0.5703 - mean_squared_error: 0.5703
Epoch 12/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5679 - mean_squared_error: 0.5679
Epoch 13/100
75/75 [==============================] - 0s 985us/step - loss: 0.5670 - mean_squared_error: 0.5670
Epoch 14/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5672 - mean_squared_error: 0.5672
Epoch 15/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5639 - mean_squared_error: 0.5639
Epoch 16/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5610 - mean_squared_error: 0.5610
Epoch 17/100
75/75 [==============================] - 0s 988us/step - loss: 0.5587 - mean_squared_error: 0.5587
Epoch 18/100
75/75 [==============================] - 0s 989us/step - loss: 0.5579 - mean_squared_error: 0.5579
Epoch 19/100
75/75 [==============================] - 0s 979us/step - loss: 0.5581 - mean_squared_error: 0.5581
Epoch 20/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5572 - mean_squared_error: 0.5572
Epoch 21/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5560 - mean_squared_error: 0.5560
Epoch 22/100
75/75 [==============================] - 0s 970us/step - loss: 0.5571 - mean_squared_error: 0.5571
Epoch 23/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5549 - mean_squared_error: 0.5549
Epoch 24/100
75/75 [==============================] - 0s 999us/step - loss: 0.5551 - mean_squared_error: 0.5551
Epoch 25/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5537 - mean_squared_error: 0.5537
Epoch 26/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5533 - mean_squared_error: 0.5533
Epoch 27/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5520 - mean_squared_error: 0.5520
Epoch 28/100
75/75 [==============================] - 0s 966us/step - loss: 0.5544 - mean_squared_error: 0.5544
Epoch 29/100
75/75 [==============================] - 0s 964us/step - loss: 0.5525 - mean_squared_error: 0.5525
Epoch 30/100
75/75 [==============================] - 0s 994us/step - loss: 0.5516 - mean_squared_error: 0.5516
Epoch 31/100
75/75 [==============================] - 0s 997us/step - loss: 0.5517 - mean_squared_error: 0.5517
Epoch 32/100
75/75 [==============================] - 0s 938us/step - loss: 0.5517 - mean_squared_error: 0.5517
Epoch 33/100
75/75 [==============================] - 0s 991us/step - loss: 0.5505 - mean_squared_error: 0.5505
Epoch 34/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5515 - mean_squared_error: 0.5515
Epoch 35/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5509 - mean_squared_error: 0.5509
Epoch 36/100
75/75 [==============================] - 0s 984us/step - loss: 0.5522 - mean_squared_error: 0.5522
Epoch 37/100
75/75 [==============================] - 0s 1000us/step - loss: 0.5512 - mean_squared_error: 0.5512
Epoch 38/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5514 - mean_squared_error: 0.5514
Epoch 39/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5496 - mean_squared_error: 0.5496
Epoch 40/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5528 - mean_squared_error: 0.5528
Epoch 41/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5510 - mean_squared_error: 0.5510
Epoch 42/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5504 - mean_squared_error: 0.5504
Epoch 43/100
75/75 [==============================] - 0s 980us/step - loss: 0.5517 - mean_squared_error: 0.5517
Epoch 44/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5505 - mean_squared_error: 0.5505
Epoch 45/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5501 - mean_squared_error: 0.5501
Epoch 46/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5513 - mean_squared_error: 0.5513
Epoch 47/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5502 - mean_squared_error: 0.5502
Epoch 48/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5496 - mean_squared_error: 0.5496
Epoch 49/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5499 - mean_squared_error: 0.5499
Epoch 50/100
75/75 [==============================] - 0s 959us/step - loss: 0.5496 - mean_squared_error: 0.5496
Epoch 51/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5511 - mean_squared_error: 0.5511
Epoch 52/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5513 - mean_squared_error: 0.5513
Epoch 53/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5514 - mean_squared_error: 0.5514
Epoch 54/100
75/75 [==============================] - 0s 982us/step - loss: 0.5493 - mean_squared_error: 0.5493
Epoch 55/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5496 - mean_squared_error: 0.5496
Epoch 56/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5505 - mean_squared_error: 0.5505
Epoch 57/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5507 - mean_squared_error: 0.5507
Epoch 58/100
75/75 [==============================] - 0s 981us/step - loss: 0.5508 - mean_squared_error: 0.5508
Epoch 59/100
75/75 [==============================] - 0s 974us/step - loss: 0.5496 - mean_squared_error: 0.5496
Epoch 60/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5507 - mean_squared_error: 0.5507
Epoch 61/100
75/75 [==============================] - 0s 976us/step - loss: 0.5508 - mean_squared_error: 0.5508
Epoch 62/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5502 - mean_squared_error: 0.5502
Epoch 63/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5501 - mean_squared_error: 0.5501
Epoch 64/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5500 - mean_squared_error: 0.5500
Epoch 65/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5497 - mean_squared_error: 0.5497
Epoch 66/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5507 - mean_squared_error: 0.5507
Epoch 67/100
75/75 [==============================] - 0s 998us/step - loss: 0.5495 - mean_squared_error: 0.5495
Epoch 68/100
75/75 [==============================] - 0s 963us/step - loss: 0.5515 - mean_squared_error: 0.5515
Epoch 69/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5505 - mean_squared_error: 0.5505
Epoch 70/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5490 - mean_squared_error: 0.5490
Epoch 71/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5500 - mean_squared_error: 0.5500
Epoch 72/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5497 - mean_squared_error: 0.5497
Epoch 73/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5486 - mean_squared_error: 0.5486
Epoch 74/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5505 - mean_squared_error: 0.5505
Epoch 75/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5496 - mean_squared_error: 0.5496
Epoch 76/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5502 - mean_squared_error: 0.5502
Epoch 77/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5492 - mean_squared_error: 0.5492
Epoch 78/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5488 - mean_squared_error: 0.5488
Epoch 79/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5501 - mean_squared_error: 0.5501
Epoch 80/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5508 - mean_squared_error: 0.5508
Epoch 81/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5521 - mean_squared_error: 0.5521
Epoch 82/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5521 - mean_squared_error: 0.5521
Epoch 83/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5488 - mean_squared_error: 0.5488
Epoch 84/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5492 - mean_squared_error: 0.5492
Epoch 85/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5489 - mean_squared_error: 0.5489
Epoch 86/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5502 - mean_squared_error: 0.5502
Epoch 87/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5499 - mean_squared_error: 0.5499
Epoch 88/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5483 - mean_squared_error: 0.5483
Epoch 89/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5474 - mean_squared_error: 0.5474
Epoch 90/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5517 - mean_squared_error: 0.5517
Epoch 91/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5497 - mean_squared_error: 0.5497
Epoch 92/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5507 - mean_squared_error: 0.5507
Epoch 93/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5492 - mean_squared_error: 0.5492
Epoch 94/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5487 - mean_squared_error: 0.5487
Epoch 95/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5439 - mean_squared_error: 0.5439
Epoch 96/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5483 - mean_squared_error: 0.5483
Epoch 97/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5466 - mean_squared_error: 0.5466
Epoch 98/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5502 - mean_squared_error: 0.5502
Epoch 99/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5512 - mean_squared_error: 0.5512
Epoch 100/100
75/75 [==============================] - 0s 1ms/step - loss: 0.5484 - mean_squared_error: 0.5484
8/8 [==============================] - 0s 1ms/step - loss: 0.5095 - mean_squared_error: 0.5095
mse: 0.51

**KNN**


```
# This is formatted as code
```

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# y = df['School'].astype(str)
X_train_n, X_test_n, y_train_n, y_test_n = train_test_split(X, y, test_size=0.05, random_state=2000)
for i in range(1,20):
  neigh = KNeighborsClassifier(n_neighbors=i)
  neigh.fit(X_train_n, y_train_n)
  pred = neigh.predict(X_test_n)

  print(i,accuracy_score(y_test_n, pred))

1 0.1935483870967742
2 0.12903225806451613
3 0.1935483870967742
4 0.1935483870967742
5 0.25806451612903225
6 0.16129032258064516
7 0.1935483870967742
8 0.12903225806451613
9 0.12903225806451613
10 0.12903225806451613
11 0.12903225806451613
12 0.12903225806451613
13 0.1935483870967742
14 0.1935483870967742
15 0.22580645161290322
16 0.16129032258064516
17 0.12903225806451613
18 0.16129032258064516
19 0.0967741935483871

In [ ]:
# import gspread
# from oauth2client.client import GoogleCredentials as GC
# gc = gspread.authorize(GC.get_application_default())
# # create, and save df
# from gspread_dataframe import set_with_dataframe
# title = 'CheckAllschool'
# gc.create(title)  # if not exist
# sheet = gc.open(title).sheet1
# set_with_dataframe(sheet, df_final)
# df = pd.read_csv("ImpAllschool - Sheet1.csv")
# df1 = df.drop(['Full name'], axis = 1)
# df_final = pd.concat((pd.get_dummies(df_final['BachDegree'], prefix = 'B'), df_final), axis = 1).drop(['BachDegree'], axis = 1)
# df_final = pd.concat((pd.get_dummies(df_final['MasterDegree'], prefix = 'M'), df_final), axis = 1).drop(['MasterDegree'], axis = 1)
# df_final = pd.concat((pd.get_dummies(df_final['MBADegree'], prefix = "MBA"), df_final), axis = 1).drop(['MBADegree'], axis = 1)

# # df1

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer
# vectorizer = CountVectorizer()
# X = vectorizer.fit_transform(corpus)

In [ ]:
# # vectorizer.fit_transform(df_final['BachDegree'][0])
# # vectorizer.fit_transform(df_final['BachDegree'].tolist())

# vectorizer.fit_transform(df_final['BachDegree'].astype(str)).toarray()

In [ ]:
# df_final=df.drop(columns=['Total Exp',"MBA_tier"])

In [ ]:
y = df_final["School Rank"]
X = df_final.drop(["School Rank"], axis=1)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
# clf = LinearRegression()
# clf.fit(X_train, y_train)
# pred = clf.predict(X_test)
# # new = pd.DataFrame()
# # new['pred'] = pred
# # new['orig'] = y_test
# new = pd.DataFrame(np.array([np.array(y_test),pred])).transpose()

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, pred, squared=True)

34.80812488095258

In [ ]:
new

        0          1
0    20.0  10.882609
1     1.0   6.755339
2    20.0  13.557923
3     1.0   5.273310
4    20.0  12.816439
..    ...        ...
129   1.0   5.301782
130   8.0   3.666195
131   1.0   3.252333
132   1.0   3.932839
133   1.0   6.496023

[134 rows x 2 columns]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

y = df['School'].astype(str)
X_train_n, X_test_n, y_train_n, y_test_n = train_test_split(X, y, test_size=0.05, random_state=2000)
for i in range(1,20):
  neigh = KNeighborsClassifier(n_neighbors=i)
  neigh.fit(X_train_n, y_train_n)
  pred = neigh.predict(X_test_n)

  print(i,accuracy_score(y_test_n, pred))

1 0.2647058823529412
2 0.08823529411764706
3 0.20588235294117646
4 0.29411764705882354
5 0.23529411764705882
6 0.3235294117647059
7 0.2647058823529412
8 0.2647058823529412
9 0.2647058823529412
10 0.23529411764705882
11 0.17647058823529413
12 0.20588235294117646
13 0.2647058823529412
14 0.29411764705882354
15 0.3235294117647059
16 0.23529411764705882
17 0.23529411764705882
18 0.2647058823529412
19 0.29411764705882354

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
pd.DataFrame(np.array([pred, np.array(y_test_n)])).transpose()

          0        1
0   Wharton      CBS
1   Wharton      CBS
2   Wharton     Ivey
3   Wharton  Wharton
4     Booth    Booth
5     Booth  Wharton
6   Wharton    Booth
7   Wharton  Wharton
8   Wharton  Wharton
9      Ivey     Ivey
10     Ivey     Ivey
11  Wharton      CBS
12  Wharton  Wharton
13    Booth   Kelogg
14  Wharton  Wharton
15  Wharton     Ivey
16  Wharton     Ivey
17    Booth  Wharton
18  Wharton     Ivey
19      HBS  Wharton
20  Wharton      HBS
21      HBS      HBS
22  Wharton  Wharton
23  Wharton      HBS
24    Booth    Booth
25    Booth    Booth
26  Wharton  Wharton
27      HBS    Booth
28  Wharton  Wharton
29  Wharton  Wharton
30  Wharton   Kelogg
31  Wharton     Ivey
32  Wharton  Wharton
33  Wharton  Wharton

In [ ]:
df["School"].value_counts()

Wharton    260
Ivey        92
Booth       92
Kelogg      76
CBS         76
HBS         71
Name: School, dtype: int64

In [ ]:
y_test_n=y_test_n.map({"CBS":8, "Wharton":1, "Booth":3, "Kelogg":3, "HBS":6, "Ivey":20})
y_train_n=y_train_n.map({"CBS":8, "Wharton":1, "Booth":3, "Kelogg":3, "HBS":6, "Ivey":20})

In [ ]:

clf = LinearRegression()
clf.fit(X_train_n, y_train_n)
pred = clf.predict(X_test_n)
new = pd.DataFrame(np.array([np.array(y_test_n),pred])).transpose()
new

       0          1
0   20.0   2.813195
1    1.0   9.954321
2    1.0   3.896060
3    3.0   3.592823
4    3.0   2.698252
5    6.0   2.293570
6    6.0   4.278822
7    1.0   3.024694
8    6.0   7.441061
9    6.0   1.206326
10  20.0  13.497353
11   1.0   1.562396
12   1.0   1.758303
13   3.0   1.538279
14   1.0   3.265905
15   3.0  11.942674
16   1.0   5.180623
17   1.0   2.969845
18  20.0  12.744815
19   8.0   5.684873
20   1.0   4.725448
21   6.0   3.258543
22   3.0   2.845139
23   6.0   7.598233
24  20.0  12.036091
25   1.0   3.749256
26   1.0   5.041659
27   6.0   4.230201
28   1.0   3.959157
29   8.0   4.534131
30   8.0   4.967501
31  20.0  12.074427
32   1.0   3.848970
33   6.0   3.385236

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test_n, pred, squared=True)

25.35824395085863

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

class Antirectifier(layers.Layer):
    def __init__(self, initializer="he_normal", **kwargs):
        super(Antirectifier, self).__init__(**kwargs)
        self.initializer = keras.initializers.get(initializer)

    def build(self, input_shape):
        output_dim = input_shape[-1]
        self.kernel = self.add_weight(
            shape=(output_dim * 2, output_dim),
            initializer=self.initializer,
            name="kernel",
            trainable=True,
        )

    def call(self, inputs):
        inputs -= tf.reduce_mean(inputs, axis=-1, keepdims=True)
        pos = tf.nn.relu(inputs)
        neg = tf.nn.relu(-inputs)
        concatenated = tf.concat([pos, neg], axis=-1)
        mixed = tf.matmul(concatenated, self.kernel)
        return mixed

    def get_config(self):
        # Implement get_config to enable serialization. This is optional.
        base_config = super(Antirectifier, self).get_config()
        config = {"initializer": keras.initializers.serialize(self.initializer)}
        return dict(list(base_config.items()) + list(config.items()))

In [ ]:
# Training parameters
batch_size = 128
num_classes = 10
epochs = 20

# The data, split between train and test sets
# (x_train, y_train), (x_test, y_test) = keras.datasets.mnist.load_data()

# x_train = x_train.reshape(-1, 18)
# x_test = x_test.reshape(-1, 18)
x_train = x_train.astype("float32")
x_test = x_test.astype("float32")
x_train /= 255
x_test /= 255
print(x_train.shape[0], "train samples")
print(x_test.shape[0], "test samples")

# Build the model
model = keras.Sequential(
    [
        keras.Input(shape=(18,)),
        layers.Dense(256),
        Antirectifier(),
        layers.Dense(256),
        Antirectifier(),
        layers.Dropout(0.5),
        layers.Dense(10),
    ]
)

# Compile the model
model.compile(
    loss=keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    optimizer=keras.optimizers.RMSprop(),
    metrics=[keras.metrics.SparseCategoricalAccuracy()],
)

# Train the model
model.fit(x_train, y_train, batch_size=batch_size, epochs=epochs, validation_split=0.15)

# Test the model
model.evaluate(x_test, y_test)

391 train samples
98 test samples
Epoch 1/20

InvalidArgumentError: ignored

In [ ]:

# first neural network with keras tutorial
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
from keras import metrics
from keras.optimizers import SGD

In [ ]:
df_final["School Rank"].unique()

array([20,  2,  6,  1,  4, 10])

In [ ]:
# model = Sequential()
y = df_final["School Rank"]
X = df_final.drop(["School Rank"], axis=1)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
# clf = LinearRegression()
# clf.fit(X_train, y_train)
# pred = clf.predict(X_test)
# # new = pd.DataFrame()
# # new['pred'] = pred
# # new['orig'] = y_test
# new = pd.DataFrame(np.array([np.array(y_test),pred])).transpose()

In [ ]:
model = Sequential()
model.add(Dense(25, input_dim=18, activation='relu',kernel_initializer='normal'))
model.add(Dense(20, activation='relu',kernel_initializer='normal'))
model.add(Dense(15, activation='relu',kernel_initializer='normal'))
model.add(Dense(10, activation='relu',kernel_initializer='normal'))
model.add(Dense(5, activation='relu',kernel_initializer='normal'))
model.add(Dense(1, kernel_initializer='normal'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='mean_squared_error', optimizer="adam", metrics=[metrics.MeanSquaredError()])



# fit the keras model on the dataset
model.fit(x_train, y_train, epochs=100, batch_size=20)
# evaluate the keras model
_, accuracy = model.evaluate(x_test, y_test)
print('accuracy: %.2f' % (accuracy))

Epoch 1/100
391/391 [==============================] - 0s 869us/step - loss: 81.6232 - mean_squared_error: 81.6232
Epoch 2/100
391/391 [==============================] - 0s 71us/step - loss: 79.7396 - mean_squared_error: 79.7396
Epoch 3/100
391/391 [==============================] - 0s 72us/step - loss: 60.8578 - mean_squared_error: 60.8578
Epoch 4/100
391/391 [==============================] - 0s 71us/step - loss: 49.3856 - mean_squared_error: 49.3856
Epoch 5/100
391/391 [==============================] - 0s 70us/step - loss: 47.4923 - mean_squared_error: 47.4923
Epoch 6/100
391/391 [==============================] - 0s 72us/step - loss: 45.7637 - mean_squared_error: 45.7637
Epoch 7/100
391/391 [==============================] - 0s 78us/step - loss: 45.6341 - mean_squared_error: 45.6341
Epoch 8/100
391/391 [==============================] - 0s 72us/step - loss: 45.7382 - mean_squared_error: 45.7382
Epoch 9/100
391/391 [==============================] - 0s 71us/step - loss: 47.5895 - mean_squared_error: 47.5895
Epoch 10/100
391/391 [==============================] - 0s 69us/step - loss: 46.9163 - mean_squared_error: 46.9163
Epoch 11/100
391/391 [==============================] - 0s 71us/step - loss: 45.7664 - mean_squared_error: 45.7664
Epoch 12/100
391/391 [==============================] - 0s 74us/step - loss: 45.9032 - mean_squared_error: 45.9032
Epoch 13/100
391/391 [==============================] - 0s 75us/step - loss: 45.1395 - mean_squared_error: 45.1395
Epoch 14/100
391/391 [==============================] - 0s 69us/step - loss: 45.5605 - mean_squared_error: 45.5605
Epoch 15/100
391/391 [==============================] - 0s 73us/step - loss: 45.1940 - mean_squared_error: 45.1940
Epoch 16/100
391/391 [==============================] - 0s 69us/step - loss: 45.0899 - mean_squared_error: 45.0899
Epoch 17/100
391/391 [==============================] - 0s 80us/step - loss: 44.9382 - mean_squared_error: 44.9382
Epoch 18/100
391/391 [==============================] - 0s 69us/step - loss: 44.8650 - mean_squared_error: 44.8650
Epoch 19/100
391/391 [==============================] - 0s 69us/step - loss: 44.6483 - mean_squared_error: 44.6483
Epoch 20/100
391/391 [==============================] - 0s 68us/step - loss: 45.1548 - mean_squared_error: 45.1548
Epoch 21/100
391/391 [==============================] - 0s 79us/step - loss: 44.7102 - mean_squared_error: 44.7102
Epoch 22/100
391/391 [==============================] - 0s 67us/step - loss: 44.7296 - mean_squared_error: 44.7296
Epoch 23/100
391/391 [==============================] - 0s 75us/step - loss: 44.9584 - mean_squared_error: 44.9584
Epoch 24/100
391/391 [==============================] - 0s 77us/step - loss: 44.8997 - mean_squared_error: 44.8997
Epoch 25/100
391/391 [==============================] - 0s 73us/step - loss: 44.4702 - mean_squared_error: 44.4702
Epoch 26/100
391/391 [==============================] - 0s 83us/step - loss: 44.5244 - mean_squared_error: 44.5244
Epoch 27/100
391/391 [==============================] - 0s 112us/step - loss: 44.4230 - mean_squared_error: 44.4230
Epoch 28/100
391/391 [==============================] - 0s 104us/step - loss: 44.6552 - mean_squared_error: 44.6552
Epoch 29/100
391/391 [==============================] - 0s 106us/step - loss: 44.1469 - mean_squared_error: 44.1469
Epoch 30/100
391/391 [==============================] - 0s 110us/step - loss: 44.2900 - mean_squared_error: 44.2900
Epoch 31/100
391/391 [==============================] - 0s 82us/step - loss: 44.3406 - mean_squared_error: 44.3406
Epoch 32/100
391/391 [==============================] - 0s 79us/step - loss: 43.8851 - mean_squared_error: 43.8851
Epoch 33/100
391/391 [==============================] - 0s 85us/step - loss: 44.3027 - mean_squared_error: 44.3027
Epoch 34/100
391/391 [==============================] - 0s 85us/step - loss: 44.1343 - mean_squared_error: 44.1343
Epoch 35/100
391/391 [==============================] - 0s 87us/step - loss: 44.0244 - mean_squared_error: 44.0244
Epoch 36/100
391/391 [==============================] - 0s 85us/step - loss: 43.9046 - mean_squared_error: 43.9046
Epoch 37/100
391/391 [==============================] - 0s 87us/step - loss: 45.3233 - mean_squared_error: 45.3233
Epoch 38/100
391/391 [==============================] - 0s 86us/step - loss: 45.5172 - mean_squared_error: 45.5172
Epoch 39/100
391/391 [==============================] - 0s 82us/step - loss: 44.0298 - mean_squared_error: 44.0298
Epoch 40/100
391/391 [==============================] - 0s 93us/step - loss: 43.6485 - mean_squared_error: 43.6485
Epoch 41/100
391/391 [==============================] - 0s 87us/step - loss: 43.8340 - mean_squared_error: 43.8340
Epoch 42/100
391/391 [==============================] - 0s 87us/step - loss: 44.4615 - mean_squared_error: 44.4615
Epoch 43/100
391/391 [==============================] - 0s 86us/step - loss: 43.8716 - mean_squared_error: 43.8716
Epoch 44/100
391/391 [==============================] - 0s 85us/step - loss: 43.7730 - mean_squared_error: 43.7730
Epoch 45/100
391/391 [==============================] - 0s 86us/step - loss: 43.2785 - mean_squared_error: 43.2785
Epoch 46/100
391/391 [==============================] - 0s 76us/step - loss: 43.8156 - mean_squared_error: 43.8156
Epoch 47/100
391/391 [==============================] - 0s 68us/step - loss: 43.7108 - mean_squared_error: 43.7108
Epoch 48/100
391/391 [==============================] - 0s 75us/step - loss: 43.4747 - mean_squared_error: 43.4747
Epoch 49/100
391/391 [==============================] - 0s 71us/step - loss: 43.1580 - mean_squared_error: 43.1581
Epoch 50/100
391/391 [==============================] - 0s 87us/step - loss: 43.3543 - mean_squared_error: 43.3543
Epoch 51/100
391/391 [==============================] - 0s 87us/step - loss: 43.1578 - mean_squared_error: 43.1578
Epoch 52/100
391/391 [==============================] - 0s 72us/step - loss: 43.9478 - mean_squared_error: 43.9478
Epoch 53/100
391/391 [==============================] - 0s 75us/step - loss: 42.6541 - mean_squared_error: 42.6541
Epoch 54/100
391/391 [==============================] - 0s 70us/step - loss: 43.1709 - mean_squared_error: 43.1709
Epoch 55/100
391/391 [==============================] - 0s 71us/step - loss: 43.4631 - mean_squared_error: 43.4631
Epoch 56/100
391/391 [==============================] - 0s 72us/step - loss: 43.1942 - mean_squared_error: 43.1942
Epoch 57/100
391/391 [==============================] - 0s 84us/step - loss: 42.6530 - mean_squared_error: 42.6530
Epoch 58/100
391/391 [==============================] - 0s 90us/step - loss: 43.5527 - mean_squared_error: 43.5527
Epoch 59/100
391/391 [==============================] - 0s 90us/step - loss: 42.7823 - mean_squared_error: 42.7823
Epoch 60/100
391/391 [==============================] - 0s 101us/step - loss: 42.6259 - mean_squared_error: 42.6259
Epoch 61/100
391/391 [==============================] - 0s 88us/step - loss: 42.4589 - mean_squared_error: 42.4589
Epoch 62/100
391/391 [==============================] - 0s 84us/step - loss: 42.2070 - mean_squared_error: 42.2070
Epoch 63/100
391/391 [==============================] - 0s 82us/step - loss: 42.3439 - mean_squared_error: 42.3438
Epoch 64/100
391/391 [==============================] - 0s 82us/step - loss: 42.3362 - mean_squared_error: 42.3362
Epoch 65/100
391/391 [==============================] - 0s 83us/step - loss: 42.7884 - mean_squared_error: 42.7884
Epoch 66/100
391/391 [==============================] - 0s 88us/step - loss: 42.2607 - mean_squared_error: 42.2607
Epoch 67/100
391/391 [==============================] - 0s 91us/step - loss: 42.1352 - mean_squared_error: 42.1352
Epoch 68/100
391/391 [==============================] - 0s 87us/step - loss: 42.1115 - mean_squared_error: 42.1115
Epoch 69/100
391/391 [==============================] - 0s 86us/step - loss: 42.3075 - mean_squared_error: 42.3075
Epoch 70/100
391/391 [==============================] - 0s 88us/step - loss: 42.1535 - mean_squared_error: 42.1535
Epoch 71/100
391/391 [==============================] - 0s 83us/step - loss: 41.9348 - mean_squared_error: 41.9348
Epoch 72/100
391/391 [==============================] - 0s 90us/step - loss: 42.1239 - mean_squared_error: 42.1239
Epoch 73/100
391/391 [==============================] - 0s 89us/step - loss: 42.1284 - mean_squared_error: 42.1284
Epoch 74/100
391/391 [==============================] - 0s 85us/step - loss: 41.9094 - mean_squared_error: 41.9094
Epoch 75/100
391/391 [==============================] - 0s 83us/step - loss: 41.8601 - mean_squared_error: 41.8601
Epoch 76/100
391/391 [==============================] - 0s 75us/step - loss: 41.8257 - mean_squared_error: 41.8257
Epoch 77/100
391/391 [==============================] - 0s 71us/step - loss: 41.9349 - mean_squared_error: 41.9349
Epoch 78/100
391/391 [==============================] - 0s 73us/step - loss: 41.9543 - mean_squared_error: 41.9543
Epoch 79/100
391/391 [==============================] - 0s 68us/step - loss: 41.5340 - mean_squared_error: 41.5340
Epoch 80/100
391/391 [==============================] - 0s 72us/step - loss: 41.7790 - mean_squared_error: 41.7790
Epoch 81/100
391/391 [==============================] - 0s 69us/step - loss: 41.5637 - mean_squared_error: 41.5637
Epoch 82/100
391/391 [==============================] - 0s 82us/step - loss: 41.6107 - mean_squared_error: 41.6107
Epoch 83/100
391/391 [==============================] - 0s 74us/step - loss: 41.7310 - mean_squared_error: 41.7310
Epoch 84/100
391/391 [==============================] - 0s 76us/step - loss: 41.6131 - mean_squared_error: 41.6131
Epoch 85/100
391/391 [==============================] - 0s 69us/step - loss: 41.4276 - mean_squared_error: 41.4276
Epoch 86/100
391/391 [==============================] - 0s 78us/step - loss: 41.3312 - mean_squared_error: 41.3312
Epoch 87/100
391/391 [==============================] - 0s 72us/step - loss: 41.5468 - mean_squared_error: 41.5468
Epoch 88/100
391/391 [==============================] - 0s 66us/step - loss: 41.2893 - mean_squared_error: 41.2893
Epoch 89/100
391/391 [==============================] - 0s 77us/step - loss: 41.2135 - mean_squared_error: 41.2135
Epoch 90/100
391/391 [==============================] - 0s 78us/step - loss: 41.5233 - mean_squared_error: 41.5233
Epoch 91/100
391/391 [==============================] - 0s 69us/step - loss: 41.1118 - mean_squared_error: 41.1118
Epoch 92/100
391/391 [==============================] - 0s 77us/step - loss: 41.2994 - mean_squared_error: 41.2994
Epoch 93/100
391/391 [==============================] - 0s 71us/step - loss: 41.3410 - mean_squared_error: 41.3410
Epoch 94/100
391/391 [==============================] - 0s 70us/step - loss: 41.1971 - mean_squared_error: 41.1971
Epoch 95/100
391/391 [==============================] - 0s 73us/step - loss: 40.8567 - mean_squared_error: 40.8567
Epoch 96/100
391/391 [==============================] - 0s 76us/step - loss: 41.1464 - mean_squared_error: 41.1464
Epoch 97/100
391/391 [==============================] - 0s 72us/step - loss: 41.3636 - mean_squared_error: 41.3636
Epoch 98/100
391/391 [==============================] - 0s 71us/step - loss: 40.9629 - mean_squared_error: 40.9629
Epoch 99/100
391/391 [==============================] - 0s 70us/step - loss: 41.0481 - mean_squared_error: 41.0481
Epoch 100/100
391/391 [==============================] - 0s 67us/step - loss: 41.0861 - mean_squared_error: 41.0861
98/98 [==============================] - 0s 273us/step
accuracy: 44.68

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

y = df['School Rank'].astype(str)
X_train_n, X_test_n, y_train_n, y_test_n = train_test_split(X, y, test_size=0.05, random_state=2000)
for i in range(1,20):
  neigh = KNeighborsClassifier(n_neighbors=i)
  neigh.fit(X_train_n, y_train_n)
  pred = neigh.predict(X_test_n)

  print(i,accuracy_score(y_test_n, pred))

1 0.16
2 0.28
3 0.28
4 0.44
5 0.32
6 0.36
7 0.32
8 0.32
9 0.36
10 0.36
11 0.32
12 0.28
13 0.36
14 0.36
15 0.32
16 0.32
17 0.28
18 0.28
19 0.28

In [ ]:
df_final

     M_Commerce  M_Engineering  ...  MBA_req_1  School Rank
0             0              0  ...          0           20
1             0              1  ...          0            2
2             0              1  ...          0            6
3             0              1  ...          0            2
4             0              0  ...          1            2
..          ...            ...  ...        ...          ...
484           0              0  ...          0            1
485           0              0  ...          0            2
486           0              0  ...          0            2
487           0              0  ...          0            2
488           0              0  ...          0            4

[489 rows x 19 columns]

In [ ]:
df_final_1 = pd.concat((pd.get_dummies(df['School Rank'], prefix = 'R'), df), axis = 1)

In [ ]:
df_final_1 = df_final_1.drop(["School Rank"], axis = 1)

In [ ]:
df_final_1

     R_1  R_2  R_4  R_6  ...  BachTier  MasterTier  MBA_tier  MBA_req_1
0      0    0    0    0  ...         1           1         1          0
1      0    1    0    0  ...         5           1         1          0
2      0    0    0    1  ...         1           1         1          0
3      0    1    0    0  ...         2           1         1          0
4      0    1    0    0  ...         1           0         1          1
..   ...  ...  ...  ...  ...       ...         ...       ...        ...
484    1    0    0    0  ...         1           0         1          0
485    0    1    0    0  ...         1           0         1          0
486    0    1    0    0  ...         1           0         1          0
487    0    1    0    0  ...         1           0         1          0
488    0    0    1    0  ...         1           0         1          0

[489 rows x 26 columns]

In [ ]:
df_final_y_1 = df_final_1["R_1"]
df_final_x_1 = df_final_1.drop(["R_1","R_2","R_6","R_20","R_4","R_10"], axis=1)

In [ ]:
df_final_x_1.shape

(489, 20)

In [ ]:
X_train_d1, X_test_d1, y_train_d1, y_test_d1 = train_test_split(df_final_x_1, df_final_y_1, test_size=0.05, random_state=2000)

In [ ]:
model = Sequential()
model.add(Dense(25, input_dim=20, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

from imblearn.keras import balanced_batch_generator
from imblearn.under_sampling import NearMiss
training_generator, steps_per_epoch = balanced_batch_generator(X_train_d1, y_train_d1, sampler=NearMiss(), batch_size=10, random_state=42)
callback_history = model.fit_generator(generator=training_generator,steps_per_epoch=steps_per_epoch,epochs=100, verbose=0)

# # fit the keras model on the dataset
# model.fit(X_train_d1, y_train_d1, epochs=100, batch_size=20)
# evaluate the keras model
_, accuracy = model.evaluate(X_test_d1, y_test_d1)
print('accuracy: %.2f' % (accuracy*100))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

25/25 [==============================] - 0s 730us/step
accuracy: 88.00

In [ ]:
df_final_y_2 = df_final_1["R_2"]
df_final_x_2 = df_final_1.drop(["R_1","R_2","R_6","R_20","R_4","R_10"], axis=1)
X_train_d2, X_test_d2, y_train_d2, y_test_d2 = train_test_split(df_final_x_2, df_final_y_2, test_size=0.05, random_state=2000)

model = Sequential()
model.add(Dense(25, input_dim=20, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics = [metrics.AUC()])

from imblearn.keras import balanced_batch_generator
from imblearn.under_sampling import NearMiss
training_generator, steps_per_epoch = balanced_batch_generator(X_train_d2, y_train_d2, sampler=NearMiss(), batch_size=10, random_state=42)
callback_history = model.fit_generator(generator=training_generator,steps_per_epoch=steps_per_epoch,epochs=100, verbose=0)

# # fit the keras model on the dataset
# model.fit(X_train_d2, y_train_d2, epochs=100, batch_size=20)
# evaluate the keras model
_, accuracy = model.evaluate(X_test_d2, y_test_d2)
print('accuracy: %.2f' % (accuracy*100))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

25/25 [==============================] - 0s 2ms/step
accuracy: 50.00

In [ ]:
df_final_y_4 = df_final_1["R_4"]
df_final_x_4 = df_final_1.drop(["R_1","R_2","R_6","R_20","R_4","R_10"], axis=1)
X_train_d4, X_test_d4, y_train_d4, y_test_d4 = train_test_split(df_final_x_4, df_final_y_4, test_size=0.05, random_state=2000)

model = Sequential()
model.add(Dense(25, input_dim=20, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer='adam',  metrics = [metrics.AUC()])

from imblearn.keras import balanced_batch_generator
from imblearn.under_sampling import NearMiss
training_generator, steps_per_epoch = balanced_batch_generator(X_train_d4, y_train_d4, sampler=NearMiss(), batch_size=10, random_state=42)
callback_history = model.fit_generator(generator=training_generator,steps_per_epoch=steps_per_epoch,epochs=100, verbose=0)

# # fit the keras model on the dataset
# model.fit(X_train_d4, y_train_d4, epochs=200, batch_size=20)
# # evaluate the keras model
_, accuracy = model.evaluate(X_test_d4, y_test_d4)
print('accuracy: %.2f' % (accuracy*100))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

25/25 [==============================] - 0s 2ms/step
accuracy: 31.50

In [ ]:
df_final_y_6 = df_final_1["R_6"]
df_final_x_6 = df_final_1.drop(["R_1","R_2","R_6","R_20","R_4","R_10"], axis=1)
X_train_d6, X_test_d6, y_train_d6, y_test_d6 = train_test_split(df_final_x_6, df_final_y_6, test_size=0.05, random_state=2000)

model = Sequential()
model.add(Dense(25, input_dim=20, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer='adam',  metrics = [metrics.AUC()])

from imblearn.keras import balanced_batch_generator
from imblearn.under_sampling import NearMiss
training_generator, steps_per_epoch = balanced_batch_generator(X_train_d4, y_train_d4, sampler=NearMiss(), batch_size=10, random_state=42)
callback_history = model.fit_generator(generator=training_generator,steps_per_epoch=steps_per_epoch,epochs=100, verbose=0)
# fit the keras model on the dataset
# model.fit(X_train_d6, y_train_d6, epochs=200, batch_size=20)
# # evaluate the keras model
_, accuracy = model.evaluate(X_test_d6, y_test_d6)
print('accuracy: %.2f' % (accuracy*100))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

25/25 [==============================] - 0s 2ms/step
accuracy: 8.33

In [ ]:
df_final_y_10 = df_final_1["R_10"]
df_final_x_10 = df_final_1.drop(["R_1","R_2","R_6","R_20","R_4","R_10"], axis=1)
X_train_d10, X_test_d10, y_train_d10, y_test_d10 = train_test_split(df_final_x_10, df_final_y_10, test_size=0.05, random_state=2000)

model = Sequential()
model.add(Dense(25, input_dim=20, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train_d10, y_train_d10, epochs=200, batch_size=20)
# evaluate the keras model
_, accuracy = model.evaluate(X_test_d10, y_test_d10)
print('accuracy: %.2f' % (accuracy*100))

Epoch 1/200
464/464 [==============================] - 0s 392us/step - loss: 13.8917 - accuracy: 0.8685
Epoch 2/200
464/464 [==============================] - 0s 74us/step - loss: 1.9835 - accuracy: 0.7629
Epoch 3/200
464/464 [==============================] - 0s 74us/step - loss: 1.1567 - accuracy: 0.8017
Epoch 4/200
464/464 [==============================] - 0s 73us/step - loss: 1.1075 - accuracy: 0.8017
Epoch 5/200
464/464 [==============================] - 0s 72us/step - loss: 1.1248 - accuracy: 0.7823
Epoch 6/200
464/464 [==============================] - 0s 72us/step - loss: 1.0323 - accuracy: 0.7694
Epoch 7/200
464/464 [==============================] - 0s 74us/step - loss: 0.6862 - accuracy: 0.7866
Epoch 8/200
464/464 [==============================] - 0s 71us/step - loss: 0.6021 - accuracy: 0.8082
Epoch 9/200
464/464 [==============================] - 0s 74us/step - loss: 0.6505 - accuracy: 0.8384
Epoch 10/200
464/464 [==============================] - 0s 74us/step - loss: 0.5882 - accuracy: 0.7953
Epoch 11/200
464/464 [==============================] - 0s 93us/step - loss: 0.4770 - accuracy: 0.8491
Epoch 12/200
464/464 [==============================] - 0s 80us/step - loss: 0.4954 - accuracy: 0.8578
Epoch 13/200
464/464 [==============================] - 0s 81us/step - loss: 0.4603 - accuracy: 0.8427
Epoch 14/200
464/464 [==============================] - 0s 86us/step - loss: 0.5306 - accuracy: 0.8534
Epoch 15/200
464/464 [==============================] - 0s 85us/step - loss: 0.5303 - accuracy: 0.8168
Epoch 16/200
464/464 [==============================] - 0s 76us/step - loss: 0.5393 - accuracy: 0.8448
Epoch 17/200
464/464 [==============================] - 0s 72us/step - loss: 0.5983 - accuracy: 0.8082
Epoch 18/200
464/464 [==============================] - 0s 75us/step - loss: 0.6229 - accuracy: 0.8427
Epoch 19/200
464/464 [==============================] - 0s 76us/step - loss: 0.5816 - accuracy: 0.8017
Epoch 20/200
464/464 [==============================] - 0s 77us/step - loss: 0.6175 - accuracy: 0.8384
Epoch 21/200
464/464 [==============================] - 0s 75us/step - loss: 0.6027 - accuracy: 0.7953
Epoch 22/200
464/464 [==============================] - 0s 74us/step - loss: 0.4713 - accuracy: 0.8254
Epoch 23/200
464/464 [==============================] - 0s 74us/step - loss: 0.4190 - accuracy: 0.8534
Epoch 24/200
464/464 [==============================] - 0s 73us/step - loss: 0.4827 - accuracy: 0.8599
Epoch 25/200
464/464 [==============================] - 0s 72us/step - loss: 0.4418 - accuracy: 0.8362
Epoch 26/200
464/464 [==============================] - 0s 74us/step - loss: 0.4572 - accuracy: 0.8556
Epoch 27/200
464/464 [==============================] - 0s 78us/step - loss: 0.4301 - accuracy: 0.8599
Epoch 28/200
464/464 [==============================] - 0s 72us/step - loss: 0.4791 - accuracy: 0.8491
Epoch 29/200
464/464 [==============================] - 0s 72us/step - loss: 0.4190 - accuracy: 0.8491
Epoch 30/200
464/464 [==============================] - 0s 74us/step - loss: 0.5082 - accuracy: 0.8384
Epoch 31/200
464/464 [==============================] - 0s 81us/step - loss: 0.4611 - accuracy: 0.8491
Epoch 32/200
464/464 [==============================] - 0s 72us/step - loss: 0.5319 - accuracy: 0.8384
Epoch 33/200
464/464 [==============================] - 0s 72us/step - loss: 0.5529 - accuracy: 0.8254
Epoch 34/200
464/464 [==============================] - 0s 76us/step - loss: 0.4287 - accuracy: 0.8621
Epoch 35/200
464/464 [==============================] - 0s 79us/step - loss: 0.5013 - accuracy: 0.8599
Epoch 36/200
464/464 [==============================] - 0s 81us/step - loss: 0.4964 - accuracy: 0.8362
Epoch 37/200
464/464 [==============================] - 0s 75us/step - loss: 0.4973 - accuracy: 0.8513
Epoch 38/200
464/464 [==============================] - 0s 81us/step - loss: 0.5144 - accuracy: 0.8491
Epoch 39/200
464/464 [==============================] - 0s 75us/step - loss: 0.4507 - accuracy: 0.8534
Epoch 40/200
464/464 [==============================] - 0s 74us/step - loss: 0.4004 - accuracy: 0.8621
Epoch 41/200
464/464 [==============================] - 0s 83us/step - loss: 0.3987 - accuracy: 0.8599
Epoch 42/200
464/464 [==============================] - 0s 73us/step - loss: 0.3961 - accuracy: 0.8664
Epoch 43/200
464/464 [==============================] - 0s 92us/step - loss: 0.4010 - accuracy: 0.8664
Epoch 44/200
464/464 [==============================] - 0s 87us/step - loss: 0.4407 - accuracy: 0.8621
Epoch 45/200
464/464 [==============================] - 0s 94us/step - loss: 0.4088 - accuracy: 0.8556
Epoch 46/200
464/464 [==============================] - 0s 86us/step - loss: 0.4024 - accuracy: 0.8491
Epoch 47/200
464/464 [==============================] - 0s 74us/step - loss: 0.3845 - accuracy: 0.8685
Epoch 48/200
464/464 [==============================] - 0s 75us/step - loss: 0.4024 - accuracy: 0.8685
Epoch 49/200
464/464 [==============================] - 0s 78us/step - loss: 0.4190 - accuracy: 0.8534
Epoch 50/200
464/464 [==============================] - 0s 77us/step - loss: 0.3891 - accuracy: 0.8621
Epoch 51/200
464/464 [==============================] - 0s 74us/step - loss: 0.3713 - accuracy: 0.8621
Epoch 52/200
464/464 [==============================] - 0s 74us/step - loss: 0.4004 - accuracy: 0.8664
Epoch 53/200
464/464 [==============================] - 0s 75us/step - loss: 0.3722 - accuracy: 0.8750
Epoch 54/200
464/464 [==============================] - 0s 76us/step - loss: 0.3786 - accuracy: 0.8642
Epoch 55/200
464/464 [==============================] - 0s 84us/step - loss: 0.4625 - accuracy: 0.8254
Epoch 56/200
464/464 [==============================] - 0s 86us/step - loss: 0.4219 - accuracy: 0.8599
Epoch 57/200
464/464 [==============================] - 0s 73us/step - loss: 0.4413 - accuracy: 0.8664
Epoch 58/200
464/464 [==============================] - 0s 80us/step - loss: 0.3934 - accuracy: 0.8664
Epoch 59/200
464/464 [==============================] - 0s 71us/step - loss: 0.4191 - accuracy: 0.8470
Epoch 60/200
464/464 [==============================] - 0s 75us/step - loss: 0.4008 - accuracy: 0.8685
Epoch 61/200
464/464 [==============================] - 0s 71us/step - loss: 0.4321 - accuracy: 0.8513
Epoch 62/200
464/464 [==============================] - 0s 74us/step - loss: 0.4063 - accuracy: 0.8513
Epoch 63/200
464/464 [==============================] - 0s 74us/step - loss: 0.4273 - accuracy: 0.8513
Epoch 64/200
464/464 [==============================] - 0s 77us/step - loss: 0.4778 - accuracy: 0.8254
Epoch 65/200
464/464 [==============================] - 0s 74us/step - loss: 0.6020 - accuracy: 0.8405
Epoch 66/200
464/464 [==============================] - 0s 75us/step - loss: 0.4650 - accuracy: 0.8427
Epoch 67/200
464/464 [==============================] - 0s 73us/step - loss: 0.4152 - accuracy: 0.8578
Epoch 68/200
464/464 [==============================] - 0s 88us/step - loss: 0.3895 - accuracy: 0.8664
Epoch 69/200
464/464 [==============================] - 0s 82us/step - loss: 0.4062 - accuracy: 0.8599
Epoch 70/200
464/464 [==============================] - 0s 74us/step - loss: 0.3942 - accuracy: 0.8728
Epoch 71/200
464/464 [==============================] - 0s 75us/step - loss: 0.4508 - accuracy: 0.8470
Epoch 72/200
464/464 [==============================] - 0s 71us/step - loss: 0.3833 - accuracy: 0.8728
Epoch 73/200
464/464 [==============================] - 0s 77us/step - loss: 0.3719 - accuracy: 0.8707
Epoch 74/200
464/464 [==============================] - 0s 72us/step - loss: 0.3767 - accuracy: 0.8621
Epoch 75/200
464/464 [==============================] - 0s 72us/step - loss: 0.4036 - accuracy: 0.8642
Epoch 76/200
464/464 [==============================] - 0s 72us/step - loss: 0.3782 - accuracy: 0.8664
Epoch 77/200
464/464 [==============================] - 0s 71us/step - loss: 0.3680 - accuracy: 0.8642
Epoch 78/200
464/464 [==============================] - 0s 82us/step - loss: 0.3847 - accuracy: 0.8707
Epoch 79/200
464/464 [==============================] - 0s 73us/step - loss: 0.3750 - accuracy: 0.8728
Epoch 80/200
464/464 [==============================] - 0s 77us/step - loss: 0.4459 - accuracy: 0.8384
Epoch 81/200
464/464 [==============================] - 0s 71us/step - loss: 0.3718 - accuracy: 0.8685
Epoch 82/200
464/464 [==============================] - 0s 74us/step - loss: 0.3710 - accuracy: 0.8685
Epoch 83/200
464/464 [==============================] - 0s 80us/step - loss: 0.3660 - accuracy: 0.8707
Epoch 84/200
464/464 [==============================] - 0s 74us/step - loss: 0.3937 - accuracy: 0.8707
Epoch 85/200
464/464 [==============================] - 0s 73us/step - loss: 0.3558 - accuracy: 0.8664
Epoch 86/200
464/464 [==============================] - 0s 76us/step - loss: 0.3761 - accuracy: 0.8707
Epoch 87/200
464/464 [==============================] - 0s 76us/step - loss: 0.3851 - accuracy: 0.8642
Epoch 88/200
464/464 [==============================] - 0s 75us/step - loss: 0.3815 - accuracy: 0.8642
Epoch 89/200
464/464 [==============================] - 0s 83us/step - loss: 0.3832 - accuracy: 0.8685
Epoch 90/200
464/464 [==============================] - 0s 86us/step - loss: 0.3845 - accuracy: 0.8707
Epoch 91/200
464/464 [==============================] - 0s 86us/step - loss: 0.3708 - accuracy: 0.8621
Epoch 92/200
464/464 [==============================] - 0s 78us/step - loss: 0.3681 - accuracy: 0.8599
Epoch 93/200
464/464 [==============================] - 0s 80us/step - loss: 0.3832 - accuracy: 0.8685
Epoch 94/200
464/464 [==============================] - 0s 88us/step - loss: 0.3707 - accuracy: 0.8707
Epoch 95/200
464/464 [==============================] - 0s 92us/step - loss: 0.3640 - accuracy: 0.8664
Epoch 96/200
464/464 [==============================] - 0s 94us/step - loss: 0.3569 - accuracy: 0.8750
Epoch 97/200
464/464 [==============================] - 0s 72us/step - loss: 0.3878 - accuracy: 0.8707
Epoch 98/200
464/464 [==============================] - 0s 73us/step - loss: 0.3826 - accuracy: 0.8728
Epoch 99/200
464/464 [==============================] - 0s 76us/step - loss: 0.3777 - accuracy: 0.8707
Epoch 100/200
464/464 [==============================] - 0s 81us/step - loss: 0.3577 - accuracy: 0.8707
Epoch 101/200
464/464 [==============================] - 0s 73us/step - loss: 0.3912 - accuracy: 0.8513
Epoch 102/200
464/464 [==============================] - 0s 76us/step - loss: 0.3596 - accuracy: 0.8728
Epoch 103/200
464/464 [==============================] - 0s 74us/step - loss: 0.3577 - accuracy: 0.8707
Epoch 104/200
464/464 [==============================] - 0s 81us/step - loss: 0.3697 - accuracy: 0.8621
Epoch 105/200
464/464 [==============================] - 0s 73us/step - loss: 0.3881 - accuracy: 0.8578
Epoch 106/200
464/464 [==============================] - 0s 75us/step - loss: 0.3655 - accuracy: 0.8664
Epoch 107/200
464/464 [==============================] - 0s 75us/step - loss: 0.3840 - accuracy: 0.8642
Epoch 108/200
464/464 [==============================] - 0s 78us/step - loss: 0.3747 - accuracy: 0.8728
Epoch 109/200
464/464 [==============================] - 0s 83us/step - loss: 0.3714 - accuracy: 0.8556
Epoch 110/200
464/464 [==============================] - 0s 76us/step - loss: 0.3543 - accuracy: 0.8664
Epoch 111/200
464/464 [==============================] - 0s 76us/step - loss: 0.3505 - accuracy: 0.8750
Epoch 112/200
464/464 [==============================] - 0s 74us/step - loss: 0.3513 - accuracy: 0.8728
Epoch 113/200
464/464 [==============================] - 0s 74us/step - loss: 0.3451 - accuracy: 0.8728
Epoch 114/200
464/464 [==============================] - 0s 74us/step - loss: 0.3543 - accuracy: 0.8707
Epoch 115/200
464/464 [==============================] - 0s 75us/step - loss: 0.3515 - accuracy: 0.8772
Epoch 116/200
464/464 [==============================] - 0s 74us/step - loss: 0.3915 - accuracy: 0.8707
Epoch 117/200
464/464 [==============================] - 0s 73us/step - loss: 0.3765 - accuracy: 0.8664
Epoch 118/200
464/464 [==============================] - 0s 80us/step - loss: 0.3495 - accuracy: 0.8728
Epoch 119/200
464/464 [==============================] - 0s 74us/step - loss: 0.3485 - accuracy: 0.8685
Epoch 120/200
464/464 [==============================] - 0s 75us/step - loss: 0.3450 - accuracy: 0.8728
Epoch 121/200
464/464 [==============================] - 0s 77us/step - loss: 0.3478 - accuracy: 0.8750
Epoch 122/200
464/464 [==============================] - 0s 76us/step - loss: 0.3494 - accuracy: 0.8728
Epoch 123/200
464/464 [==============================] - 0s 92us/step - loss: 0.3418 - accuracy: 0.8728
Epoch 124/200
464/464 [==============================] - 0s 72us/step - loss: 0.4015 - accuracy: 0.8556
Epoch 125/200
464/464 [==============================] - 0s 73us/step - loss: 0.3408 - accuracy: 0.8664
Epoch 126/200
464/464 [==============================] - 0s 74us/step - loss: 0.3567 - accuracy: 0.8728
Epoch 127/200
464/464 [==============================] - 0s 73us/step - loss: 0.3510 - accuracy: 0.8728
Epoch 128/200
464/464 [==============================] - 0s 77us/step - loss: 0.3618 - accuracy: 0.8642
Epoch 129/200
464/464 [==============================] - 0s 73us/step - loss: 0.3894 - accuracy: 0.8578
Epoch 130/200
464/464 [==============================] - 0s 73us/step - loss: 0.3853 - accuracy: 0.8728
Epoch 131/200
464/464 [==============================] - 0s 76us/step - loss: 0.3586 - accuracy: 0.8642
Epoch 132/200
464/464 [==============================] - 0s 75us/step - loss: 0.3676 - accuracy: 0.8707
Epoch 133/200
464/464 [==============================] - 0s 76us/step - loss: 0.3403 - accuracy: 0.8728
Epoch 134/200
464/464 [==============================] - 0s 85us/step - loss: 0.3637 - accuracy: 0.8707
Epoch 135/200
464/464 [==============================] - 0s 77us/step - loss: 0.3623 - accuracy: 0.8664
Epoch 136/200
464/464 [==============================] - 0s 76us/step - loss: 0.3476 - accuracy: 0.8685
Epoch 137/200
464/464 [==============================] - 0s 73us/step - loss: 0.3467 - accuracy: 0.8728
Epoch 138/200
464/464 [==============================] - 0s 73us/step - loss: 0.3455 - accuracy: 0.8728
Epoch 139/200
464/464 [==============================] - 0s 77us/step - loss: 0.3510 - accuracy: 0.8772
Epoch 140/200
464/464 [==============================] - 0s 80us/step - loss: 0.3407 - accuracy: 0.8793
Epoch 141/200
464/464 [==============================] - 0s 74us/step - loss: 0.3416 - accuracy: 0.8642
Epoch 142/200
464/464 [==============================] - 0s 81us/step - loss: 0.3802 - accuracy: 0.8642
Epoch 143/200
464/464 [==============================] - 0s 76us/step - loss: 0.3478 - accuracy: 0.8728
Epoch 144/200
464/464 [==============================] - 0s 76us/step - loss: 0.3413 - accuracy: 0.8664
Epoch 145/200
464/464 [==============================] - 0s 78us/step - loss: 0.3493 - accuracy: 0.8728
Epoch 146/200
464/464 [==============================] - 0s 77us/step - loss: 0.3542 - accuracy: 0.8707
Epoch 147/200
464/464 [==============================] - 0s 79us/step - loss: 0.3408 - accuracy: 0.8772
Epoch 148/200
464/464 [==============================] - 0s 76us/step - loss: 0.3582 - accuracy: 0.8728
Epoch 149/200
464/464 [==============================] - 0s 73us/step - loss: 0.3490 - accuracy: 0.8728
Epoch 150/200
464/464 [==============================] - 0s 89us/step - loss: 0.3468 - accuracy: 0.8685
Epoch 151/200
464/464 [==============================] - 0s 76us/step - loss: 0.3394 - accuracy: 0.8728
Epoch 152/200
464/464 [==============================] - 0s 76us/step - loss: 0.3400 - accuracy: 0.8664
Epoch 153/200
464/464 [==============================] - 0s 83us/step - loss: 0.3542 - accuracy: 0.8578
Epoch 154/200
464/464 [==============================] - 0s 76us/step - loss: 0.3594 - accuracy: 0.8707
Epoch 155/200
464/464 [==============================] - 0s 80us/step - loss: 0.3867 - accuracy: 0.8621
Epoch 156/200
464/464 [==============================] - 0s 78us/step - loss: 0.3550 - accuracy: 0.8793
Epoch 157/200
464/464 [==============================] - 0s 72us/step - loss: 0.3322 - accuracy: 0.8750
Epoch 158/200
464/464 [==============================] - 0s 80us/step - loss: 0.3640 - accuracy: 0.8642
Epoch 159/200
464/464 [==============================] - 0s 81us/step - loss: 0.3361 - accuracy: 0.8750
Epoch 160/200
464/464 [==============================] - 0s 77us/step - loss: 0.3385 - accuracy: 0.8728
Epoch 161/200
464/464 [==============================] - 0s 83us/step - loss: 0.4002 - accuracy: 0.8470
Epoch 162/200
464/464 [==============================] - 0s 78us/step - loss: 0.3368 - accuracy: 0.8750
Epoch 163/200
464/464 [==============================] - 0s 77us/step - loss: 0.3581 - accuracy: 0.8750
Epoch 164/200
464/464 [==============================] - 0s 77us/step - loss: 0.3495 - accuracy: 0.8728
Epoch 165/200
464/464 [==============================] - 0s 79us/step - loss: 0.3425 - accuracy: 0.8772
Epoch 166/200
464/464 [==============================] - 0s 83us/step - loss: 0.3447 - accuracy: 0.8707
Epoch 167/200
464/464 [==============================] - 0s 76us/step - loss: 0.3469 - accuracy: 0.8750
Epoch 168/200
464/464 [==============================] - 0s 76us/step - loss: 0.3592 - accuracy: 0.8664
Epoch 169/200
464/464 [==============================] - 0s 78us/step - loss: 0.3637 - accuracy: 0.8707
Epoch 170/200
464/464 [==============================] - 0s 78us/step - loss: 0.3366 - accuracy: 0.8728
Epoch 171/200
464/464 [==============================] - 0s 77us/step - loss: 0.3501 - accuracy: 0.8772
Epoch 172/200
464/464 [==============================] - 0s 82us/step - loss: 0.3370 - accuracy: 0.8772
Epoch 173/200
464/464 [==============================] - 0s 75us/step - loss: 0.3539 - accuracy: 0.8685
Epoch 174/200
464/464 [==============================] - 0s 83us/step - loss: 0.3536 - accuracy: 0.8772
Epoch 175/200
464/464 [==============================] - 0s 77us/step - loss: 0.3314 - accuracy: 0.8772
Epoch 176/200
464/464 [==============================] - 0s 86us/step - loss: 0.3393 - accuracy: 0.8750
Epoch 177/200
464/464 [==============================] - 0s 79us/step - loss: 0.3294 - accuracy: 0.8772
Epoch 178/200
464/464 [==============================] - 0s 88us/step - loss: 0.3433 - accuracy: 0.8685
Epoch 179/200
464/464 [==============================] - 0s 97us/step - loss: 0.3426 - accuracy: 0.8685
Epoch 180/200
464/464 [==============================] - 0s 74us/step - loss: 0.3353 - accuracy: 0.8728
Epoch 181/200
464/464 [==============================] - 0s 80us/step - loss: 0.3282 - accuracy: 0.8728
Epoch 182/200
464/464 [==============================] - 0s 93us/step - loss: 0.3359 - accuracy: 0.8685
Epoch 183/200
464/464 [==============================] - 0s 96us/step - loss: 0.3359 - accuracy: 0.8707
Epoch 184/200
464/464 [==============================] - 0s 72us/step - loss: 0.3376 - accuracy: 0.8728
Epoch 185/200
464/464 [==============================] - 0s 82us/step - loss: 0.3531 - accuracy: 0.8470
Epoch 186/200
464/464 [==============================] - 0s 77us/step - loss: 0.3460 - accuracy: 0.8707
Epoch 187/200
464/464 [==============================] - 0s 77us/step - loss: 0.3725 - accuracy: 0.8534
Epoch 188/200
464/464 [==============================] - 0s 76us/step - loss: 0.3456 - accuracy: 0.8728
Epoch 189/200
464/464 [==============================] - 0s 78us/step - loss: 0.3439 - accuracy: 0.8728
Epoch 190/200
464/464 [==============================] - 0s 79us/step - loss: 0.3495 - accuracy: 0.8728
Epoch 191/200
464/464 [==============================] - 0s 80us/step - loss: 0.3694 - accuracy: 0.8621
Epoch 192/200
464/464 [==============================] - 0s 76us/step - loss: 0.3679 - accuracy: 0.8685
Epoch 193/200
464/464 [==============================] - 0s 77us/step - loss: 0.3951 - accuracy: 0.8556
Epoch 194/200

In [ ]:
df_final_y_20 = df_final_1["R_20"]
df_final_x_20 = df_final_1.drop(["R_1","R_2","R_6","R_20","R_4","R_10"], axis=1)
X_train_d20, X_test_d20, y_train_d20, y_test_d20 = train_test_split(df_final_x_20, df_final_y_20, test_size=0.05, random_state=2000)

model = Sequential()
model.add(Dense(25, input_dim=20, activation='relu'))
model.add(Dense(18, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
# opt = SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train_d20, y_train_d20, epochs=50, batch_size=20)
# evaluate the keras model
_, accuracy = model.evaluate(X_test_d20, y_test_d20)
print('accuracy: %.2f' % (accuracy*100))

Epoch 1/50
464/464 [==============================] - 0s 407us/step - loss: 70.2749 - accuracy: 0.8362
Epoch 2/50
464/464 [==============================] - 0s 76us/step - loss: 7.1968 - accuracy: 0.5323
Epoch 3/50
464/464 [==============================] - 0s 72us/step - loss: 1.7429 - accuracy: 0.4224
Epoch 4/50
464/464 [==============================] - 0s 75us/step - loss: 0.7646 - accuracy: 0.6724
Epoch 5/50
464/464 [==============================] - 0s 72us/step - loss: 0.7260 - accuracy: 0.8362
Epoch 6/50
464/464 [==============================] - 0s 70us/step - loss: 0.6892 - accuracy: 0.8362
Epoch 7/50
464/464 [==============================] - 0s 79us/step - loss: 0.6585 - accuracy: 0.8362
Epoch 8/50
464/464 [==============================] - 0s 77us/step - loss: 0.6358 - accuracy: 0.8362
Epoch 9/50
464/464 [==============================] - 0s 71us/step - loss: 0.6192 - accuracy: 0.8362
Epoch 10/50
464/464 [==============================] - 0s 76us/step - loss: 0.5812 - accuracy: 0.8362
Epoch 11/50
464/464 [==============================] - 0s 73us/step - loss: 0.5939 - accuracy: 0.8362
Epoch 12/50
464/464 [==============================] - 0s 73us/step - loss: 0.5873 - accuracy: 0.8362
Epoch 13/50
464/464 [==============================] - 0s 74us/step - loss: 0.5811 - accuracy: 0.8362
Epoch 14/50
464/464 [==============================] - 0s 75us/step - loss: 0.5759 - accuracy: 0.8362
Epoch 15/50
464/464 [==============================] - 0s 72us/step - loss: 0.5707 - accuracy: 0.8362
Epoch 16/50
464/464 [==============================] - 0s 73us/step - loss: 0.5604 - accuracy: 0.8362
Epoch 17/50
464/464 [==============================] - 0s 75us/step - loss: 0.5766 - accuracy: 0.8362
Epoch 18/50
464/464 [==============================] - 0s 74us/step - loss: 0.5603 - accuracy: 0.8362
Epoch 19/50
464/464 [==============================] - 0s 73us/step - loss: 0.5516 - accuracy: 0.8362
Epoch 20/50
464/464 [==============================] - 0s 72us/step - loss: 0.5467 - accuracy: 0.8362
Epoch 21/50
464/464 [==============================] - 0s 73us/step - loss: 0.5405 - accuracy: 0.8362
Epoch 22/50
464/464 [==============================] - 0s 75us/step - loss: 0.5365 - accuracy: 0.8362
Epoch 23/50
464/464 [==============================] - 0s 69us/step - loss: 0.5349 - accuracy: 0.8362
Epoch 24/50
464/464 [==============================] - 0s 72us/step - loss: 0.5307 - accuracy: 0.8362
Epoch 25/50
464/464 [==============================] - 0s 72us/step - loss: 0.5254 - accuracy: 0.8362
Epoch 26/50
464/464 [==============================] - 0s 75us/step - loss: 0.5198 - accuracy: 0.8362
Epoch 27/50
464/464 [==============================] - 0s 75us/step - loss: 0.5145 - accuracy: 0.8362
Epoch 28/50
464/464 [==============================] - 0s 77us/step - loss: 0.5108 - accuracy: 0.8362
Epoch 29/50
464/464 [==============================] - 0s 73us/step - loss: 0.5091 - accuracy: 0.8362
Epoch 30/50
464/464 [==============================] - 0s 85us/step - loss: 0.5042 - accuracy: 0.8362
Epoch 31/50
464/464 [==============================] - 0s 82us/step - loss: 0.5013 - accuracy: 0.8362
Epoch 32/50
464/464 [==============================] - 0s 74us/step - loss: 0.5051 - accuracy: 0.8362
Epoch 33/50
464/464 [==============================] - 0s 82us/step - loss: 0.4988 - accuracy: 0.8362
Epoch 34/50
464/464 [==============================] - 0s 73us/step - loss: 0.4966 - accuracy: 0.8362
Epoch 35/50
464/464 [==============================] - 0s 79us/step - loss: 0.4933 - accuracy: 0.8362
Epoch 36/50
464/464 [==============================] - 0s 81us/step - loss: 0.4921 - accuracy: 0.8362
Epoch 37/50
464/464 [==============================] - 0s 72us/step - loss: 0.4909 - accuracy: 0.8362
Epoch 38/50
464/464 [==============================] - 0s 70us/step - loss: 0.4886 - accuracy: 0.8362
Epoch 39/50
464/464 [==============================] - 0s 75us/step - loss: 0.4853 - accuracy: 0.8362
Epoch 40/50
464/464 [==============================] - 0s 82us/step - loss: 0.4821 - accuracy: 0.8362
Epoch 41/50
464/464 [==============================] - 0s 87us/step - loss: 0.4801 - accuracy: 0.8362
Epoch 42/50
464/464 [==============================] - 0s 77us/step - loss: 0.4781 - accuracy: 0.8362
Epoch 43/50
464/464 [==============================] - 0s 75us/step - loss: 0.4762 - accuracy: 0.8362
Epoch 44/50
464/464 [==============================] - 0s 74us/step - loss: 0.4743 - accuracy: 0.8362
Epoch 45/50
464/464 [==============================] - 0s 76us/step - loss: 0.4727 - accuracy: 0.8362
Epoch 46/50
464/464 [==============================] - 0s 69us/step - loss: 0.4711 - accuracy: 0.8362
Epoch 47/50
464/464 [==============================] - 0s 74us/step - loss: 0.4694 - accuracy: 0.8362
Epoch 48/50
464/464 [==============================] - 0s 75us/step - loss: 0.4679 - accuracy: 0.8362
Epoch 49/50
464/464 [==============================] - 0s 75us/step - loss: 0.4685 - accuracy: 0.8362
Epoch 50/50
464/464 [==============================] - 0s 83us/step - loss: 0.4668 - accuracy: 0.8362
25/25 [==============================] - 0s 785us/step
accuracy: 96.00